@include respond-to('lg') {
    .header{
        
        &__inner{
            position: relative;
            @include container(1024px);
            margin-bottom: 50px;
        }
        &__wrapper-for-col{
            position: relative;
            display: flex;
            .internal-blocks{

                &-col-2 {
                    width: 44%;
                }
                &__basket-dropdawn{
                    left: -35px;
                    padding: 14px 41px 21px 21px;
                    &:after{
                        right: 24.5px;
                    }
                    .internal-basket{

                        &__slider-prise{

                            &:after{
                                bottom: -8px;
                            }
                        }
                    }
                }
                &__block-menu{
                    
                    &.novelties{
                        width: 1024px;
                        padding: 0 10px;
                        box-sizing: border-box;
                        left: -10px;
                        
                        img{
                            width: 298px;
                        }
                        span{
                            margin-right: 0px;
                        }
                    }
                    &.male,
                    &.female{
                        left: -10px;
                        width: 1024px;
                        box-sizing: border-box;
                        padding: 0 10px;
                        div{
                            &:nth-of-type(6){
                                // display: none;
                            }
                        }
                    }
                }
            }
        }
    }

}