@include respond-to('md') {
    .header{

        &__inner{
            @include container(980px);
        }
        &__wrapper-for-col{
            position: relative;
            display: flex;
            .internal-blocks{

                &-col-2 {
                    width: 42%;
                }
                &__basket-dropdawn{
                    left: -4px;
                    padding: 14px 21px 21px 21px;
                    &:after{
                        right: 24.5px;
                    }
                    .internal-basket{

                        &__slider-prise{

                            &:after{
                                bottom: -8px;
                            }
                        }
                        &__lenk-basket{

                            a{
                                width: 278px;
                            }
                        }
                    }
                }
                &__block-menu{
                    
                    &.novelties{
                        width: 980px;
                        padding: 0 10px;
                        box-sizing: border-box;
                        left: -10px;
                        
                        img{
                            width: 284px;
                        }
                        span{
                            margin-right: 0px;
                        }
                    }
                    &.male,
                    &.female{
                        left: -10px;
                        width: 980px;
                        box-sizing: border-box;
                        padding: 0 10px;
                        div{
                            &:nth-of-type(6){
                                // display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}