@include respond-to('ml') {
    .header{
        
        &__inner{
            @include container(100%);
        }
        &__wrapper-for-col{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .internal-blocks{
                &-col-1 {
                    width: 50%;
                    padding-top: 21px;
                }
                &-col-2 {
                    width: 50%;
                    display: flex;
                    padding-top: 18px;
                    span{
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-right: 38px;
                        cursor: pointer;
                        padding: 0px 0;
                        &:hover{
                            color: #beac83;
                        }
                    }
                    a{
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-right: 38px;
                        text-decoration: none;
                    }
                }
                &-col-3 {
                    width: 100%;
                    background: #f8f8f9;
                    display: flex;
                    justify-content: space-evenly;
                    padding: 10px 0; 
                    margin-top: 24px;
                }
                &__logo{

                    img{
                        width: 89px;
                        height: 13px;
                    }
                }
                &__background-burger-menu{
                    position: absolute;
                    display: none;
                    left: 0;
                    top: 60px;
                    width: 100%;
                    height: 200px;
                    background: #fff;
                    z-index: 10;
                    span{
                        font: 16px/36px "FuturaPT-Book";
                        margin-right: 0px;
                    }
                }
                &__block-manu{
                    display: block;
                }
                &__block-images{
                    width: 56px;
                    &:last-child{
                        border: none;
                    }
                }
                &__internal-block-lock{
                    left: 11.2%;
                    .links{

                        &:after{
                            left: 63%;
                        }
                    }
                }
                &__burger-menu{
                    display: block;
                    margin: auto;
                    margin-right: 0px;
                     button{
                        width: 25px;
                        height: 18px;
                        background: url(../images/header/header-burger-menu.svg) center no-repeat;
                     }
                     &.active{
                         button{
                            background: url(../images/header/header-close-menu.svg) center no-repeat; 
                         }
                     }
                }
                &__basket-dropdawn{
                    left: auto;
                    right: 0;
                    width: 85%;
                    padding: 14px 21px 21px 21px;
                    &:after{
                        right: 24.5px;
                    }
                    .internal-basket{

                        &__slider-prise{

                            &:after{
                                bottom: -8px;
                            }
                        }
                        &__lenk-basket{

                            a{
                                width: 255px;
                            }
                        }
                        &__imaage-slider-basked{
                            
                            img{
                                width: 62px;
                                height: 89px;
                            }
                        }
                        &__text-slider-span{
                            width: 150px;
                            span{
                                display: block;
                                font: 12px/20px "FuturaPT-Book";
                                color: #444444;
                                &.color{
                                    color: #0d2f32;  
                                    margin-bottom: 2px;
                                } 
                            }
                        }
                        &__slider-prise{
                            position: relative;
                            text-align: right;
                            span{
                                display: block;
                                font: 14px "FuturaPT-Demi";
                                color: #0d2f32;
                                text-transform: uppercase;
                                &.color-red{
                                    font: 12px "FuturaPT-Medium";
                                    color: #87141a;
                                    text-transform: none;
                                }
                                &.line-through{
                                    text-decoration: line-through;
                                }
                            }
                            &:after{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                height: 15px;
                                width: 12px;
                                background-repeat: no-repeat; 
                                background-image: url(../images/header/rubbish-bin.svg);
                                cursor: pointer;
                            }
                        }
                    }
                    &:after{
                        right: 47.5px;
                    }
                }
                &__input-search{

                    input{
                        width: 66%;
                    }
                }
                &__block-menu{

                    &.novelties{
                        top: 0px;
                        width: 100%;
                        padding: 0 10px;
                        border-top: 0px;
                        box-sizing: border-box;
                        justify-content: center;
                        left: 0px;
                        padding-top: 50px;
                        img{
                            width: 252px;
                        }
                        span{
                            margin-right: 0px;
                        }
                        a{
                            margin-right: 0px;
                        }
                        .prev-menu{
                            position: absolute;
                            left: 10px;
                            top: 0;
                            button{
                                width: 16px;
                                height: 10px;
                                background: url(../images/main/arrow-prev.svg) center no-repeat;
                            }
                        }
                    }
                    .elements{
                        display: block;
                        padding-bottom: 7px;
                    }
                    &.male,
                    &.female{
                        position: absolute;
                        display: none;
                        left: 0;
                        top: 0;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 0 10px;
                        border-top: none;
                        a{
                            padding: 6px 0;
                        }
                        div{
                            &:nth-of-type(6){
                                display: none;
                            }
                        }
                        .prev-menu{
                            position: relative;
                            button{
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 14px;
                                height: 9px;
                                background: url(../images/main/arrow-prev.svg) center no-repeat;
                            }
                        }
                        .menu{
                            display: block;
                            padding-bottom: 15px;
                            span{

                                &.color-red{
                                    margin-bottom: 0px;
                                }
                                &.uppercase{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                &__basket{
                    margin-left: 0px;
                }
            }
        }
    }
}