@include respond-to('sm') {
    .header{

        &__inner{
            @include container(768px);
        }
        &__wrapper-for-col{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .internal-blocks{
                &-col-1 {
                    width: 50%;
                }
                &-col-2 {
                    width: 50%;
                    display: flex;
                    span{
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-right: 38px;
                        cursor: pointer;
                        padding: 0px 0;
                        &:hover{
                            color: #beac83;
                        }
                    }
                    a{
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-right: 38px;
                        text-decoration: none;
                    }
                }
                &-col-3 {
                    width: 100%;
                    background: #f8f8f9;
                    display: flex;
                    justify-content: space-evenly;
                    padding: 10px 0; 
                    margin-top: 24px;
                }
                &__background-burger-menu{
                    position: absolute;
                    display: none;
                    left: 0;
                    top: 70px;
                    width: 100%;
                    height: 200px;
                    background: #fff;
                    z-index: 10;
                    span{
                        font: 16px/36px "FuturaPT-Book";
                        margin-right: 0px;
                    }
                }
                &__block-manu{
                    display: block;
                }
                &__internal-block-lock{
                    left: 181px;
                }
                &__burger-menu{
                    display: block;
                    margin: auto;
                    margin-right: 0px;
                     button{
                        width: 25px;
                        height: 18px;
                        background: url(../images/header/header-burger-menu.svg) center no-repeat;
                     }
                     &.active{
                         button{
                            background: url(../images/header/header-close-menu.svg) center no-repeat; 
                         }
                     }
                }
                &__basket-dropdawn{
                    left: auto;
                    right: 67px;
                    width: 44%;
                    padding: 14px 21px 21px 21px;
                    &:after{
                        right: 24.5px;
                    }
                    .internal-basket{

                        &__slider-prise{

                            &:after{
                                bottom: -8px;
                            }
                        }
                        &__lenk-basket{

                            a{
                                width: 278px;
                            }
                        }
                    }
                }
                &__block-menu{

                    &.novelties{
                        top: 0px;
                        width: 768px;
                        padding: 0 10px;
                        border-top: 0px;
                        box-sizing: border-box;
                        justify-content: center;
                        left: -10px;
                        padding-top: 50px;
                        img{
                            width: auto;
                        }
                        span{
                            margin-right: 0px;
                        }
                        a{
                            margin-right: 0px;
                        }
                        .prev-menu{
                            position: absolute;
                            left: 10px;
                            top: 0;
                            button{
                                width: 16px;
                                height: 10px;
                                background: url(../images/main/arrow-prev.svg) center no-repeat;
                            }
                        }
                    }
                    .elements{
                        display: block;
                        padding-bottom: 7px;
                    }
                    &.male,
                    &.female{
                        position: absolute;
                        display: none;
                        left: 0;
                        top: 0;
                        left: -10px;
                        width: 768px;
                        box-sizing: border-box;
                        padding: 0 10px;
                        border-top: none;
                        div{
                            &:nth-of-type(6){
                                display: none;
                            }
                        }
                        .prev-menu{
                            position: relative;
                            button{
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 14px;
                                height: 9px;
                                background: url(../images/main/arrow-prev.svg) center no-repeat;
                            }
                        }
                        .menu{
                            display: block;
                            padding-bottom: 15px;
                            span{

                                &.color-red{
                                    margin-bottom: 0px;
                                }
                                &.uppercase{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}