@include respond-to('lg') {
    .page-product-card{
        &__inner{
            @include container(1024px);
            margin-top: 30px;
        }
        &__big-images{
            width: 636px;
            height: 780px;
        }
        &__top-images{

            img{
                height: 407px;
            }
        }
        &__background-subscriptions{
            width: 1024px;
        }
    }
}