@include respond-to('md') {
    .page-product-card{
        &__inner{
            @include container(980px);
            margin-top: 30px;
        }
        &__big-images{
            width: 607px;
            height: 780px;
        }
        &__top-images{

            img{
                height: 407px;
            }
        } 
        &__background-subscriptions{
            width: 980px;
        }
    }
}