@include respond-to('mm') {
    .page-product-card{
        &__inner{
            @include container(100%);
        }
        &__title{
            font-size: 20px;
        }
        &__top-images{

            img{
                height: 230px;
            }
        }
        &__btn-prev{
            top: -20px;
            right: 40px;
        }
        &__btn-next{
            top: -20px;
            right: 11px;
        }
        &__internal-element{
            justify-content: space-between;
            .button-add{
                margin-left: 40px;
            }
            .like-heart{
                display: none;
                margin-left: 40px;
                width: auto;
            }
        }
        &__choose-color{
            width: 100%;
        }
        .product-card{

            &__header-list{
                justify-content: space-between;
                .card-method__method-name{
                    width: auto;
                }
            }
        }
        &__wrapper-for-left-block{
            margin-top: 20px;
        }
        &__wrapper-specify-question{
            input{ 
                width: 100%;
                display: block;
            }
            form{
                text-align: center;
            }
            .block-click{
                text-align: left;
            }
        }
        &__product-wrapper{
            justify-content: space-around;
        }
        &__wrapper-image-model{

            .page-catalog__slider-new-collection{
                margin-left: initial;
            }
        }
        &__subscriptions-inner{
            width: 100%;
        }
        &__background-subscriptions{
            width: 100%;
        }
    }
    .modal-buy-way{

        &__inner{
            width: 100%;
            min-height: 878px;
        }
        .col{
            padding: 36px 15px 0px 15px;
        }
        &__wrapper-for-block{

            .images{
                width: 13.65%;
                &:nth-of-type(1){
                    
                    img{
                        width: 50px;
                        height: 73px; 
                     }
                }
            }
        }
        &__wrapper-add-basket{
            justify-content: unset;
            .internal-images{
                width: 20%;
                margin-top: 12px;
                margin-left: 30px;
            }
            .button{
                margin-top: 25px;
            }
        }
        &__button-proceed-in-basket{
            display: block;
            margin-top: 0px;
            button{
                width: 100%;
            }
            a{
                display: block;
                width: 100%;
            }
        }
    }
}