.page-product-card{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        text-align: center;
        display: block;
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
        margin-top: 34px;
    }
    &__wrapper-for-col{
        display: flex;
    }
    .col-1-1{
        width: 64.12%;
        margin-right: 1.66%;
    }
    .col-1-2{
        width: 34.21%;   
    }
    .slick-slide{
        padding-left: 0px;
        box-sizing: border-box; 
        &:nth-of-type(1n + 1){
            padding-right: 10px;
        }
    }
    &__horizontal-scroll{
        margin-top: 30px;
    }
    &__product-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
    &__top-images{
        position: relative;
        cursor: pointer;
        img{
            width: 360px;
            height: 503px;
        }
    }
    &__btn-prev{
        position: absolute;
        top: 2px;
        right: -23px;
        // padding: 6px 8px;
        width: 13px;
        height: 9px;
        cursor: pointer;
        background: url(../images/product-card/arrow-prev-page-card-hover.svg) center no-repeat;
        &:hover{
            background: url(../images/product-card/arrow-prev-page-card.svg) center no-repeat;            
        }
    }
    &__btn-next{
        position: absolute;
        top: 2px;
        right: -49px;
        // padding: 6px 8px;
        width: 13px;
        height: 9px;
        cursor: pointer;
        background: url(../images/product-card/arrow-next-page-card-hover.svg) center no-repeat;
        &:hover{
            background: url(../images/product-card/arrow-next-page-card.svg) center no-repeat;     
        }
    }
    &__big-images{
        margin-top: 7px;
        width: 711px;
        height: 900px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__wrapper-for-left-block{
        margin-top: 63px;
    }
    &__title-left-block{
        font: 24px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__price{
        margin-top: 11px;
        span{
            display: block;
            font: 20px "FuturaPT-Medium";
            color: #0d2f32;
            &.discount{
                display: inline-block;
                color: #87141a;
            }
            &.price{
                display: inline-block;
                margin-left: 20px;
                text-decoration: line-through;
            }
            &.article{
                margin-top: 12px;
                font: 15px "FuturaPT-Book";
                color: #5d5d5d;
            }
        }
    }
    &__choose-color{
        position: relative;

        .block-click{
            position: relative;
            margin-top: 7px;
            cursor: pointer;
            padding: 10px 0px;
            border-bottom: 1px solid #f3f3f3;
            span{
                display: block;
                font: 15px "FuturaPT-Book";
                color: #444444;
            }
            &:before{
                content: "";
                position: absolute;
                top: 18px;
                right: 3px;
                width: 10px;
                height: 8px;
                background: url(../images/header/arrow-prev.svg) center no-repeat;
                cursor: pointer;
            }
            &.active{

                &:before{
                    background: url(../images/header/arrow-next.svg) center no-repeat;
                }
            }
            &.alige{
                text-align: left;
            }
        }
        .internal-block{
            position: absolute;
            left: 0;
            top: 40px;
            display: none;
            background: #f5f5f5;
            width: 100%;
            height: 200px;
            padding: 16px 0px 20px 19px;
            overflow-y: scroll;
            &::-webkit-scrollbar { width: 7px; height: 4px; margin-left: 10px;}
            &::-webkit-scrollbar-button {  display: none; }
            &::-webkit-scrollbar-track {  background-color: #999;}
            &::-webkit-scrollbar-track-piece { background-color: #f5f5f5;}
            &::-webkit-scrollbar-thumb { height: 50px; background-color: #fff; border-radius: 3px;}
            &:-webkit-scrollbar-corner { background-color: #f5f5f5;}
            &:-webkit-resizer { background-color: #666;}
            z-index: 11;
            box-sizing: border-box;
            span{
                display: block;
                font: 15px/30px "FuturaPT-Book";
                color: #444444; 
                cursor: pointer;
                width: 90%;
                &.green{

                    &:before{
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 4px;
                        background: #176e2d;
                        margin-right: 16px;
                        vertical-align: middle;
                    }
                }
                &.blue{
                    
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 4px;
                        background: #003e69;
                        margin-right: 16px;
                        vertical-align: middle;
                    }
                }
                &.red{
                    
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 4px;
                        background: #d81f27;
                        margin-right: 16px;
                        vertical-align: middle;
                    }
                }
                &.orange{
                    
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 4px;
                        background: #e05d26;
                        margin-right: 16px;
                        vertical-align: middle;
                    }
                }
                &.white{
                    
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 4px;
                        background: #ffffff;
                        margin-right: 16px;
                        vertical-align: middle;
                    }
                }
                &.black{
                    
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 4px;
                        background: #000;
                        margin-right: 16px;
                        vertical-align: middle;
                    }
                }
                &.active{
                    color: #beac83;
                }
                &:hover{
                    color: #beac83;
                }
            }
            &.alige{
                text-align: left;
            }
        }
    }
    &__wrapper-for-add-basket{
        margin-top: 18px;
        span{
            font: 15px "FuturaPT-Book";
            &.color-green{
                display: inline-block;
                color: #0d2f32;
                cursor: pointer;
                @include underline(#003e69, 0px, solid, true);
            }
        }
        button{
            font: 15px "FuturaPT-Book";
            &.button-define-size{
                display: inline-block;
                color: #c7b794;
                cursor: pointer;
                margin-right: 34px;
                @include underline(#c7b794, 0px, solid, true);
            }
        }
    }
    &__internal-element{
        display: flex;
        justify-content: space-between;
        margin-top: 36px;
        .quantity{
            display: block;
            text-align: center;
            width: 90px;
            line-height: 45px;
            height: 45px;
            background: #f5f5f5;
            margin-top: 12px;
            button{
                display: inline-block;
                font: 18px "FuturaPT-Light";
                padding: 0px 7px;
                cursor: pointer;
            }
            span{
                display: inline-block;
                font: 15px "FuturaPT-Light";
                color: #444444;
            }
        }
        .button-add{
             
            button{
                display: inline-block;
                position: relative;
                width: 180px;
                line-height: 60px;
                height: 60px;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                // margin-top: 17px;
                cursor: pointer;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
        .like-heart{
            display: block;
            margin-top: 23px;
            width: 12%;
            button{
                cursor: pointer;
                display: block;
                width: 19px;
                height: 19px; 
                background: url(../images/product-card/heart-on-page-card.svg) center no-repeat;
            }
            &.active{

                button{
                    background: url(../images/product-card/heart-on-page-card-active.svg) center no-repeat;
                }
            }
        }
    }
    .product-card{
        margin-top: 35px;
        &__header-list{
            border-bottom: 3px solid #f3f3f3;
            display: flex;
            .card-method__method-name {
                position: relative;
                display: inline-block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                text-transform: uppercase;
                font: 15px "FuturaPT-Book";
                color: #0d2f32;
                cursor: pointer;
                &.active{
                    span{
                        border-bottom: 3px solid #0d2f32;
                        padding-bottom: 14px;
                    }
                }
                
            }
        }
    }
    &__wrapper-description{
            margin-top: 23px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
            &.text{
                margin-top: 20px;
            }
        }
    }
    &__block-property{
        display: flex;
        justify-content: space-between;
        margin-top: 23px;
        .left-block{
            width: 50%;
            span{
                display: block;
                font: 16px/30px "FuturaPT-Light";
                color: #0d2f32;
                &.text{
                    font: 16px/30px "FuturaPT-Light";
                    margin-top: 30px;
                }
            }
        }
        .right-block{
            width: 50%;
            span{
                display: block ;
                font: 16px/30px "FuturaPT-Light";
                color: #444444;
                &.text{
                    font: 16px/30px "FuturaPT-Light";
                    margin-top: 0px;
                }
            }
        }
    }
    &__wrqapper-for-delivery{
        margin-top: 25px;
        span{
            font: 16px "FuturaPT-Light";
            color: #0d2f32;
            &.font{
                font-family: "FuturaPT-Medium";
            }
            &.text{
                display: block;
                font: 16px/30px "FuturaPT-Light";
                margin-left: 25px;
            }
            &.font-text{
                display: block;
                font: 16px "FuturaPT-medium";
                color: #0d2f32;
                margin-top: 10px;
            }
            &.button-text{
                display: block;
                margin-bottom: 19px;
                margin-top: 19px;
            }
            &.bottom-title{
                font: 16px "FuturaPT-medium";
                color: #0d2f32;
                display: block;
                margin-top: 14px;
                margin-bottom: 18px;
            }
        }
        .delivery-product{
            margin-top: 18px;
            span{

                &:nth-of-type(2){
                    margin-top: 18px;
                }
            }
        }
    }
    &__wrapper-for-payment{
        margin-top: 12px;
        span{
            display: block;
            margin-top: 10px;
            font: 16px "FuturaPT-Light";
            color: #444444;
            &.font{
                display: inline-block;
                font-family: "FuturaPT-Medium";
            }
        }
    }
    &__block-icons{
        position: relative;
        width: 100%;
        // margin-top: 24px;
        line-height: 40px;
        height: 40px;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        span{
            font: 16px "futuraPT-Light";
            color: #444444;
        }
        i{
            color: #000;
            font-size: 16px;
            margin-left: 15px;
            &:hover{
                color: #beac83;
            }
        }
        button{
            &.copy{
                position: absolute;
                display: flex;
                top: 7px;
                right: 3px;
                width: 27px;
                height: 27px;
                &:after{
                    content: "";
                    display: block;
                    margin: auto;
                    width: 17px;
                    height: 17px;
                    cursor: pointer;
                    background: url(../images/product-card/chain-on-page-card.svg) center no-repeat;
                }
            }
        }
        
    }
    &__wrapper-specify-question{
        margin-top: 20px;
        span{
            &.text{
                display: block;
                width: 100%;
                padding: 10px 0;
                font: 15px "futuraPT-Book";
                color: #0d2f32;
                background: #f5f5f5;
                padding-left: 18px;
                box-sizing: border-box;
            }
            &.retreat-left{
                padding-left: 18px;
            }
        }
        input{
            border-bottom: 1px solid #f3f3f3; 
            width: 100%;
            line-height: 40PX;
            height: 40px;
            margin-top: 7px;
            font: 15PX "FuturaPT-Book";
            color: #444444;
            padding-left: 18px;
            box-sizing: border-box;
        }
        textarea{
            margin-top: 22px;
            width: 100%;
            height: 140px;
            padding-top: 10px;
            padding-left: 18px;
            font: 15PX "FuturaPT-Book";
            border: 1px solid #f3f3f3;
            box-sizing: border-box;
            outline: none;
            &.active{
                border: 1px solid #0d2f32;
            }
        }
        button{
            display: inline-block;
            position: relative;
            width: 180px;
            line-height: 60px;
            height: 60px;
            text-transform: uppercase;
            font: 15px "FuturaPT-Medium";
            margin-top: 26px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
    &__wrapper-image-model{
        margin-top: 84px;
    }
    &__wrapper-element{
        display: flex;
        justify-content: center;
    }
    &__element{
        margin-top: 30px;
        margin-right: 26px;
        position: relative;
        img{
           width: 265px;
           height: 338px;
           cursor: pointer;
        }
        span{
            display: block;
            text-align: center;
            font: 16px "FuturaPT-Book";
            text-transform: uppercase;
            color: #0d2f32;
            margin-top: 10px;
            &.text-font{
                font-family: "FuturaPT-Demi";
                text-decoration: none;
            }
            &.font{
                font-family: "FuturaPT-Demi";
                text-decoration: line-through;
                margin-top: 8px;
            }
            &.coupon{
                font-family: "FuturaPT-Medium";
                color: #87141a;
                text-transform: unset;
                margin-top: 0;
            }
        }
        &:nth-of-type(1n + 4){
            margin-right: 0px;
        }
        .like-heart-block-slider{
            display: none;
            position: absolute;
            top: -8px;
            right: 1px;
            margin-top: 23px;
            width: 12%;
            button{
                cursor: pointer;
                display: block;
                width: 19px;
                height: 19px; 
                background: url(../images/product-card/heart-on-page-card.svg) center no-repeat;
            }
            &.active{

                button{
                    background: url(../images/product-card/heart-on-page-card-active.svg) center no-repeat;
                }
            }
        }
        &:hover{
            
            .like-heart-block-slider{
                display: block;
            }
        }
    }
    &__buy-the-way{
        display: flex;
        justify-content: center;
        .button-buy-the-way{
            display: block;
            position: relative;
            width: 180px;
            line-height: 60px;
            height: 60px;
            text-transform: uppercase;
            font: 15px "FuturaPT-Medium";
            margin-top: 36px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
    &__wraapper-selected-specifically{
        margin-top: 35px;
    }
    &__wrapper-element-block{
        display: flex;
        // flex-wrap: wrap;
    }
    &__wrapper-for-list-viewed{
        margin-top: 35px;
    }
    &__background-subscriptions{
        width: 100%;
        background: #f5f5f5;
        display: flex;
        justify-content: center;
        margin-top: 37px;
    }
    &__subscriptions-inner{
        @include container(573px);
        text-align: center;
        padding: 44px 0 35px 0;
        span{
            display: block;
            &.text{
                margin-top: 13px;
                font: 16px "FuturaPT-Book";
                color: #87141a;
            }
        }
        input{
            margin-top: 26px;
            display: inline-block;
            width: 100%;
            text-align: center;
            background: #f5f5f5;
            border-bottom: 1px solid #282828; 
            padding: 12px 0px;
            font: 16px "FuturaPT-Book";
            color: #828282;
        }
        .block-icons{
            position: relative;
            width: 100%;
            margin-top: 5px;
            line-height: 40px;
            height: 40px;
            border-top: 1px solid #f3f3f3;
            border-bottom: 1px solid #f3f3f3;
            span{
                font: 16px "futuraPT-Light";
                color: #444444;
            }
            i{
                color: #000;
                font-size: 16px;
                margin-left: 24px;
            }
        }
    }
    .description{
        min-height: 500px;
        box-sizing: border-box
    }
    .delivery{
        min-height: 500px;
        box-sizing: border-box
    }
    .payment{
        min-height: 500px;
        box-sizing: border-box;
    }
}
.modal-define-size{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 17%;
        width: 909px;
        min-height: 641px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 43px 35px 38px 35px;
        text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__wrapper-for-table{
        margin-top: 22px;
        ul{
            display: flex;
        }
        li{
            width: 82px;
            padding: 20px 0;
            background: #beac83;
            border-left: 1px solid #c8b790;
            border-right: 1px solid #c8b790;
            font: 16px "FuturaPT-Medium";
            color: #fff;
            &:nth-of-type(1){
                width: 166px;
                border-left: none;
            }
        }
    }
    &__wrapper-element-table{
        display: flex;
        .element-table{
            display: block;
            width: 84.7px;
            line-height: 98px;
            height: 98px;
            text-align: center;
            box-sizing: border-box;
            cursor: pointer;
            span{
                display: block;
                font: 16px "FuturaPT-Book";
                color: #444444;
                padding: 5px 0px;
                border: 1px solid #f3f3f3;
                box-sizing: border-box;
                &.one{
                    padding: 5px 0;
                    height: 96px;
                    background: transparent;
                }
                &.active{
                    background: #2e5053;
                    color: #fff;
                    border: 1px solid #2e5053;
                }
                &.selected{
                    background: #0d2f32;
                    color: #fff;
                    border: 1px solid #0d2f32;
                }
            }
            &.top{
                line-height: 31px;
                height: 31px;
                span{
                    padding: 5px 0px;
                    &.no-indentation{
                        background: transparent;
                        color: #444444;
                        border: 1px solid #f3f3f3;
                    }
                }
            }
            &.no-background{

                span{

                    &.one{
                        background: transparent;
                        color: #444444;
                        border: 1px solid #f3f3f3;
                    }
                }
            }
            &.initial{
                width: 169.5px;
            }
        }
    }
}
.modal-buy-way{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 3%;
        width: 750px;
        min-height: 870px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 36px 66px 0px 66px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__wrapper-for-block{
        display: flex;
        margin-top: 50px;
        border-bottom: 1px solid #f3f3f3;
        padding-bottom: 21px;
        .images{
            width: 20.65%;
        }
        &:last-child{
            border: none;
        }
    }
    &__element-block{
        width: 78.35%;
        margin-left: 17px;
        box-sizing: border-box;
        
        .prise{
            display: flex;
            justify-content: space-between;
            span{
                display: inline-block;
                font: 19px "FuturaPT-Book";
                color: #0d2f32;
                text-transform: uppercase;
                &.font{
                    font: 19px "FuturaPT-Demi";
                }
            }
        }
    }
    &__button-modal-define-size{
        display: block;
        margin-top: 18px;
        font: 15px "FuturaPT-Book";
        color: #beac83;
        cursor: pointer;
        @include underline(#beac83, 0px, solid, true);
    }
    &__wrapper-add-basket{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;            
        .quantity{
            display: block;
            text-align: center;
            width: 90px;
            line-height: 45px;
            height: 45px;
            background: #f5f5f5;
            span{
                display: inline-block;
                font: 15px "FuturaPT-Light";
                margin-right: 1px;
            }
            button{
                display: inline-block;
                font: 18px "FuturaPT-Light";
                padding: 0px 7px;
                cursor: pointer;
            }
        }
        .internal-images{
            width: 10%;
            margin-top: 13px;
            img{
                cursor: pointer;
                width: 21px;
                height: 21px;
            }
            .modal-like-heart{
                display: inline-block;
                width: 12%;
                margin-right: 21px;
                button{
                    cursor: pointer;
                    display: block;
                    width: 21px;
                    height: 21px;
                    background: url(../images/product-card/heart-on-page-card.svg) center no-repeat;
                }
                &.active{
    
                    button{
                        background: url(../images/product-card/heart-on-page-card-active.svg) center no-repeat;
                    }
                }
            }
        }
        .button{

           button{
                display: inline-block;
                position: relative;
                width: 180px;
                line-height: 60px;
                height: 60px;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                // margin-top: 17px;
                cursor: pointer;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
    &__button-proceed-in-basket{
        display: flex;
        margin-top: 97px;
        button{
            width: 492px;
            line-height: 83px;
            height: 83px;
            background: #f5f5f5;
            font: 20px "FuturaPT-Medium";
            color: #0d2f32;  
        }
        span{
            font: 20px "FuturaPT-Demi";
            text-transform: uppercase;
        }
        a{
            width: 258px;
            line-height: 83px;
            height: 83px;
            padding: 32px 0px;
            padding-left: 24px;
            box-sizing: border-box;
            background: #0d2f32;
            font: 15px "FuturaPT-Medium";
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            &::after{
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                width: 17px;
                height: 12px;
                background: url(../images/product-card/white-arrow-in-modal.svg);
            }
        }
    }
}
.modal-women-define-size{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        top: 17%;
        width: 909px;
        min-height: 403px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 43px 68px 43px 68px;
        text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__wrapper-for-table{
        margin-top: 22px;
        ul{
            display: flex;
        }
        li{
            width: 95px;
            padding: 20px 0;
            background: #f8f8f9;
            border-left: 1px solid #f3f3f3;
            border-right: 1px solid #f3f3f3;
            font: 16px "FuturaPT-Medium";
            color: #444444;
            &:nth-of-type(1){
                width: 190px;
                border-left: none;
            }
        }
    }
    &__wrapper-element-table{
        display: flex;
        .element-table-women{
            display: block;
            width: 97px;
            line-height: 98px;
            height: 98px;
            text-align: center;
            box-sizing: border-box;
            cursor: pointer;
            span{
                display: block;
                font: 16px "FuturaPT-Book";
                color: #444444;
                padding: 5px 0px;
                border: 1px solid #f3f3f3;
                box-sizing: border-box;
                &.one{
                    padding: 5px 0;
                    height: 96px;
                    background: transparent;
                }
                &.active{
                    background: #2e5053;
                    color: #fff;
                    border: 1px solid #2e5053;
                }
                &.selected{
                    background: #0d2f32;
                    color: #fff;
                    border: 1px solid #0d2f32;
                }
            }
            &.top{
                line-height: 44px;
                height: 44px;
                span{
                    padding: 11px 0px;
                    &.no-indentation{
                        background: transparent;
                        color: #444444;
                        border: 1px solid #f3f3f3;
                    }
                }
            }
            &.no-background{

                span{

                    &.one{
                        background: transparent;
                        color: #444444;
                        border: 1px solid #f3f3f3;
                    }
                }
            }
            &.initial{
                width: 190.9px;
            }
        }
    }
}