@include respond-to('sm') {
    .page-product-card{
        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__big-images{
            display: none;
            width: 100%;
            height: 780px;
        }
        &__top-images{

            img{
                height: 407px;
            }
        }
        &__btn-prev{
            top: -20px;
            right: 40px;
        }
        &__btn-next{
            top: -20px;
            right: 11px;
        }
        &__internal-element{
            justify-content: unset;
            .button-add{
                margin-left: 40px;
            }
            .like-heart{
                margin-left: 40px;
                width: auto;
            }
        }
        &__choose-color{
            width: 42%;
        }
        .col-1-1{
            width: 100%;
        }
        .col-1-2{
            width: 100%;
        }
        .product-card{

            &__header-list{
                justify-content: space-around;
                .card-method__method-name{
                    width: auto;
                }
            }
        }
        &__wrapper-specify-question{
            
            input{ 
                width: 60%;
                display: block;
            }
        }
        &__product-wrapper{
            justify-content: unset;
        }
        &__wrapper-for-col{
            display: block;
        }
        &__background-subscriptions{
            width: 768px;
        }
    }
}
// .page-catalog__slider-new-collection{
//     display: block;
// }