@include respond-to('xs') {
    .page-product-card{
        &__inner{
            @include container(320px);
        }
        &__title{
            font-size: 20px;
        }
        &__title-left-block{
            font-size: 20px;
        }
        &__price{

        }
        &__top-images{

            img{
                height: 371px;
            }
        }
        &__btn-prev{
            top: -20px;
            right: 40px;
        }
        &__btn-next{
            top: -20px;
            right: 11px;
        }
        &__internal-element{
            justify-content: space-evenly;
            .button-add{
                margin-left: 40px;
            }
            .like-heart{
                display: none;
                margin-left: 40px;
                width: auto;
            }
        }
        &__choose-color{
            width: 100%;
        }
        .product-card{

            &__header-list{
                justify-content: space-between;
                .card-method__method-name{
                    width: auto;
                }
            }
        }
        &__wrapper-for-left-block{
            margin-top: 20px;
        }
        &__wrapper-specify-question{
            
            input{ 
                width: 100%;
                display: block;
            }
        }
        &__product-wrapper{
            justify-content: space-between;
        }
        &__wrapper-image-model{

            .page-catalog__slider-new-collection{
                margin-left: 0px;
            }
        }
        .slick-list{
            z-index: 12;
            
        }
        .slick-dots{
            top: 8px;
            width: auto;
            right: 18px;
            li{
                width: 7px;
                height: 7px;
                border-radius: 20px;
                border: 1px solid #fff;
                background: #fff;
                z-index: 13;
                button{
                    display: none;
                    width: 7px;
                    height: 7px;
                }
                &.slick-active{
                    background: #000;
                    border: 1px solid #000;
                }
            }
        }
        &__background-subscriptions{
            width: 320px;
        }
    }
    .modal-buy-way{

        &__inner{
            width: 320px;
            min-height: 878px;
        }
        &__title{
            font-size: 16px;
        }
        .col{
            padding: 36px 15px 0px 15px;
        }
        &__wrapper-for-block{
            margin-top: 13px;
            .images{
                width: 16.65%;
                &:nth-of-type(1){
                    
                    img{
                        width: 50px;
                        height: 73px; 
                     }
                }
            }
        }
        &__element-block{

            .prise{
                display: block;
                span{
                    display: block;
                    font-size: 15px;
                    &.font{
                        margin-top: 4px;
                        font-size: 18px;
                    }
                }
            }
        }
        &__wrapper-add-basket{
            justify-content: unset;
            .internal-images{
                width: 25%;
                margin-top: 12px;
                margin-left: 30px;
            }
            .button{
                margin-top: 25px;
            }
        }
        &__button-proceed-in-basket{
            display: block;
            margin-top: 0px;
            button{
                width: 100%;
            }
            a{
                display: block;
                width: 100%;
            }
        }
    }
}