.page-my-appeals{

    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__top-navigation{
        display: block;
        ul{
            display: block;
            cursor: context-menu;
            margin-left: 16px;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 64px;
            line-height: 64px;
            height: 64px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &:before{
                position: absolute;
                top: 28px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &:before{
                    background-color: transparent;
                }
            }
            &:nth-of-type(5){
                &:before{
                    background-color: transparent;
                }
            }
            img{
                width: 16px;
                height: 11px;
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;       
            &:hover{
                color: #beac83;
            }
        }
        .navigation-button{

            &after{
                content: "";
                background-image: url();
            }
        }
    }
    &__buttom-navigation{
        display: block;
        ul{
            display: block;
            cursor: context-menu;
            margin-left: 16px;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 64px;
            line-height: 64px;
            height: 64px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &:before{
                position: absolute;
                top: 28px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &:before{
                    background-color: transparent;
                }
            }
            &:nth-of-type(5){
                &:before{
                    background-color: transparent;
                }
            }
            img{
                width: 16px;
                height: 11px;
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;       
            &:hover{
                color: #beac83;
            }
        }
        .navigation-button{

            &after{
                content: "";
                background-image: url();
            }
        }
    }
    .my-appeals{
        &__header-list{
            border-bottom: 1px solid #f3f3f3;
            display: flex;
            .appeals-method__method-name {
                position: relative;
                display: inline-block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                text-transform: uppercase;
                font: 15px "FuturaPT-Book";
                color: #0d2f32;
                cursor: pointer;
                &.active{
                    span{
                        border-bottom: 3px solid #0d2f32;
                        padding-bottom: 12px;
                    }
                }
                
            }
        }
    }
    &__images-block{
        width: 50%;
        margin-top: 32px;
        float: left;
        img{
            width: 19px;
            height: 19px;
            margin-right: 10px;
        }
        span{
            font: 16px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            @include underline(#444444, 0px, dashed, true);
        }
    }
    &__block-button{
        width: 50%;
        float: right;
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 15px;
            cursor: pointer;
            &.send{
                border: 1px solid #0d2f32;
                color: #0d2f32;
                background: transparent;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
    &__header-list{
        padding: 17px 20px;
        background: #f5f5f5;
        display: flex;
        span{

            &.mobile-version{
                display: none;
            }
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;

            &:nth-of-type(1){
                width: 21.82%;
            }
            &:nth-of-type(2){
                width: 31.02%;
            }
            &:nth-of-type(3){
                width: 37.35%;
            }
            &:nth-of-type(4){
                
            }
        }
        .select-all-inputs{
            cursor: pointer;
            .indicator-special,
            .indicator {
                position: relative;
                display: inline-block;
                margin-right: 22px;
                border: 1px solid #0d2f32;
                width: 11px;
                height: 11px;
                cursor: pointer;
            }
            &.active {
                .indicator-special:before,
                .indicator:before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 10px;
                    height: 11px;
                    background: url(../images/my-orber/list-checkbox.svg) center no-repeat;
                }
            }
        }
        
    }
    &__mobile-version{
        display: none;
    }
    &__appeal-list{
        border-bottom: 1px solid   #ebebeb;
        cursor: pointer;
        display: flex;
        span{
            font: 16px "FuturaPT-Book";
            color: #444444;
            &.mobile-version{
                display: none;
            }
        }
        li{
            width: 100%;
        }
        input{
            display: none;
        }
        .checkbox-container{
            
            span{
                &.mobile-version{
                    display: none;
                }
            }
            i{
                position: relative;
                display: inline-block;
                margin-right: 22px;
                border: 1px solid #0d2f32;
                width: 11px;
                height: 11px;
                cursor: pointer;
            }
        }
        input:checked + label .checkbox-container {
            i:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 11px;
                height: 11px;
                background: url(../images/my-orber/list-checkbox.svg) center no-repeat;
            }
        }
        label{
            cursor: pointer;
            display: flex;
            padding: 18px 20px;
            div{
                
                &:nth-of-type(1){
                    width: 21.72%;
                }
                &:nth-of-type(2){
                    width: 31.02%;
                }
                &:nth-of-type(3){
                    width: 37.35%;
                }
                &:nth-of-type(4){
                    
                }
            }
        }
    }
}