@include respond-to('xs') {

    .page-my-appeals{

        &__inner{
            @include container(320px);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
        }
        .my-appeals{

            &__header-list{
                display: none;
            }
        }
        &__images-block{
            margin-top: 10px;
            margin-bottom: 25px;
            width: 100%;
            float: none;
        }
        &__block-button{
            order: 1;
            width: 100%;
            float: none;
            text-align: center;
            button{
                margin-top: 0px;
            }
        }
        &__top-navigation{
            border-bottom: 1px solid #f3f3f3;
            border-top: 1px solid #f3f3f3;
            // margin-bottom: 15px;
            li{
                width: 40px;
                line-height: 40px;
                height: 40px;
                &:before{
                    top: 15px;
                }
            }
        }
        &__top-list{
            margin-top: 15px;
        }
        &__header-list{
            background: #fff;
            padding: 0px 20px; 
            li{
                display: none;
                &.select-all-inputs{
                    width: 50.82%;
                    display: inline-block; 
                }
                span{

                    &.number-order{
                        display: none;
                    }
                    &.mobile-version{
                        display: inline-block;
                    }
                }
            }
            .select-all-inputs{
                cursor: pointer;
                .indicator-special,
                .indicator {
                    margin-right: 10px;
                }
            }
        }
        &__top-list-heading{
            margin-top: 15px;
        }
        &__appeal-list{

            border-bottom: none;
            span{

                &.mobile-version{
                    display: inline-block;
                    font: 18px "FuturaPT-Book";
                    color: #0d2f32;
                    margin-right: 12px;
                }
            }
            label{
                display: block;
                padding: 7px 0px;
                div{
                    &:nth-of-type(1){
                        width: 100%;
                    }
                    &:nth-of-type(2){
                        width: 100%;
                        margin-top: 10px;
                    }
                    &:nth-of-type(3){
                        width: 100%;
                        margin-top: 10px;
                    }
                    &:nth-of-type(4){
                        width: 100%;
                        margin-top: 10px;
                    }
                }
            }
            .column{
                width: 100%;
                display: flex;
                box-sizing: border-box;
                span{
                    margin-left: 45px;
                    &.mobile-version{
                        display: inline-block;
                        width: 26%;
                        
                    }
                }
                &:nth-of-type(3){
                    padding-right: 20px;
                    span{
                        // padding-right: 8px;
                        &.mobile-version{
                            display: inline-block;
                            width: 22%;
                            
                        }
                    }
                }
                &:nth-of-type(4){
                    padding-right: 20px;
                    span{
                        // padding-right: 8px;
                        &.mobile-version{
                            display: inline-block;
                            width: 22%;
                            
                        }
                    }
                }
            }
            .checkbox-container{
                background: #f3f3f3;
                padding: 10px 21px;
                box-sizing: border-box;
                span{
                    display: inline;
                    &.mobile-version{
                        display: inline-block;
                    }
                }
                i{
                    margin-right: 10px;
                }
            }
        }
        .my-appeals-tab{
            display: flex;
            flex-wrap: wrap; 
            flex-direction: column;
        }
        .archive-of-requests-tab{
            display: flex;
            flex-wrap: wrap; 
            flex-direction: column;

        }
        &__mobile-version{
            display: block;
            position: relative;
            padding: 15px 0;
            span{
                font: 13px "FuturaPT-Book";
                color: #0d2f32;
            }
            &:after{
                content: "";
                position: absolute;
                top: 18px;
                right: 4px;
                width: 12px;
                height: 8px;
                background: url(../images/header/arrow-prev.svg) center no-repeat;
            }
            &.active{

                &:after{
                    background: url(../images/header/arrow-next.svg) center no-repeat;
                }
            }
        }
    }
}