.page-checking-goods{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    .checking-goods{
        &__header-list{
            border-bottom: 3px solid #f3f3f3;
            display: flex;
            .checking-method__method-name{
                position: relative;
                display: inline-block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 16px;
                text-transform: uppercase;
                font: 15px "FuturaPT-Book";
                color: #0d2f32;
                cursor: pointer;
                &.active{
                    span{
                        border-bottom: 3px solid #0d2f32;
                        padding-bottom: 12px;
                    }
                }
                
            }
        }
    }
    &__block-create-request{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        label{

            button{
                position: relative;
                width: 45px;
                line-height: 45px;
                height: 45px;
                vertical-align: top;
                background: #f8f8f9;
                margin-left: -4px;
                &:after{
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: 14px;
                    width: 17px;
                    height: 17px;
                    background: url(../images/my-balance/search.svg) center no-repeat;
                }
            }
        }
        span{
            display: inline-block;
            font: 16px "FuturaPT-Book";
            color: #444444;
            margin-top: 12px;
        }
        input{
            width: 226px;
            line-height: 45px;
            height: 45px;
            font: 15px "FuturaPT-Book";
            color: #444444;
            background: #f8f8f9;
            padding-left: 28px;
            box-sizing: border-box;
            margin-left: 18px;
        }
    }
    &__button-create{

        .button-create-request{
            display: inline-block;
            position: relative;
            width: 180px;
            padding: 20px 0;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 7px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            margin-right: 10px;
            text-align: center;
            text-decoration: none;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }

    }
    &__term-of-consideration{
        margin-top: 23px;
        text-align: center;
        background: #beac83;
        padding: 16px 0;
        span{
            font: 18px "FuturaPT-Book";
            color: #fff;
        }
    }
    &__text-information{
        margin-top: 24px;
        span{
            display: block;
            font: 16px "FuturaPT-Light";
            color: #444444;
            padding-bottom: 18px;
            &.color{
                display: inline-block;
                font: 16px "FuturaPT-Book";
                color: #87141a;   
            }
            &.text{
                position: relative;
                padding-left: 16px;
                &:before{
                    content: "";
                    position: absolute;
                    top: 12px;
                    left: 0;
                    width: 10px;
                    height: 1px;
                    background: #444444;
                }
            }
            &.font{
                display: inline-block;
                font-family: "FuturaPT-Medium";
            }
        }
        img{
            width: 19px;
            height: 19px;
            margin-right: 13px;
        }
    }
    &__requirements{
        margin-top: 20px;
        cursor: pointer;
        span{
            position: relative;
            display: block;
            font: 16px/30px "FuturaPT-Light";
            color: #444444;
            padding-left: 15px; 
            &.title{
                font: 18px "FuturaPT-Medium";
                color: #0d2f32; 
                padding-bottom: 10px;
                padding-left: 0;
                &:after{
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: 35.5%;
                    width: 12px;
                    height: 8px;
                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                }
                &:before{
                    background: transparent;
                }
            }
            &:before{
                content: "";
                position: absolute;
                top: 15px;
                left: 0;
                width: 10px;
                height: 1px;
                background: #444444;
            }
        }
        div{
            &.active{

                .title{
                    &:after{
                        background: url(../images/header/arrow-next.svg) center no-repeat;
                    }
                }
            }
        }
    }
    &__return-after-payment{

        .block-for-accordion{
            display: none;
        }
    }
    &__return-on-receipt{

        .block-for-accordion{
            display: none;
        }
    }
}
.modal-application-on-hceck{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        top: 9%;
        width: 752px;
        // min-height: 812px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 36px 36px 38px 36px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__returned-goods{
        margin-top: 37px;
        label{
            button{
                position: relative;
                width: 45px;
                line-height: 45px;
                height: 45px;
                vertical-align: top;
                background: #f8f8f9;
                margin-left: -4px;
                &:after{
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: 14px;
                    width: 17px;
                    height: 17px;
                    background: url(../images/my-balance/search.svg) center no-repeat;
                }
            }
        }
        span{
            text-align: center;
            display: block;
            margin-bottom: 17px;
            font: 16px "FuturaPT-Book";
            color: #444444;
        }
        input{
            width: 90%;
            line-height: 45px;
            height: 45px;
            font: 15px "FuturaPT-Book";
            color: #444444;
            background: #f8f8f9;
            padding-left: 28px;
            box-sizing: border-box;
            margin-left: 18px;
        }
    }
    &__list-goods{

        ul{
            display: flex;
            border-bottom: 1px solid #e5e5e5;
            padding: 15px 0;
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            &:nth-of-type(1){
                width: 48.38%;
                text-align: center;
            }
            &:nth-of-type(2){
                width: 19.41%;
            }
            &:nth-of-type(3){
                
            }
        }
    }
    &__wrapper-for-element-list{
        display: flex;
        margin-top: 31px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 21px;
        .product-information{
            width: 48.53%;
            display: flex;
            .left{

            }
            .right{
                margin-left: 20px;
                span{
                    display: block;
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                    padding-bottom: 5px;
                    &.title{
                        margin-bottom: 15px;
                        color: #0d2f32;
                        @include underline(#0d2f32, 0px, solid, false);
                    }
                }
            }
        }
        .price{
            margin-top: 35px;
            width: 16.91%;
            span{
                font: 16px "FuturaPT-Demi";
                color: #0d2f32;
            }
        }
        .orber{
            margin-top: 35px;
            width: 23.97%;
            span{
                font: 16px "FuturaPT-Medium";
                color: #444444;
            }
        }
        .button{
            margin-top: 35px;
            
            button{
                cursor: pointer;
                font: 16px "FuturaPT-Book";
                color: #444444;
                @include underline(#444444, 0px, dashed, true);
            }
        }
    }
    &__wrapper-upload-photo{
        display: flex;
        margin-top: 30px;
        .left{
            width: 16.029%;
            label{
                display: flex;
                cursor: pointer;
                width: 108px;
                text-align: center;
                line-height: 108px;
                height: 108px;
                border: 1px solid #e5e5e5;
                &:before{
                    content: "";
                    display: block;
                    margin: auto;
                    width: 29px;
                    height: 24px;
                    background: url(../images/checking-goods/photo-page-checking.svg) center no-repeat;
                }
            }
            input{
                display: none;
            }
            span{
                text-align: center;
                display: block;
                margin-top: 10px;
                font: 15px "FuturaPT-Book";
                color: #444444;
            }
        }
        .right{
            padding-left: 20px;
            span{
                display: block;
                font: 15px "FuturaPT-Book";
                color: #444444;
                &.font{
                    margin-top: 20px;
                    display: inline-block;
                    font-family: "FuturaPT-Medium";

                }
            }
            .button-familiarize{
                cursor: pointer;
                font: 15px "FuturaPT-Book";
                color: #444444;
                @include underline(#444444, 0px, dashed, true);
            }
        }
    }
    &__dropdown-fomr-wrapper{
        display: none;
        &.active{
            display: block;
        }
    }
    &__your-comment{
        margin-top: 15px;
        textarea{
            font: 15px "FuturaPT-Book";
            color: #444444;
            width: 100%;
            height: 118px;
            padding-left: 15px;
            padding-top: 5px;
            box-sizing: border-box;
            outline: none;
            border: 1px solid #f3f3f3;
        }
    }
    &__bottom-button{
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
        .left{
            width: 50%;
            span{
                display: inline-block;
                margin-top: 20px;
                cursor: pointer;
                font: 16px "FuturaPT-Book";
                color: #444444;
                @include underline(#444444, 0px, dashed, true);
            }
        }
        .right{
            width: 50%;
            text-align: right;
            button{
                display: inline-block;
                position: relative;
                width: 100px;
                line-height: 60px;
                height: 60px;
                background: transparent;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                cursor: pointer;
                &.send{
                    width: 180px;
                    display: inline-block;
                    border: 1px solid #0d2f32;
                    color: #0d2f32;
                    background: transparent;
                    &:hover{
                        background: #0d2f32;
                        color: #fff;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #0d2f32;
                    }
                }
            }
        }
    }
    .internal-modal{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.59);
        z-index: 100;
        overflow: auto;
        &__inner {
            box-shadow: 1px 1px 17px 1.08px rgba(128, 128, 128, 0.32);
            position: relative;
            // top: 9%;
            width: 685px;
            min-height: 340px;
            margin: auto;
            background-color: #ffffff;
        }
        .col-1 {
            padding: 36px 14px 38px 14px;
            // text-align: center;
        }
        &__title{
            display: block;
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
            // text-align: center;
        }
        .btn-modal-internal-close {
            position: absolute;
            top: 4px;
            right: 8px;
            width: 26px;
            height: 26px;
            font-size: 0;
            line-height: 0;
            background-color: transparent;
            cursor: pointer;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 13px;
                display: block;
                width: 2px;
                height: 25px;
                background-color: black;
            }
            &::before {
                transform: rotate(-45deg);
            }
            &::after {
                transform: rotate(45deg);
            }
        }
        span{
            position: relative;
            display: block;
            padding-left: 17px;
            font: 16px/30px "FuturaPT-Light";
            color: #444444;
            &:before{
                content: "";
                position: absolute;
                top: 16px;
                left: 0;
                width: 10px;
                height: 1px;
                background: #444444;
            }
        }
    }
}