@include respond-to('mm') {
    .page-checking-goods{

        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: block;
            font-size: 24px;
            text-align: center;
        }
        &__text-information{

            span{
                font-size: 15px;
            }
        }
        &__requirements{

            span{

                &.title{
                    
                    &:after{
                        left: 41.5%;
                    }
                }
            }
        }
        &__button-create{
            margin-top: 15px;
            text-align: center;
        }
        .checking-goods{

            &__header-list{
                display: none;
            }
        }
        &__return-after-payment{

            .block-for-accordion{
                display: block;
                position: relative;
                border-bottom: 1px solid #f3f3f3;
                height: 40px;
                line-height: 40px;
                button{
                    font: 13px "FuturaPT-Book";
                    color: #2d4b4d;
                    text-transform: uppercase;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 16px;
                    right: 2px;
                    width: 12px;
                    height: 8px;
                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                    cursor: pointer;
                    z-index: 2;
                }
                &.active{
                    
                    &:after{
                        background: url(../images/header/arrow-next.svg) center no-repeat;
                    }
                }
            }
        }
        &__return-on-receipt{

            .block-for-accordion{
                display: block;
                position: relative;
                border-bottom: 1px solid #f3f3f3;
                height: 40px;
                line-height: 40px;
                button{
                    font: 13px "FuturaPT-Book";
                    color: #2d4b4d;
                    text-transform: uppercase;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 16px;
                    right: 2px;
                    width: 12px;
                    height: 8px;
                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                    cursor: pointer;
                    z-index: 2;
                }
                &.active{
                    
                    &:after{
                        background: url(../images/header/arrow-next.svg) center no-repeat;
                    }
                }
            }
        }
        &__term-of-consideration{
            
            span{
                font-size: 14px;
            }
        }
        &__text-information{

            .bottom-block-information{
                display: flex;
                img{
                    margin-top: 2px;
                }
            }
        }
        &__requirements{
            padding-right: 10px;
            span{
                font-size: 14px;
                &.title{
                    font-size: 16px;
                }
            }
        }
        &__block-create-request{
            display: block;

            span{
                display: block;
            }
            input{
                width: 86.5%;
                margin-top: 30px;
                margin-left: 0px;
            }
            button{
              margin-top: 30px;
              width: 13% !important;
            }
        }
        &__return-on-receipt{
            margin-top: 15px;
        }
    }
}