@include respond-to('md') {
    .page-checking-goods{

        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__block-create-request{
            display: block;

            input{
                margin-top: 30px;
                margin-left: 0px;
            }
            button{
              margin-top: 30px;  
            }
        }
        &__text-information{

            span{
                font-size: 15px;
            }
        }
        &__requirements{

            span{

                &.title{
                    
                    &:after{
                        left: 41.5%;
                    }
                }
            }
        }
        &__button-create{
            margin-top: 15px;
        }
        &__block-create-request{

            span{
                display: block;
            }
        }
    }
}