.footer{
    &__inner{
        @include container();
        margin-top: 56px;
    }
    &__title{
        position: relative;
        font: 15px "FuturaPT-Medium";
        color: #282828;
        text-transform: uppercase;
        &:after{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 35px;
            border-bottom: 1px solid #cabc9a;
            height: 2px;
        }
    }
    .col-1{
        width: 24%;
    }
    &__internal{
        display: flex;
        justify-content: space-between;

        .internal-blocks{

            &__address{
                margin-top: 54px;
                display: flex;
                span{
                    margin-left: 11px;
                    color: #282828;
                    font: 15px "FuturaPT-Book"; 
                }
                i{
                    margin-top: 5px;
                }
            }
            &__massege{
                margin-top: 11px;
                display: flex;
                span{
                    margin-left: 9px;
                    color: #282828;
                    font: 15px "FuturaPT-Book"; 
                }
                i{
                    margin-top: 3px;
                }
            }
            &__number-phone{
                margin-top: 12px;
                display: flex;
                span{
                    margin-left: 9px;
                    padding-right: 3px;
                    color: #282828;
                    font: 15px "FuturaPT-Book"; 
                }
                i{
                    margin-top: 11px;
                }
            }
            &__means-of-payment{
                margin-top: 24px;
                img{
                    width: 46px;
                    height: 32px;
                }
            }
            &__client-service,
            &__etc-block,
            &__about-company{
                margin-top: 39px;
                a{
                    display: block;
                    font: 15px/36px "FuturaPT-Book";
                    color: #282828;
                    text-decoration: none;
                    &:hover{
                        color: #cabc9a;
                    }
                }
            }
        }
    }
    &__bottom-block{
        width: 100%;
        background-color: #fafafa;
        padding: 19px 10px;
        margin-top: 34px;
    }
    &__bottom-inner{
        width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        span{
            font: 14px "FuturaPT-Book";
            color: #282828;
        }
        img{
            width: 130px;
            height: 19px;
        }
    }
}