.header{
    &__inner{
        @include container();
    }
    &__wrapper-for-col{
        position: relative;
        display: flex;
        .internal-blocks{
            &-col-1 {
                width: 23%;
                padding-top: 24px;
            }
            &-col-2 {
                display: flex;
                width: 48%;
                padding-top: 27px;
                .active span{
                    color: #beac83;
                } 
                span{
                    font: 16px "FuturaPT-Book";
                    color: #0d2f32;
                    margin-right: 38px;
                    cursor: pointer;
                    padding: 16px 0;
                    &:hover{
                        color: #beac83;
                    }
                }

                a{
                    font: 16px "FuturaPT-Book";
                    color: #0d2f32;
                    margin-right: 38px;
                    text-decoration: none;
                }
            }
            &__block-manu{
                display: flex;
            }
            &__burger-menu{
                display: none;    
                 button{

                 }
            }
            &-col-3 {
                position: relative;
                display: flex;
                width: 29%;
                padding-top: 24px;
            }
            &__logo{

                img{
                    width: 130px;
                    height: 19px;
                }
            }
            &__novelties{

                &:hover{

                    .internal-blocks__block-menu.novelties{
                        display: flex;
                    }
                }
            }
            &__female{

                &:hover{

                    .internal-blocks__block-menu.female{
                        display: block;
                    }
                }
            }
            &__male{

                &:hover{

                    .internal-blocks__block-menu.male{
                        display: block;
                    }
                }
            }
            &__block-menu {

                &.novelties{
                    position: absolute;
                    top: 65px;
                    left: 0;
                    display: none;
                    justify-content: space-between;
                    width: 1140px;
                    background: #fff;
                    border-top: 1px solid #cdcdcd;
                    text-align: center;
                    z-index: 11;
                    a{
                        text-decoration: none;
                        font: 18px "FuturaPT-Book";
                        margin-top: 13px;
                    }

                    img{
                        border: 5px solid #cdcdcd;
                    }

                    span{
                        display: block;                     
                    }
                    a:hover{
                        img{
                            opacity: 0.6;
                            // background: rgba(205, 205, 205, 0.4);
                        }
                        span{
                            color: #beac83;
                        }
                    }
                }
                .elements{
                    display: flex;
                    padding-bottom: 7px;
                }
                &.male,
                &.female{
                    position: absolute;
                    top: 68px;
                    left: 0;
                    display: none;
                    width: 1140px;
                    background: #fff;
                    border-top: 1px solid #cdcdcd;
                    z-index: 11;
                    span{
                        display: block;
                        &.uppercase{
                            text-transform: uppercase;
                            margin-bottom: 31px;
                            cursor: auto;
                            &:hover{
                                color: #0d2f32; 
                            }
                        }
                        &.color-red{
                            color: #bb1a23;
                            margin-bottom: 31px;
                            cursor: auto;
                            &:hover{
                                color: #bb1a23;
                            }
                        }
                    }
                    a{
                        display: block;
                        font: 16px/30px "FuturaPT-Book"; 
                        color: #0d2f32;
                        cursor: pointer;
                        text-decoration: none;
                        &.active{
                            color: #beac83;
                        }
                        
                        // &.uppercase{
                        //     text-transform: uppercase;
                        //     margin-bottom: 31px;
                        //     &:hover{
                        //         color: #0d2f32;
                        //     }
                        // }
                        &:hover{
                            color: #beac83;
                        }
                    }
                    .menu{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 22px;
                        padding-bottom: 15px;
    
                    }
                }
            }
            &__block-images{
                width: 47px;
                height: 25px;
                border-right: 1px solid #efefef;
                cursor: pointer;
                &.messege{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 15px;
                        width: 19px;
                        height: 14px;
                        background-image: url(../images/header/message.svg);
                        background-repeat: no-repeat;
                    }
                }
                &.phone{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 15px;
                        width: 19px;
                        height: 14px;
                        background-image: url(../images/header/phone.svg);
                        background-repeat: no-repeat;
                    }
                }
                &.lock{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 18px;
                        width: 17px;
                        height: 17px;
                        background-image: url(../images/header/lock.svg);
                        background-repeat: no-repeat;
                    }
                    &.active{
                        &:after{
                            background-image: url(../images/header/chell.svg);
                        }
                    }
                }
                &.heart{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 7px;
                        left: 17px;
                        width: 15px;
                        height: 14px;
                        background-image: url(../images/header/heart.svg);
                        background-repeat: no-repeat;
                    }
                }
                &.serch{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: 17px;
                        width: 13px;
                        height: 14px;
                        background-image: url(../images/header/search.svg);
                        background-repeat: no-repeat;
                    }
                }
            }
            &__internal-block-lock{
                position: absolute;
                top: 61px;
                left: 0;
                display: none;
                background-color: #fff;
                border: 1px solid #0d2f32;
                padding: 14px 115px 12px 28px;
                z-index: 11;
                .links{
                    position: relative;
                    a{
                        display: block;
                        font: 15px/26px "FuturaPT-Book";
                        color: #444444;
                        text-decoration: none;
                        &.active{
                            color: #beac83;
                        }
                        &:hover{
                            color: #beac83;
                        }
                        &.uppercase{
                            color: #0d2f32;
                            font: 15px/30px "FuturaPT-Medium";
                            text-transform: uppercase;
                            margin-bottom: 6px;
                        }
                        &.bottom-text {
                            margin-bottom: 12px;
                        }
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        border: 7px solid transparent;
                        border-bottom: 10px solid #0d2f32;
                        top: -31px;
                        left: 60%;
                    }
                }                
            }
            &__basket{
                margin-left: 35px;
                width: 50px;
                 .nember-basket{
                    position: relative;
                    background-color: #0d2f32;
                    border-radius: 30px;
                    width: 23px;
                    line-height: 20px;
                    height: 23px;
                    cursor: pointer;
                    span{
                        color: #fff;
                        font: 12px "FuturaPT-Book";
                        margin-left: 8px;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 2px;
                        right: -26px;
                        background-image: url(../images/header/paper-bag.svg);
                        background-repeat: no-repeat;
                        width: 16px;
                        height: 18px;
                        
                     }
                 }
                
            }
            &__basket-dropdawn{
                position: absolute;
                top: 61px;
                left: -24px;
                visibility: hidden;
                background-color: #fff;
                border: 1px solid #0d2f32;
                padding: 14px 0px 21px 21px;
                width: 100%;
                z-index: 2;
                .internal-basket{
                  
                    &-title{
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        text-transform: uppercase;
                    }
                    &-product-basket{
                        position: relative;
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                    &-product-basket.second-element{
                        padding-top: 21px;
                        padding-bottom: 30px;
                        &:before{
                            content: "";
                        }
                        &:after{
                            content: "\f107";
                            position: absolute;
                            display: block;
                            width: 12px;
                            line-height: 7px;
                            height: 7px;
                            bottom: 11px;
                            left: 27px;
                            font-family: 'Font Awesome\ 5 Free';
                            font-weight: 900;
                            font-size: 17px;
                            cursor: pointer; 
                        }
                    }
                    &__price{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 12px;
                        span{
                            font: 18px "FuturaPT-Medium";
                            color: #0d2f32;
                            &:nth-of-type(2){
                                font: 16px "FuturaPT-Demi";
                                text-transform: uppercase;
                                margin-right: 21px;
                            }
                        }
                    }
                    &__lenk-basket{
                        margin-top: 16px;
                        a{
                            display: block;
                            font: 15px "FuturaPT-Medium";
                            color: white;
                            width: 316px;
                            height: 47px;
                            text-align: center;
                            text-transform: uppercase;
                            line-height: 47px;
                            text-decoration: none;
                            background-color: #0d2f32;
                        }
                    }
                    &__imaage-slider-basked{
                        display: flex !important;
                        border-bottom: 1px solid #f3f3f3;
                        padding-top: 17px;
                        padding-bottom: 17px;
                        margin-right: 22px;
                        img{
                            margin-right: 13px;
                        }
                    }
                    &__text-slider-span{
                        width: 150px;
                        span{
                            display: block;
                            font: 16px/20px "FuturaPT-Book";
                            color: #444444;
                            &.color{
                                color: #0d2f32;  
                                margin-bottom: 2px;
                            } 
                        }
                    }
                    &__slider-prise{
                        position: relative;
                        text-align: right;
                        span{
                            display: block;
                            font: 16px "FuturaPT-Demi";
                            color: #0d2f32;
                            text-transform: uppercase;
                            &.color-red{
                                font: 14px "FuturaPT-Medium";
                                color: #87141a;
                                text-transform: none;
                            }
                            &.line-through{
                                text-decoration: line-through;
                            }
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            height: 15px;
                            width: 12px;
                            background-repeat: no-repeat; 
                            background-image: url(../images/header/rubbish-bin.svg);
                            cursor: pointer;
                        }
                    }
                    &__btn-prev{
                        display: block;
                        position: absolute;
                        bottom: -19px;
                        left: 13px;
                        width: 12px;
                        height: 8px;
                        background: url("../images/header/arrow-prev.svg") center no-repeat;
                        cursor: pointer;
                        z-index: 2;
                    }
                    &__btn-next{
                        display: block;
                        position: absolute;
                        top: -10px;
                        left: 13px;
                        width: 12px;
                        height: 8px;
                        background: url("../images/header/arrow-next.svg") center no-repeat;
                        cursor: pointer;
                        z-index: 2;
                    }
                }
                &:after{
                    content: '';
                    position: absolute;
                    border: 7px solid transparent;
                    border-bottom: 10px solid #0d2f32;
                    top: -17px;
                    right: 34.5px;
                }
                &.active{
                    visibility: visible;
                }
            }
            &__input-search{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: #fff;
                span{
                    display: inline-block;
                    font: 17px "FuturaPT-Light";
                    margin-left: 23px;

                    &.close-in-search{
                        position: absolute;
                        top: 24px;
                        right: 0;
                        width: 14px;
                        height: 14px;
                        background-image: url(../images/header/close.svg);
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
                }
                input{
                    height: 59px;
                    width: 90%;
                    font: 17px "FuturaPT-Light";
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 23px;
                    width: 14px;
                    height: 14px;
                    background-image: url(../images/header/search.svg);
                    background-repeat: no-repeat;
                }
                &.active{
                    display: block;
                }
            }
        }
    }
}