.page-main{
    &__inner{
        @include container();
        margin-bottom: 50px;
    }
    &__background-images-top{
        background-image: url(../images/main/background-main-top.jpg);
        background-position: center center;
        width: 100%;
        height: 527px;
        display: flex;
        text-align: center;
        margin-top: 18px;
    }
    &__background-internal{
        margin: auto;
        padding-top: 178px;
        &.internal-blocks{
            
            h1{
                font: 46px/24px "FuturaPT-Heavy";
                color: #fff;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            span{
                display: block;
                font: 15px "FuturaPT-Light";
                color: #fff;
            }
            a{
                display: inline-block;
                color: #fff;
                width: 106px;
                padding: 9px 0px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                text-decoration: none;
                margin-top: 26px;
                text-transform: uppercase;
                font: 17px "FuturaPT-Medium"; 
                &:hover{
                    color: #0d2f32;
                    border: none;
                    background: #fff;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    &__wrapper-our-model{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .blocks-one{
            width: 48.5%;
            margin-right: 31px;
            margin-top: 4px;
            &__title{
                h2{
                    font: 36px "FuturaPT-Medium";
                    color: #0d2f32;
                    margin-bottom: 11px;
                }
                span{
                    font: 18px "FuturaPT-Light";
                    color: #373737;
                    margin-top: 27px;
                }
            }
            &__background-image{
                background-image: url(../images/main/background-model-1.jpg);
                background-position: center center;
                width: 100%;
                height: 490px;
                display: flex; 
                text-align: center;
                margin-top: 61px;
            }
            &__internal-element{
                margin: auto;
                padding-top: 113px;
                span{
                    display: block;
                    font: 80px "FuturaPT-Demi";
                    color: #fff;
                    text-transform: uppercase;
                }
                a{
                    display: inline-block;
                    color: #0d2f32 ;
                    width: 146px;
                    padding: 10px 0px;
                    border-top: 1px solid #0d2f32;
                    border-bottom: 1px solid #0d2f32;
                    text-decoration: none;
                    margin-top: 79px;
                    text-transform: uppercase;
                    font: 17px "FuturaPT-Medium"; 
                    &:hover{
                        background-color: #0d2f32;
                        color: #fff;
                    }
                }
            }
        }
        .blocks-two{
            width: 48.5%;
            margin-top: 4px;
            &__background-images{
                background-image: url(../images/main/background-model-2.jpg);
                background-position: center center;
                width: 100%;
                height: 661px;
                display: flex;  
                text-align: center;
                margin-top: 16px;
            }
            &__link{
                margin: auto;
                padding-top: 304px;
                a{
                    display: inline-block;
                    color: #0d2f32 ;
                    width: 146px;
                    padding: 10px 0px;
                    border-top: 1px solid #0d2f32;
                    border-bottom: 1px solid #0d2f32;
                    text-decoration: none;
                    margin-top: 79px;
                    text-transform: uppercase;
                    font: 17px "FuturaPT-Medium"; 
                    &:hover{
                        background-color: #0d2f32;
                        color: #fff;
                    }
                }
            }
        }
        .blocks-three{
            width: 48.5%;
            margin-right: 31px;
            &__background-images{
                background-image: url(../images/main/background-model-3.jpg);
                background-position: center center;
                width: 100%;
                height: 643px;
                display: flex;  
                text-align: center;
                margin-top: 24px;
            }
            &__link{
                margin: auto;
                padding-top: 233px;
                span{
                    display: block;
                    font: 109px "FuturaPT-Demi";
                    color: #fff;
                    text-transform: uppercase;
                }
                a{
                    display: inline-block;
                    color: #0d2f32 ;
                    width: 146px;
                    padding: 10px 0px;
                    border-top: 1px solid #0d2f32;
                    border-bottom: 1px solid #0d2f32;
                    text-decoration: none;
                    margin-top: 16px;
                    text-transform: uppercase;
                    font: 17px "FuturaPT-Medium"; 
                    &:hover{
                        background-color: #0d2f32;
                        color: #fff;
                    }
                }
            }
        }
        .blocks-four{
            width: 48.5%;
            margin-top: 24px;
            &__title{
                margin-top: 30px;
                span{
                    font: 18px "FuturaPT-Light";
                    color: #373737;
                    margin-top: 27px;
                }
            }
            &__background-image{
                background-image: url(../images/main/background-model-4.jpg);
                background-position: center center;
                width: 100%;
                height: 494px;
                display: flex; 
                text-align: center;
                margin-top: 50px;
            }
            &__internal-element{
                margin: 0 auto;
                padding-top: 110px;
                span{
                    display: block;
                    font: 80px "FuturaPT-Demi";
                    color: #fff;
                    text-transform: uppercase;
                }
                a{
                    display: inline-block;
                    color: #000 ;
                    width: 146px;
                    padding: 10px 0px;
                    border-top: 1px solid #0d2f32;
                    border-bottom: 1px solid #0d2f32;
                    // background-color: #fff;
                    text-decoration: none;
                    margin-top: 79px;
                    text-transform: uppercase;
                    font: 17px "FuturaPT-Medium"; 
                    &:hover{
                        background-color: #0d2f32;
                        color: #fff;
                        border-top: 1px solid #0d2f32;
                        border-bottom: 1px solid #0d2f32;
                    }
                }
            }
        }
    }
    &__wrapper-for-hidden-block{
        display: none;
        flex-wrap: wrap;
    }
    &__bottom-our-model{
        text-align: center;
        width: 11%;
        margin-left: 44.3%;
        margin-top: 41px;
        button{
            display: block; 
            background: #fff;
            font: 21px "FuturaPT-Book";
            color: #373737;
            text-decoration: none;
            cursor: pointer;
            @include underline(#373737, 1px, solid, true);
        }
    }
    &__opportunity-information{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    &__return-of-goods,
    &__fitting-product,
    &__methond-payment,
    &__delivery{
        position: relative;
        width: 20.8%;
        height: 143px;
        background-color: #0d2f32; 
        padding: 15px 13px;
        text-align: center;
        outline-offset: -14px;
        outline: 1px solid #1a464a;
        span{
            display: inline-block;
            margin-top: 29px;
            font: 18px/24px "FuturaPT-Book";
            color: #fff;
        }
        &.delivery-images{

            &:after{
                content: "";
                position: absolute;
                bottom: 31px;
                left: 44%;
                width: 31px;
                height: 34px;
                background-image: url(../images/main/images-for-block-information-1.svg);
                background-repeat: no-repeat;
            }
        }
        &.return-images{
            
            &:after{
                content: "";
                position: absolute;
                bottom: 31px;
                left: 44%;
                width: 31px;
                height: 36px;
                background-image: url(../images/main/images-for-block-information-2.svg);
                background-repeat: no-repeat;
            }
        }
        &.fitting-images{
            
            &:after{
                content: "";
                position: absolute;
                bottom: 31px;
                left: 44.5%;
                width: 31px;
                height: 34px;
                background-image: url(../images/main/images-for-block-information-3.svg);
                background-repeat: no-repeat;
            }
        }
        &.payment-images{
            
            &:after{
                content: "";
                position: absolute;
                bottom: 31px;
                left: 44.5%;
                width: 31px;
                height: 36px;
                background-image: url(../images/main/images-for-block-information-4.svg);
                background-repeat: no-repeat;
            }
        }
    }
    &__new-collection{
        width: 73%;
        margin-top: 49px;
        margin-bottom: 49px;
        h3{
            font: 36px "FuturaPT-Medium";
            color: #0d2f32;
            margin-bottom: 8px;
        }
        span{
            font: 18px "FuturaPT-Light";
            color: #373737;
        }
    }
    &__flex-slider{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__big-preview{
        position: relative;
        display: inline-block;
        vertical-align: top;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 264px;
        max-height: 323px;
        text-align: center;
        margin-bottom: 39px;
        cursor: pointer;
        // &:hover {
        //     .page-main__wrapper-for-hover {
        //         display: block;
        //     }
        //     & > .page-main__btn-prev{
        //         display: block !important;
        //     }
        //     & > .page-main__btn-next{
        //         display: block !important;
        //     }
        // }
    }
    &__info-bottom-slider{
        text-align: center;
        margin-bottom: 30px;
        span{
            display: block;
            font: 16px/24px "FuturaPT-Book";
            text-transform: uppercase;
            color: #0d2f32;
            &.line-through{
                text-decoration: line-through;
                font: 16px/30px "FuturaPT-Demi";
            }
            &.line{
                font: 16px/30px "FuturaPT-Demi";
            }
            &.color-red{
                text-transform: inherit;
                font: 14px/10px "FuturaPT-Demi";
                color: #87141a;
            }
        }
    }
    &__slider-images{
        position: relative;    
        overflow: hidden;
        &.image-slider-hover {
            display: block;
            img{
                &.active{
                    display: none;
                }
            }
        }  
    }
    &__icon-heart{
        display: block;
        &:before{
            content: "";
            position: absolute;
            top: 16px;
            right: 15px;
            width: 19px;
            height: 16px;
            background-image: url(../images/main/icon-heart-hover-1.svg);
            background-repeat: no-repeat;
            z-index: 100;
        }
        &.active{

            &:before{
                background-image: url(../images/main/icon-heart-hover.svg);
                background-repeat: no-repeat;
            }
        }
    }
    &__slider-new-collection{
        position: relative;
    }
    &__btn-prev{
        display: none !important;
        position: absolute;
        top: 46.7%;
        left: 13px;
        width: 9px;
        height: 15px;
        background: url("../images/main/arrow-next-hover.svg") center no-repeat;
        cursor: pointer;
        z-index: 1;
        &:hover{
            background: url("../images/main/arrow-prev.svg") center no-repeat;
        }
        &.active{
            display: block !important;
        }
    }
    &__btn-next{
        display: none !important;
        position: absolute;
        top: 46.7%;
        right: 13px;
        width: 9px;
        height: 15px;
        background: url("../images/main/arrow-prev-hover.svg") center no-repeat;
        cursor: pointer;
        z-index: 1;
        &:hover{
            background: url("../images/main/arrow-next.svg") center no-repeat;
        }
        &.active{
            display: block !important;
        }
    }
    &__wrapper-for-hover{
        display: none;
        cursor: pointer;
        &.active{
            display: block;
        }
        &:hover{
            display: block;
        }
    }
    &__add-to-cart{
        display: block;
        position: absolute;
        bottom: 114px;
        left: 0;
        cursor: pointer;
        .in-cart{
            text-align: center;
            width: 264px;
            line-height: 47px;
            height: 47px;
            background: rgba(255, 255, 255, .8);
            z-index: 10;
            span{
                font: 16px "FuturaPT-Book";
                color: #0d2f32;
                text-transform: uppercase;
            }
            &.active{
                // display: inline;
            }
        }
        .choice-of-size{
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 264px;
            // line-height: 47px;
            height: 85px;
            background: rgba(255, 255, 255, .8);
            z-index: 10;
            span{
                font: 16px/30px "FuturaPT-Book";
                color: #0d2f32;
            }
            ul{
                text-align: center;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
            li{
                font: 16px "FuturaPT-Book";
                color: #0d2f32;
                text-decoration: none;
                &:hover{
                    border-bottom: 1px solid #0d2f32;
                }
                a{
                    font: 16px "FuturaPT-Book";
                    color: #0d2f32;
                    text-decoration: none;
                    &:hover{
                        border-bottom: 1px solid #0d2f32;
                    }
                }
            }
        }
        &.second-size{
            bottom: 104px;
        }
    }
    // &__in-cart{
    //     display: block;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     text-align: center;
    //     width: 264px;
    //     line-height: 47px;
    //     height: 47px;
    //     background: rgba(255, 255, 255, .8);
    //     z-index: 10;
    // }
    &__choice-of-size{
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 264px;
        // line-height: 47px;
        height: 85px;
        background: rgba(255, 255, 255, .8);
        z-index: 10;
        span{
            font: 16px/30px "FuturaPT-Book";
            color: #0d2f32;
        }
        ul{
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        li{
            font: 16px "FuturaPT-Book";
            color: #0d2f32;
            text-decoration: none;
            &:hover{
                border-bottom: 1px solid #0d2f32;
            }
        }
    }
    &__subscribe{
        width: 100%;
        background-color: #f8f8f9;
        text-align: center;
        .internal-block{

            &__inner{
                width: 573px;
                margin: 0 auto;
            }
            &__subscribe-info{
                padding-top: 60px;
                span{
                    display: block;
                    font: 36px/24px "FuturaPT-Medium";
                    color: #0d2f32;
                }
                input{
                    width: 573px;
                    line-height: 47px;
                    height: 47px;
                    text-align: center;
                    font: 16px "FuturaPT-Book";
                    background-color: #f8f8f9;
                    color: #828282;
                    border-bottom: 1px solid #282828;
                    margin-top: 37px;
                }
            }
            &__images-social-networks{
                display: block;
                text-align: center;
                a{
                    margin-right: 26px;
                    color: #0d2f32;
                }
                i{
                    display: inline-block;
                    margin-top: 37px;
                    margin-bottom: 55px;
                    font-size: 16px;
                }
            }
        }
    }
}
