.page-making-refund-third{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
        display: block;
        margin-bottom: 22px;
    }
    &__text-under-title{
        display: block;
        font: 18px "FuturaPT-Light";
        color: #444444;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__application-accepted{

        span{
            display: block;
            font: 20px "FuturaPT-Book";
            color: #444444;
            &.title{
                font: 30px "FuturaPT-Medium";
                color: #0d2f32;
                margin-bottom: 12px;
            }
        }
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 25px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            background: transparent;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
}