@include respond-to('mm') {
    .page-making-refund-third{
        &__inner{
            @include container(100%);
            text-align: center;
        }
        &__title{
            font-size: 24px;
        }
        &__application-accepted{
            padding: 0px 60px;
            span{
                font-size: 16px;
                &.title{
                    font-size: 18px;
                }
            }
        }
    }
}