@include respond-to('xs') {
    .page-making-refund-third{
        &__inner{
            @include container(320px);
            text-align: center;
        }
        &__application-accepted{
            padding: 0px 20px;
        }
    }
}