.page-making-refund-initial{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__text-under-title{
        display: block;
        font: 18px "FuturaPT-Light";
        color: #444444;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__header-list{
        margin-top: 17px;
        border-bottom: 1px solid #f3f3f3;
        padding-bottom: 15px;
        span{
            display: block;
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
        }
        ul{
            display: flex;
            margin-top: 22px;
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            &:nth-of-type(1){
                width: 40.13%;
            }
            &:nth-of-type(2){
                width: 15.5%;
            }
            &:nth-of-type(3){
                width: 25.54%;
            }
        }
    }
    &__element-list{
        display: flex;
        margin-top: 20px;
        border-bottom: 1px solid #f3f3f3;
        padding-bottom: 25px;
        padding-top: 11px;
        span{

            &.mobile-version{
                display: none;
            }
        }
    }
    &__block-product{
        width: 40.13%;
        .wrapper-for-blocks{
            width: 100%; 
            display: flex;
        }
        .left{
            margin-right: 10px;
            img{    

            }
        }
        .right{
            a{
                display: block;
                text-decoration: none;
                font: 16px/24px "FUturaPT-Book";
                color: #0d2f32;
                @include underline(#0d2f32, 0px, solid, true);
            }
            span{
                display: block;
                font: 16px/24px "FUturaPT-Book";
                color: #444444;
                margin-bottom: 10px;
                &.text{
                    display: inline-block;
                }
                &:nth-of-type(2){
                    margin-right: 15px;
                }
            }
        }
    }
    &__block-price{
        width: 16%;
        span{
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
            display: block;
            padding-top: 35px;
        }
    }
    &__block-quality{
        position: relative;
        width: 25.54%;
        font: 15px "futuraPT-Book";
        color: #444444;
        .quality {
            position: relative;
            background: #f5f5f5;
            width: 165px;
            line-height: 39px;
            height: 39px;
            padding-left: 13px;
            cursor: pointer;
            box-sizing: border-box;
            margin-top: 27px;
            span{
                font: 15px "futuraPT-Book";
                color: #444444;
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 16px;
                right: 12px;
                width: 12px;
                height: 8px;
                background: url(../images/header/arrow-prev.svg) center no-repeat;
                cursor: pointer;
            }
            &.active{

                &:after{
                    background: url(../images/header/arrow-next.svg) center no-repeat;
                }
            }
        }
        .internal-block{
            display: none;
            position: absolute;
            top: 39px;
            left: 0;
            background: #f5f5f5;
            width: 165px;
            padding-left: 13px;
            padding-bottom: 4px;
            cursor: pointer;
            z-index: 10;
            box-sizing: border-box;
            span{
                display: block;
                font: 15px/30px "futuraPT-Book";
                color: #444444;
            }
        }
    }
    &__wrapper-block-choose{
        margin-left: 48px;
    }
    &__block-choose{
        position: relative;
        font: 15px "futuraPT-Book";
        color: #444444;
        .choose {
            position: relative;
            background: #f5f5f5;
            width: 165px;
            line-height: 39px;
            height: 39px;
            padding-left: 13px;
            cursor: pointer;
            box-sizing: border-box;
            margin-top: 27px;
            span{
                font: 15px "futuraPT-Book";
                color: #444444;
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 16px;
                right: 12px;
                width: 12px;
                height: 8px;
                background: url(../images/header/arrow-prev.svg) center no-repeat;
                cursor: pointer;
            }
            &.active{

                &:after{
                    background: url(../images/header/arrow-next.svg) center no-repeat;
                }
            }
        }
        .internal-choose-block{
            display: none;
            position: absolute;
            left: 0;
            top: 39px;
            background: #f5f5f5;
            width: 165px;
            padding-left: 13px;
            padding-bottom: 4px;
            cursor: pointer;
            box-sizing: border-box;
            z-index: 10;
            span{
                display: block;
                font: 15px/30px "futuraPT-Book";
                color: #444444;
            }
            
        }
        .fill{
            font: 16px "futuraPT-Book";
            color: #87141a;
        }
    }
    &__block-button{
        text-align: right;
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 32px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            background: transparent;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
    &__please-note{
        display: flex;
        margin-top: 32px;
        img{
            margin-right: 16px;
            width: 19px;
            height: 19px;
        }
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #87141a;
            &.title{
                text-transform: uppercase;
                margin-bottom: 13px;
            }
        }
    }
}