@include respond-to('mm') {
    .page-making-refund-initial{

        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
            margin-bottom: 15px;
        }
        &__text-under-title{
            display: block;
            text-align: center;
            font-size: 16px;
        }
        &__header-list{
            border-bottom: none;
            padding: 0 0;
            span{
                display: block;
                text-align: center;
                font-size: 16px;
            }
            ul{
                display: none;
            }
        }
        &__element-list{
            display: block;
            padding-bottom: 12px;
            padding-top: 0px;
            span{

                &.mobile-version{
                    display: block;
                    font: 18px "FuturaPT-Book";
                    color: #0d2f32;
                }
            }
        }
        &__wrapper-block-choose{
            margin-left: 0;
            margin-top: 10px;
        }
        &__block-product{
            width: 100%;
            .wrapper-for-blocks{
                border-bottom: 1px solid #f3f3f3;
                padding-bottom: 20px; 
            }
            span{
                
                &.mobile-version{
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
        &__block-price{
            width: 100%;
            span{
                display: inline-block;
                margin-bottom: 10px;
                padding-top: 20px;
                &.mobile-version{
                    display: inline-block;
                    margin-right: 20px;
                }
            }
            
        }
        &__block-quality{
            width: 100%;
            .quality{
                width: 100%;
                margin-top: 10px;
            }
            .internal-block{
                width: 100%;
            }
        }
        &__block-choose{
            width: 100%;
            .choose{
                width: 100%;
                margin-top: 10px;
            }
            .internal-choose-block{
                width: 100%;
            }
            span{

                &.fill{
                    display: block;
                    margin-top: 10px;
                }
            }
        }
        &__block-button{
            text-align: center;
        }
        &__please-note{
            padding-right: 23px;
            span{
                font-size: 16px;
            }
        }
    }
}
