@include respond-to('sm') {
    .page-making-refund-initial{
        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__header-list{

            li{
                &:nth-of-type(1){
                    width: 39.13%;
                }
                &:nth-of-type(3){
                    width: 23.54%;
                }
            }
        }
    }
}