@include respond-to('ml') {
    .page-style-pages{
        &__inner{
            @include container(100%);
        }
        &__title{
            font-size: 24px;
        }
        &__wrapper-background-images{
            display: block;
            
            a{
                width: 100%;
                height: 500px;
            }
        }
        &__backgroung-images{
            height: 500px;
            transition: auto;
            .inrernal-text{

                span{
                    font-size: 60px;
                }
            }
            &.second{
                .inrernal-text{

                    span{
                        font-size: 60px;
                    }
                }
            }
            &.initial{
                .inrernal-text{
                    // margin-bottom: 110px;
                    span{
                        font-size: 40px;
                    }
                }
            }
        }
        &__wrapper-background-second-images{

            .internal-block{

                height: 239px;
                &.two{
                    height: 239px;
                }
            }
        }
    }
}