.page-style-pages{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        display: block;
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
        margin-top: 2px;
    }
    &__wrapper-background-images{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 8px;
        a{
            display: flex;
            width: 48.7%;
            height: 621px;
            margin-top: 13px;
            text-decoration: none;
            overflow: hidden;
            &:hover{
                
                .page-style-pages__backgroung-images{
                    transform: scale(1.05);
                }
            }
        }
    }
    &__backgroung-images{
        display: flex;
        width: 100%;
        height: 621px;
        background: url(../images/style-pages/backgroung-image-page-style.jpg) center no-repeat;
        margin-top: 13px;      
        background-size: cover;
        transition: all .5s;  
        .inrernal-text{
            margin: auto;
            margin-bottom: 57px;
            text-align: center;
            text-decoration: none;
            span{
                display: block;
                font: 70px "FuturaPT-Demi";
                color: #fff;
                text-transform: uppercase;
            }
            button{
                margin-top: 7px;
                width: 146px;
                line-height: 50px;
                height: 50px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                font: 17px "FuturaPT-Medium";
                color: #fff;
                text-transform: uppercase;
                &:hover{
                    background: #fff;
                    color: #0d2f32;
                    cursor: pointer;
                }
            }
        }
        &.initial{
            background: url(../images/style-pages/backgroung-image-page-style-3.jpg) center no-repeat;
        }
        &.second{
            background: url(../images/style-pages/backgroung-image-page-style-4.jpg) center no-repeat;
        }
    }
    &__wrapper-background-second-images{
        display: block;
        width: 100%;
        height: 621px;
        .internal-block{
            display: flex;
            width: 100%;
            height: 304px;
            background: url(../images/style-pages/backgroung-image-page-style-1.jpg) center no-repeat;
            margin-top: 13px;
            background-size: cover;
            transition: all .5s;  
            overflow: hidden;
            .element{
                margin: auto;
                margin-bottom: 30px;
                text-align: center;
                span{
                    display: block;
                    font: 50px "FuturaPT-Demi";
                    color: #fff;
                    text-transform: uppercase;
                }
                button{
                    margin-top: 7px;
                    width: 146px;
                    line-height: 50px;
                    height: 50px;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    font: 17px "FuturaPT-Medium";
                    color: #fff;
                    text-transform: uppercase;
                    &:hover{
                        background: #fff;
                        color: #0d2f32;
                        cursor: pointer;
                    }
                }
            }
            &.two{
                background: url(../images/style-pages/backgroung-image-page-style-2.jpg) center no-repeat;
                margin-top: 13px;
            }
            &:hover{
                transform: scale(1.03);
            }
        }
    }
}