@include respond-to('xs') {
    .page-style-pages{
        &__inner{
            @include container(320px);
        }
        &__title{
            font-size: 24px;
        }
        &__wrapper-background-images{
            display: block;
            
            a{
                width: 100%;
                height: 400px;
            }
        }
        &__backgroung-images{
            height: 400px;
            transition: auto;
            .inrernal-text{

                span{
                    font-size: 60px;
                }
            }
            &.second{
                .inrernal-text{

                    span{
                        font-size: 60px;
                    }
                }
            }
            &.initial{
                .inrernal-text{

                    span{
                        font-size: 40px;
                    }
                }
            }
        }
        &__wrapper-background-second-images{
                height: 400px;
            .internal-block{

                height: 190px;
                &.two{
                    height: 190px;
                }
            }
        }
    }
}