.page-deferred-goods{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__text-under-title{
        display: block;
        font: 18px "FuturaPT-Light";
        color: #444444;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__your-promo-code{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        input{
            background: #f8f8f9;
            width: 320px;
            line-height: 53px;
            height: 53px;
            box-sizing: border-box;
            font: 15px "FuturaPT-Book";
            color: #444444;
            padding-left: 30px;
        }
        a{
            background: #c7b794;
            width: 147px;
            padding: 16.5px 36px;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font: 15px "FuturaPT-Medium";
            color: #fff;
            margin-left: 23px;
        }
        button{
            display: inline-block;
            position: relative;
            width: 110px;
            line-height: 60px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            cursor: pointer;
            &.add-in-basket{
                border: 1px solid #0d2f32;
                color: #0d2f32;
                background: transparent;
                width: 180px;
                line-height: 60px;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
    &__top-navigation{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        margin-top: 20px;
        ul{
            display: block;
            cursor: context-menu;
            margin-left: 16px;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 64px;
            line-height: 64px;
            height: 64px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &:before{
                position: absolute;
                top: 28px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &:before{
                    background-color: transparent;
                }
            }
            &:nth-of-type(5){
                &:before{
                    background-color: transparent;
                }
            }
            img{
                width: 16px;
                height: 11px;
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;       
            &:hover{
                color: #beac83;
            }
        }
        label{
            margin-top: 10px;
        }
        button{
            position: relative;
            display: inline-block;
            width: 45px;
            height: 45px;
            background: #f9f9f9;
            vertical-align: top;
            margin-left: -4px;
            cursor: pointer;
            &:after{
                content: "";
                position: absolute;
                top: 14px;
                left: 14px;
                width: 17px;
                height: 17px;
                background: url(../images/my-balance/search.svg) center no-repeat;
                border: none;
            }
        }
        input{
            background: #f9f9f9;
            width: 226px;
            height: 45px;
            box-sizing: border-box;
            padding-left: 28px;
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    .wrapper-for-lest{

        &__block-list{
            border-bottom: 1px solid #f3f3f3;
            display: flex;
            padding-left: 7px;
            span{
                
                &.mobile-select-all{
                    display: none;
                }
            }
            li{
                padding: 20px 0;
                font: 18px "FuturaPT-Book";
                color: #0d2f32;
                &:nth-of-type(1){
                    width: 45.86%;
                }
                &:nth-of-type(2){
                    width: 21.03%;
                }
                &:nth-of-type(3){
                    width: 21.26%;
                }
                &:nth-of-type(4){
                    
                }
            }
            .ul-list{
                cursor: pointer;
                .indicator {
                    position: relative;
                    display: inline-block;
                    margin-right: 32px;
                    border: 1px solid #0d2f32;
                    width: 11px;
                    height: 11px;
                    cursor: pointer;
                }
                span{

                    &.goods{
                        display: inline-block;
                    }
                }
                &.active {

                    .indicator:before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 10px;
                        height: 11px;
                        background: url(../images/my-orber/list-checkbox.svg) center no-repeat;
                    }
                }
            }
            
        }
        input:checked + label .item__checkbox-container {
            i:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 11px;
                height: 11px;
                background: url(../images/my-orber/list-checkbox.svg) center no-repeat;
            }
        }
        .item{
            border-bottom: 1px solid #ebebeb;
            padding-top: 5px;
            padding-bottom: 45px;
            cursor: pointer;
            display: flex;
            padding-left: 9px;
            span{
                font: 16px "FututraPT-Book";
                color: #444444;
            }
            &__checkbox-container{
                width: 5.28%;
                i{
                    position: relative;
                    display: inline-block;
                    margin-right: 32px;
                    border: 1px solid #0d2f32;
                    width: 11px;
                    height: 11px;
                    cursor: pointer;
                }
            }
            &__item-info{
                width: 100%;
                display: flex;
            }
            &__image-container{
                width: 96px;
                img{
                    width: 80px;
                    height: 95px;
                }
            }
            &__info-container{
                width: 200px;
                a{
                    font: 16px/24px "FuturaPT-Book";
                    color: #444444;
                    text-decoration: none;
                    &.color{
                        color: #0d2f32;
                        @include underline(#0d2f32, 0px, solid, true);
                    }
                }
                span{
                    font: 16px/24px "FuturaPT-Book";
                    color: #444444;
                    text-decoration: none;
                    &.color{
                        color: #0d2f32;
                        @include underline(#0d2f32, 0px, solid, true);
                    }
                }
                p{
                    display: inline-block;
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                }
            }
            &__price{
                width: 17.48%;
                span{
                    font: 16px "FuturaPT-Demi";
                    color: #0d2f32;
                    &.price{
                        display: none;
                    }
                }
            }
            &__container-for-initial-element{
                width: 46%;
                display: flex;
            }
            &__action{
                width: 23%;
                text-align: right;
                span{

                    &.text-action{
                        display: none;
                    }
                }
                .delete{
                    text-align: right;
                    width: 14px;
                    height: 14px;
                    margin-left: 70%;
                    margin-bottom: 20px;
                    img{
                        width: 13px;
                        height: 13px;
                        
                    }
                }
                .images-basket{
                    display: inline-block;
                    background: #0d2f32;
                    border-radius: 30px;
                    width: 32px;
                    line-height: 32px;
                    height: 32px;
                    text-align: center;
                    margin-right: 35px;
                    margin-bottom: 20px;
                    img{
                        width: 17px;
                        height: 14px;
                    }
                }
                .images{
                    display: block;
                    img{
                        margin-right: 9px;
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            &__in-stock{
                padding-left: 12px;
                box-sizing: border-box;
                span{
                    font: 16px "FuturaPT-Book";
                    color: #0d2f32;
                    &.quantity{
                        display: none;
                    }
                }
            }
        }
    }
    &__bottom-navigation{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        ul{
            display: block;
            cursor: context-menu;
            margin-left: 16px;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 64px;
            line-height: 64px;
            height: 64px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &:before{
                position: absolute;
                top: 28px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &:before{
                    background-color: transparent;
                }
            }
            &:nth-of-type(5){
                &:before{
                    background-color: transparent;
                }
            }
            img{
                width: 16px;
                height: 11px;
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;       
            &:hover{
                color: #beac83;
            }
        }
        label{
            margin-top: 10px;
        }
        button{
            display: inline-block;
            position: relative;
            width: 100px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            &.add-in-basket{
                border: 1px solid #0d2f32;
                width: 182px;
                line-height: 62px;
                height: 62px;
                color: #0d2f32;
                background: transparent;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
}