@include respond-to('mm') {
    .page-deferred-goods{

        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
        }
        &__text-under-title{
            font-size: 16px;
        }
        &__your-promo-code{
            text-align: center;
        }
        &__top-navigation{
            display: block;
            border-bottom: none;            
            ul{
                display: flex; 
                margin-left: 0px;
            }
            li{
                margin-left: 0px;
                width: 40px;
                line-height: 40px;
                height: 40px;
                &:before{
                    top: 14px;
                }
            }
            input{
                width: 86.5%;
            }
            button{
                width: 13%;
            }
        }
        .wrapper-for-lest{

            &__block-list{

                span{
                    display: block;
                    &.mobile-select-all{
                        display: inline-block;
                    }
                }
                li{
                    display: none;
                    &:nth-of-type(1){
                        display: block;
                        width: 100%;
                    }
                    span{
                        
                        &.ul-list{
                            display: block;
                        }
                        
                    }
                    i{
                        margin-left: 1px;
                    }
                }
            }
            .ul-list{ 
                span{
                    &.goods{
                        display: block;
                        margin-top: 15px;
                    }
                }
                .indicator{
                        margin-right: 11px;
                }
            }
            .item{
                display: block;
                &__checkbox-container{
                    width: 4%;
                    margin-right: 12px;
                }
                &__container-for-initial-element{
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid #f3f3f3;
                    padding-bottom: 8px;
                }
                &__item-info{
                    display: flex;
                    justify-content: space-between;
                    width: 95%;
                }
                &__image-container{
                    width: 55px;
                    margin-right: 10px;
                    img{ 
                        width: 55px;
                        height: 65px;
                    }
                }
                &__info-container{
                    width: 200px;
                }
                &__price{
                    width: 100%;
                    margin: auto;
                    padding-top: 15px;
                    padding-left: 15px;
                    box-sizing: border-box;
                    span{

                        &.price{
                            display: inline-block;
                            margin-right: 20px;
                            font: 18px "FuturaPT-Book";
                        }
                    }
                }
                &__in-stock{
                    margin-top: 15px;
                    margin-left: 15px;
                    box-sizing: border-box;
                    span{
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        &.quantity{
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                }
                &__action{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                    padding: 0 16px;
                    box-sizing: border-box;
                    margin-top: 15px;
                    span{

                        &.text-action{
                            display: inline-block;
                            font: 16px "FuturaPT-Book";
                            color: #0d2f32;
                            margin-top: 5px;
                        }
                    }
                    .images-basket{
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }
                    .delete{
                        margin-top: 10px;
                        margin-left: 0px;
                        text-align: left;
                    }
                    .images{
                        margin-top: 5px;

                    }
                }
            }
        }
        &__bottom-navigation{
            display: block;
            margin-top: 5px;
            ul{
                display: flex; 
                margin-left: 0px;
            }
            li{
                margin-left: 0px;
                width: 40px;
                line-height: 40px;
                height: 40px;
                &:before{
                    top: 14px;
                }
            }
            div{
                text-align: center;
            }
        }
    }
}