@include respond-to('sm') {
    .page-deferred-goods{

        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 28px;
        }
        &__text-under-title{
            margin-top: 15px;
            text-align: center;
        }
        &__your-promo-code{
            display: block;
            text-align: right;
            input{
                width: 100%;
            }
            a{
                margin-top: 15px;
                width: 100%;
                margin-left: 0px;
                display: block;
                box-sizing: border-box;
            }
            button{
                margin-top: 20px;
            }
        }
        .wrapper-for-lest{

            .item{

                &__action{

                    .delete{
                        text-align: right;
                        width: 14px;
                        height: 14px;
                        margin-left: 65.5%;
                        margin-bottom: 20px;
                        img{
                            width: 13px;
                            height: 13px;
                            
                        }
                    }
                }
                &__in-stock{
                    padding-left: 0px;
                }
            }
        }
    }
}