@include respond-to('xs') {
    .page-deferred-goods{

        &__inner{
            @include container(320px);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
        }
        &__text-under-title{
            font-size: 16px;
        }
        &__your-promo-code{
            text-align: center;
        }
        &__top-navigation{
            display: block;
            ul{
                display: flex; 
            }
            li{
                margin-left: 0px;
                width: 40px;
                line-height: 40px;
                height: 40px;
                &:before{
                    top: 14px;
                }
            }
        }
        .wrapper-for-lest{

            &__block-list{

                        li{
                            display: none;
                            &:nth-of-type(1){
                                display: block;
                                width: 100%;
                            }
                            span{
                                &.goods{
                                    display: none;
                                }
                                &.ul-list{
                                    display: block;
                                }
                            }
                            i{
                                margin-left: 1px;
                            }
                        }
            }
            .item{
                display: block;
                &__checkbox-container{
                    width: 4%;
                    margin-right: 12px;
                }
                &__container-for-initial-element{
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid #f3f3f3;
                    padding-bottom: 8px;
                }
                &__item-info{
                    display: flex;
                    justify-content: space-between;
                    width: 95%;
                }
                &__image-container{
                    width: 55px;
                    margin-right: 10px;
                    img{ 
                        width: 55px;
                        height: 65px;
                    }
                }
                &__info-container{
                    width: 200px;
                }
                &__price{
                    width: 100%;
                    margin: auto;
                    padding-top: 15px;
                    padding-left: 15px;
                    box-sizing: border-box;
                    span{

                        &.price{
                            display: inline-block;
                            margin-right: 20px;
                            font: 18px "FuturaPT-Book";
                        }
                    }
                }
                &__in-stock{
                    margin-top: 15px;
                    margin-left: 15px;
                    box-sizing: border-box;
                    span{
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        &.quantity{
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                }
                &__action{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    text-align: left;
                    margin-top: 15px;
                    span{

                        &.text-action{
                            display: inline-block;
                            font: 16px "FuturaPT-Book";
                            color: #0d2f32;
                            margin-top: 5px;
                        }
                    }
                    .images-basket{
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }
                    .delete{
                        margin-top: 10px;
                        margin-left: 0px;
                        text-align: left;
                    }
                    .images{
                        margin-top: 5px;

                    }
                }
            }
        }
        &__bottom-navigation{
            display: block;
            margin-top: 5px;
            ul{
                display: flex; 
            }
            li{
                margin-left: 0px;
                width: 40px;
                line-height: 40px;
                height: 40px;
                &:before{
                    top: 14px;
                }
            }
        }
    }
}