@include respond-to('lg') {
    .page-write-appeals{
        &__inner{
            @include container(1024px);
            margin-top: 30px;
        }
        .col-1{
            display: none;
        }
        .col-2{
            width: 100%;
        }
    }
}