@include respond-to('mm') {
    .page-write-appeals{
        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
        }
        &__internal-blocks-second-col{
            display: block;
            .col-2-1{
                width: 100%;
            }
            .col-2-2{
                width: 100%;
                padding: 0 32px 0 0;
                box-sizing: border-box;
            }
        }
        &__required-field{
            text-align: center;
        
        }
        .write-appeals{
            
            &__header{
                display: none;
            }
        }
        &__mobile-version{
            position: relative;
            display: block;
            border-bottom: 1px solid #f5f5f5;
            padding: 10px 20px;
            span{
                font: 13px "FuturaPT-Book";
                color: #2d4b4d;
                text-transform: uppercase;
            }
            &:after{
                content: "";
                position: absolute;
                right: 10px;
                top: 15px;
                cursor: pointer;
                width: 12px;
                height: 8px;
                background: url(../images/header/arrow-prev.svg) center no-repeat;
            }
            &.active{

                &:after{
                    background: url(../images/header/arrow-next.svg) center no-repeat;
                }
            }
        }
        &__select-block{

            .text{

                span{

                    &:after{
                        right: 12px;
                    }
                }
            }
        }
        &__button{
            text-align: center;
        }
        &__bottom-text{
            padding-right: 0px;
            padding-bottom: 20px;
        }
    }
}