.page-write-appeals{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__internal-blocks-second-col{
        display: flex;
    }
    .col-2-1{
        width: 48%;
        margin-right: 29px;
    }
    .col-2-2{
        width: 48%;
    }
    .write-appeals{
        &__header{
            border-bottom: 1px solid #f3f3f3;
            display: flex;
            margin-top: 16px;
            .appeals-method__method-name {
                position: relative;
                display: inline-block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                text-transform: uppercase;
                font: 15px "FuturaPT-Book";
                color: #2d4b4d;
                cursor: pointer;
                &.active{
                    span{
                        border-bottom: 3px solid #0d2f32;
                        padding-bottom: 12px;
                    }
                }
                
            }
        }
    }
    &__mobile-version{
        display: none;
    }
    &__question{
        display: flex;
        margin-top: 23px;
        img{
            width: 19px;
            height: 19px;
            margin-right: 10px;
        }
        span{
            font: 16px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            position: relative;
            @include underline(#444444, 0px, dashed, true);
            
        }
    }
    &__select-block{
        position: relative;
        cursor: pointer;
        .text{
            position: relative;
            padding: 15px 0;
            border-bottom: 1px solid #f3f3f3;
            span{
                display: block;
                position: relative;
                font: 15px "FuturaPT-Book";
                color: #444444;
                &:after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 10px;
                    cursor: pointer;
                    width: 12px;
                    height: 8px;
                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                }
            }
            &.active{
                span{
                    &:after{
                        background: url(../images/header/arrow-next.svg) center no-repeat;
                    }
                }
                
            }
        }
        .internal-block-select{
            display: none;
            position: absolute;
            top: 51px;
            left: 0;
            width: 100%;
            padding: 21px 0 33px 16px;
            background: #f5f5f5;
            z-index: 1;
            span{
                display: block;
                font: 15px/30px "FuturaPT-Book";
                color: #444444;
                 &:hover{
                     color: #beac83;
                 }
                &.active{
                    color: #beac83;
                }
            }
            &.additional{
                top: 51px;
                left: 0;
            }
        }
    }
    &__commints{

        textarea{
            font: 15px "FuturaPT-Book";
            color: #444444;
            width: 95%;
            height: 153px;
            border: 1px solid #f3f3f3;
            outline: none;
            padding-left: 16px;
            padding-top: 15px;
        }
    }
    &__required-field{
        margin-top: 18px;
        span{
            font: 15px "FuturaPT-Book";
            color: #c7b794;
        }
    }
    &__button{

        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            text-transform: uppercase;
            font: 15px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
    &__header-text{
        margin-top: 20px;
        font: 16px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__text-list{
        margin-top: 17px;
        p{
            font: 16px "futuraPT-Light";
            color: #444444;
            &.title{
                display: block;
                padding-bottom: 17px;
            }
        }
        span{    
            padding-left: 19px;
        }
    }
    &__bottom-text{
        margin-top: 17px;
        span{
            display: block;
            font: 16px "futuraPT-Light";
            color: #444444;
            &.title{
                font: 16px "futuraPT-Medium";
                color: #0d2f32;
                display: block;
                padding-bottom: 17px;
            }
        }
    }
}
