.page-personal-account{
    &__inner{
        @include container();
        margin-top: 42px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    &__top-wrapper{
        display: flex;
        flex-wrap: wrap;
        .col-2-1{
            width: 31.35%;
            margin-right: 17px;
        }
        .col-2-2{
            width: 39.33%;
            margin-right: 17px;
        }
        .col-2-3{
            width: 24.42%;
        }
        .internal-element{
            
            &__internal-element-basket{
                position: relative;
                padding: 31px 0px 14px 25px;
                background-color: #cec1a2;
                overflow: hidden;
                &.background{
                    background-color: #fafafa;
                    
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: -7px;
                        right: 16px;
                        width: 82px;
                        height: 92px;
                        background: url(../images/personal-account/box.svg) center no-repeat;
                    }
                }
                a{
                    font: 16px "FuturaPT-Medium";
                    color: #fff;
                    text-decoration: none;
                    display: inline-block;
                    margin-bottom: 10px;
                    @include underline( #fff, 1px, dashed, true); 
                    &.color-black-blue{
                        color: #0d2f32;
                    }
                }
                span{
                    display: block;
                   font: 16px/24px "FuturaPT-Book";
                   color: #fff;
                   &.uppercase{
                       text-transform: uppercase;
                       font-size: 18px;
                   }
                   &.color-grey{
                       color: #444444;
                   }
                }
                button{
                    display: inline-block;
                    position: relative;
                    width: 117px;
                    line-height: 45px;
                    height: 45px;
                    text-transform: uppercase;
                    font: 14px "FuturaPT-Medium";
                    background: transparent;
                    border: 1px solid #fff;
                    color: #fff;
                    margin-top: 17px;
                    margin-bottom: 33px;
                    cursor: pointer;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #fff;
                    }
                    &.color-black-blue{
                        color: #0d2f32;
                        border: 1px solid #0d2f32;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            width: 100%;
                            height: 100%;
                            border: 1px solid #0d2f32;
                        }
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    right: 16px;
                    width: 82px;
                    height: 92px;
                    background: url(../images/personal-account/backet-bag.svg) center no-repeat;
                }
                &:nth-of-type(1){
                    margin-bottom: 15px;
                }
            }
            &__my-balance{
                padding: 31px 27px 10px 25px;
                background-color: #fafafb; 
            }
            &__wrapper-for-internal-block{
                border-bottom: 1px solid #ececec;
                display: flex;
                justify-content: space-between;
                padding-bottom: 8px;
                .left{
                    span{
                        display: block;
                        font: 16px/33px "FuturaPT-Book";
                        color: #444444;
                        &.uppercase{
                            font: 16px "FuturaPT-Medium";
                            color: #0d2f32;
                            text-transform: uppercase;
                        }
                        &.price-text{
                            font: 16px "FuturaPT-Medium";
                            color: #0d2f32;
                        }
                    }
                    button{
                        cursor: pointer;
                        background: transparent;
                        font: 16px/24px "FuturaPT-Medium";
                        color: #0d2f32;
                        @include underline( #0d2f32, 0px, solid, true);
                    }
                }
                .right{

                    a{
                        text-decoration: none;
                        color: #444444;
                        font: 16px "FuturaPT-Book";
                        @include underline( #444444, 0px, solid, true);
                    }
                }
            }
            &__history-operation{
                border-bottom: 1px solid #ececec;
                a{
                    display: block;
                    position: relative;
                    width: 100%;
                    padding: 18px 0;
                    text-decoration: none;
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 26px;
                        right: 4px;
                        width: 12px;
                        height: 8px;
                        background: url(../images/personal-account/arrow-nexr.svg) center no-repeat;
                    }
                }
                &.border{
                    border-bottom: none;
                }
            }
            &__left-block{
                text-align: center;
                background-color: #fafafb; 
                padding-left: 23px;
                padding-right: 23px;
                padding-top: 21px;
                padding-bottom: 2px;
                .internal-blocks{

                    span{
                        display: block;
                        color: #444444;
                        font: 16px/24px "FuturaPT-Book"; 
                        &.uppercase{
                            text-transform: uppercase;
                            font: 16px/27px "FuturaPT-Medium";
                            color: #0d2f32; 
                        }
                    }
                    img{
                        display: inline-block;
                        width: 20px;
                        height: 21px;
                        margin-bottom: 11px;
                    }
                    a{
                        text-decoration: none;
                        color: #444444;
                        font: 16px/35px "FuturaPT-Book";
                        @include underline( #444444, 0px, solid, true);
                    }
                }
            }
        }
    }
    &__my-discount{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 16px;
        padding-right: 45px;
        background-color: #fafafb;
        .internal-blocks{

            &__left{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 9px 0;
                .left{
                    padding: 43px 23px 42px 36px;
                    text-align: center;
                    border-right: 1px solid #efefef;  
                    span{
                        display: block;
                        font: 16px "FuturaPT-Medium";
                        color: #0d2f32;
                        text-transform: uppercase;
                        &.percent{
                            font: 29px "FuturaPT-Medium";
                            vertical-align: top;
                            display: initial;
                            text-transform: initial;
                            color: #87141a;
                        }
                    }
                    b{
                        text-transform: uppercase;
                        font: 48px "FuturaPT-Medium";
                        color: #87141a;
                        margin-top: 14px;
                        display: inline-block;
                    }
                }
                .right{
                    margin-top: 30px;
                    margin-left: 17px;
                    span{
                        display: block;
                        font: 16px/24px "FuturaPT-Book";
                        color: #444444;
                        &.color-red{
                            display: initial;
                            color: #87141a;
                        }
                    }
                    b{
                        cursor: pointer;
                        @include underline( #444444, 0px, dashed, true);
                    }
                    a{
                        display: inline-block;
                        margin-top: 32px;
                        text-decoration: none;
                        color: #444444;
                        font: 16px "FuturaPT-Book";
                        @include underline( #444444, 0px, solid, true);
                    }
                }
            }
            &__right{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .left{
                    text-align: center;
                    padding: 30px 46px 42px 36px;
                    img{
                        display: block;
                        position: relative;
                        background-color: #ebebeb;
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 28px;
                            left: 33px;
                            width: 25px;
                            height: 30px;
                            background: url(../images/personal-account/photo-picture.svg) 50% 50% no-repeat;
                        }
                    }
                    label{
                        position: relative;
                        display: inline-block;
                        width: 32px;
                        height: 33px;
                        margin-top: 13px;
                        background: #d7b791;
                        border-radius: 50%;
                        cursor: pointer;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 9px;
                            left: 8px;
                            width: 15px;
                            height: 15px;
                            background: url(../images/personal-account/handle.svg) 50% 50% no-repeat;
                        }
                    }
                    input{
                        display: none;
                    }
                }   
                .right{
                    padding: 20px 23px 20px 36px;
                    span{
                        display: block;
                        font: 16px/24px "FuturaPT-Book";
                        color: #444444;
                        &.uppercase{
                            display: block;
                            text-transform: uppercase;
                            font: 16px/24px "FuturaPT-Medium";
                            color: #0d2f32;            
                            margin-bottom: 17px;
                        }
                    }
                    a{
                        font: 16px "FuturaPT-Book";
                        color: #444444;
                        margin-top: 20px;
                        text-decoration: none;
                        display: inline-block;
                        @include underline( #444444, 1px, solid, true); 
                    }
                }
            }
        }
    }
    &__bonus{
        padding: 33px 81px 41px 34px;
        margin-top: 16px;
        background-color: #fafafb;
        span{
            display: block;
            font: 16px/24px "FuturaPT-Book"; 
            color: #444444;
            &.uppercase{
                text-transform: uppercase;
                font: 16px "FuturaPT-Medium"; 
                margin-bottom: 22px;
                color: #87141a;
            }
        }
        a{
            font: 16px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            @include underline( #444444, 1px, solid, true); 
        }
    }
}