@include respond-to('sm') {
    .page-personal-account{
        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__my-discount{
            padding-right: 0px;
            .internal-blocks{

                &__left{

                    .left{
                        padding: 43px 23px 42px 23px;
                    }
                }
                &__right{

                    .right{
                        padding: 20px 0px 20px 0;
                    }
                }
            }
        }
        &__top-wrapper{

            .internal-element{

                &__internal-element-basket{
                    padding: 31px 0px 25px 25px;
                    &:after{
                        right: 4px;
                    }
                    &.background{
                        background-color: #fafafa;
                        
                        &:after{
                            right: 4px;
                        }
                    }
                }
                &__left-block{
                    padding-top: 28px;
                    padding-left: 13px;
                    padding-right: 13px;
                    .internal-blocks{

                        span{

                            &.uppercase{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}