@include respond-to('xs') {
    .page-personal-account{
        &__inner{
            @include container(320px);
            margin-top: 30px;
        }
        &__my-discount{
            padding-right: 0px;
            .internal-blocks{

                &__left{
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 100%;
                    .left{
                        padding: 43px 0px 0px 0px;
                    }
                    .right{
                        margin-left: 0px;
                    }
                }
                &__right{
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 100%;
                    .right{
                        padding: 20px 0px 20px 0;
                    }
                    .left{
                        padding: 30px 0px 0px 0px;
                        img{
                            display: inline-block;
                        }
                    }
                }
            }
        }
        &__top-wrapper{
            display: block;
            .col-2-1{
                width: 100%;
                margin-bottom: 15px;
            }
            .col-2-2{
                width: 100%;
            }
            .col-2-3{
                width: 100%;
                margin-top: 15px;
            }
            .internal-element{
                &__internal-element-basket{
                    padding: 31px 0px 25px 35px;
                    &:after{
                        right: 16px;
                    }
                    &.background{
                        background-color: #fafafa;
                        
                        &:after{
                            right: 16px;
                        }
                    }
                }
                &__left-block{
                    padding-top: 28px;
                    padding-left: 13px;
                    padding-right: 13px;
                    .internal-blocks{

                        span{

                            &.uppercase{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}