.page-making-refund-second{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
        display: block;
        margin-bottom: 22px;
    }
    &__text-under-title{
        display: block;
        font: 18px "FuturaPT-Light";
        color: #444444;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
        display: flex;
    }
    .col-2-1{
        width: 48%;
        margin-right: 4%;
    }
    .col-2-2{
        width: 48%;
        margin-top: 67px;
    }
    &__wrapper-initial-col{
        font: 16px "FuturaPT-Book";
        color: #444444;
        label{
            position: relative;
            display: block;
            font: 16px "FuturaPT-Book";
            color: #444444;
            width: 420px;
            line-height: 51px;
            height: 51px;
            background: #f5f5f5;
            padding-left: 50px;
            box-sizing: border-box;
            margin-top: 15px;
        }
        input{
            position: absolute;
        }
        .initial{
            position: relative;

            &:before{
                content: "";
                position: absolute;
                top: 2px;
                left: -30px;
                width: 17px;
                height: 17px;
                border: 1px solid #444444;
                border-radius: 20px;
                background: #fff;
            }
        }
        input:checked + .initial{

            &:before{
                background: url(../images/making-refund-second/active-radio.png) center no-repeat;
            }  
        }
        .edit{
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 50px;
            width: 13px;
            height: 13px;
            background: url(../images/making-refund-second/pencil.svg) center no-repeat;
        }
        .delete{
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 19px;
            width: 13px;
            height: 13px;
            background: url(../images/making-refund-second/close.svg) center no-repeat;
        }
    }
    &__block-button{

        span{
            display: block;
            margin-top: 15px;
            font: 16px "FuturaPT-Light";
            color: #87141a;
        }
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            background: transparent;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
    &__courier-departure{
        margin-top: 20px;
        display: flex;
        img{
            width: 19px;
            height: 19px;
            margin-right: 11px;
        }
        span{
            font: 18px "FuturaPT-Light";
            color: #87141a;
            &.uppercase{
                display: block;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }
    }
    &__history-operation{
        display: flex;
        margin-top: 30px;
        span{
            display: inline-block;
            margin-top: 10px;
            margin-left: 12px;
            font: 18px "FuturaPT-Light";
            color: #444444;
        }
        input{
            width: 181px;
            height: 45px; 
            border: 1px solid #ececec;
            padding-left: 15px;
            font: 15px "FuturaPT-Book";
            color: #444444;
            margin-left: 12px;
            padding-right: 50px;
            box-sizing: border-box;
        }
        label{
            position: relative;
            &:before{
                content: "";
                position: absolute;
                right: 21px;
                top: 11px;
                width: 22px;
                height: 22px;
                background: url(../images/making-refund-second/calendar-grey.svg) center no-repeat;
            }
        }
    } 
    &__right-block-button{
        margin-bottom: 55px;
        span{
            display: block;
            margin-top: 15px;
            font: 16px "FuturaPT-Light";
            color: #87141a;
        }
        button{
            display: inline-block;
            position: relative;
            width: 254px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            background: transparent;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
    &__return-policy{
        margin-top: 13px;
            p{
                display: block;
                margin-top: 12px;
                font: 16px "FuturaPT-Book";
                color: #87141a;
                margin-left: 29px;
                padding-right: 20px;
            }
        label {
            display: block;

        }
        input{
            position: absolute;
        }
        span{
            position: relative;
            font: 16px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            display: inline-block;
            margin-top: 12px;
            margin-left: 29px;
            @include underline(#444444, 0px, dashed, false);
            &:before{                
                content: "";
                position: absolute;
                top: 3px;
                left: -28px;
                width: 13px;
                line-height: 13px;
                height: 13px;
                border: 1px solid #0d2f32;
                font-family: 'Font Awesome\ 5 Free';
                text-align: center;
                font-weight: 600;
                color: #0d2f32;
                font-size: 10px;
            }
        }
        input:checked + span {

            &:before {
                content: '\f00c';
            }
        }
    }
    &__return-goods{
        text-align: right;
        margin-top: 10px;
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            background: transparent;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
}