@include respond-to('ml') {

    .page-making-refund-second{

        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
            margin-bottom: 10px;
        }
        .col-2{
            display: block;
        }
        .col-2-1{
            width: 100%;
        }
        .col-2-2{
            width: 100%;
            margin-top: 19px;
        }
        &__wrapper-initial-col{

            span{
                display: block;
                text-align: center;
                padding: 0 14px;
            }
            label{
                width: 100%;
                padding-right: 82px;
                padding-top: 15px;
                padding-bottom: 15px;
                height: auto;
                line-height: unset;
            }
        }
        &__block-button{
            text-align: center;
            span{
                margin-top: 20px;
            }
        }
        &__history-operation{
            display: block;
            .datepicker__label{

                &:nth-of-type(2){
                    margin-top: 20px;
                }
            }
            input{
                width: 100%;
                margin-left: 0px;
                padding-right: 129px;
            }
        }
        &__right-block-button{
            text-align: center; 
            margin-bottom: 20px;
        }
        &__return-policy{

            span{
                margin-top: 0px;
            }
            p{
                padding-right: 0px;
                margin-left: 0px;
            }
        }
        &__return-goods{
            text-align: center;
        }
    }
}