@include respond-to('sm') {

    .page-making-refund-second{

        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__wrapper-initial-col{

            label{
                width: 359px;
            }
        }
        &__history-operation{

            input{
                width: 167px;
            }
        }
    }
}