.sidebar-menu {
    &__title{
        font: 24px/24px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__list {
        display: block;
        a {
            text-decoration: none;
            line-height: 38px;
        }

        & > li {
            margin: 10px 0;
            & > a {
                font: 16px/30px "FuturaPT-Medium";
                color: #0d2f32;
                text-transform: uppercase;
                span {
                    color: #a1a1a1;
                }
            }

            & > ul {
                // margin-left: 30px;
                & > li {
                    & > a {
                        color: #444444;
                        font: 16px/32px "FuturaPT-Book";
                        &:hover {
                            color: #beac83;
                        }
                        span {
                            // font: 16px "Lato-Heavy";
                            font: 16px "FuturaPT-Bold";
                            color: #87141a; 
                        }
                    }
                }
            }
        }

        ul {
            display: block;
            margin-top: 10px;
        }
        li.active {
            a {
                color: #000;
            }
        }
        
    }
} 
//datepicker - calendar
.datepicker {
    box-sizing: border-box;
    width: 100%;
    padding-left: 26px;
    padding-right: 50px;
    font: 15px/45px "FuturaPT-Book";
    color: #7d7d7d;
    border: 1px solid #ebebeb;
    border-radius: 23px;
    &__label {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        // width: 255px;
    }
    &__icon {
        position: absolute;
        display: block;
        top: 12px;
        right: 25px;
        width: 22px;
        height: 22px;
        // background: url(/images/static/calendar.png);
        pointer-events: none;
    }
}

.ui-datepicker.ui-widget.ui-widget-content {
    @include box-shadow();
    box-sizing: border-box;
    width: 280px;
    margin-top: 20px;
    padding: 0 15px;
    border: none;
    background-color: #f5f5f5;
    .ui-datepicker-header {
        box-sizing: border-box;
        width: 280px;
        height: 104px;
        margin-left: -15px;
        padding: 0;
        background-color: #f9f9f9;
        border: none;
    }
    .ui-datepicker-title {
        font-size: 0;
        line-height: 0;
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }
    .ui-datepicker-month {
        display: block;
        margin-top: 28px;
        font: 24px "FuturaPT-Book";

    }
    .ui-datepicker-year {
        display: block;
        margin-top: 11px;
        font: 16px "FuturaPT-Book";
    }
    .ui-datepicker-calendar {
        margin-bottom: 32px;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next, 
    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        background-color: #f9f9f9;
        border: none;
        width: 28px;
        height: 29px;
        top: 31px;
        span {
            width: 6px;
            height: 11px;
            margin: 0;
            top: 9px;
            left: 11px;
            background: none;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 2px;
                display: block;
                width: 2px;
                height: 6px;
                background-color: #000;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                top: 4px;
                transform: rotate(-45deg);
            }
        }
    }
    .ui-datepicker-prev,
    .ui-datepicker-prev:hover {
        left: 36px;
    }
    .ui-datepicker-next,
    .ui-datepicker-next:hover {
        right: 36px;
        span {
            transform: rotate(180deg);
        }
    }
    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        background-color: #ebebeb;
    }
    th {
        span {
            box-sizing: border-box;
            display: block;
            width: 32px;
            margin-top: 16px;
            margin-bottom: 2px;
            padding: 5px 8px;
            font: 11px "FuturaPT-Medium";
            text-align: center;
            text-transform: uppercase;
            color: #beac83;
            border: none;
        }
    }
    td, th {
        box-sizing: border-box;
        width: 32px;
        margin: 2px 2px;
        padding: 0;
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    .ui-button.ui-state-disabled:hover,
    .ui-button.ui-state-disabled:active {
        box-sizing: border-box;
        width: 32px;
        margin: 0;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 5px 8px;
        font: 14px "FuturaPT-Medium";
        text-align: center;
        color: #555555;
        border: none;
    }
    .ui-datepicker-current-day {
        position: relative;
        a {
            background-color: transparent;
        }
        &:hover a {
            background-color: #ebebeb;
        }
        &::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 6px;
            display: block;
            width: 5px;
            height: 5px;
            background-color: #beac83;
            border-radius: 50%;
        }
    }
    .ui-datepicker-today {
        a {
            background-color: transparent;
        }
        &:hover a {
            background-color: #ebebeb;
        }
    }
}