@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('../fonts/FuturaPTBold.otf');
}
@font-face {
    font-family: 'FuturaPT-BoldOblique';
    src: url('../fonts/FuturaPT-BoldOblique.otf');
}
@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPTBook.otf');
}
@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPTMedium.otf');
}
@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../fonts/FuturaPTDemi.otf');
}
@font-face {
    font-family: 'FuturaPT-Heavy';
    src: url('../fonts/FuturaPTHeavy.otf');
}
@font-face {
    font-family: 'FuturaPT-Light';
    src: url('../fonts/FuturaPTLight.otf');
}



