@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin box-shadow {
    box-shadow: 9px 15px 17px 1.08px rgba(128, 128, 128, 0.32);
}
@mixin container($width: 1140px) {
    width: $width;
    margin: 0 auto;
    @include clearfix();
    padding: 0 10px;
    box-sizing: border-box;
}

@mixin underline($color: #000, $padding: 0px, $style: 0, $hover: true) {
    position: relative;
    padding-bottom: $padding;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        z-index: 5;
        @if $style == dashed {
            background-image: linear-gradient(to right, $color 50%, transparent 50%);
            background-repeat: repeat-x;
            background-size: 4px 1px;
        } @else {
            background-color: $color;
        }
    }
    @if $hover == true {
        &:hover {
            &:after {
                visibility: hidden;
            }
        }
    }
}

@mixin hasPopup() {
    & {
        position: relative;
        .popup {
            display: none;
            position: absolute;
            z-index: 1000;
        }
    }
    &:hover {
        .popup {
            display: block;
        }
    }
}

@mixin respond-to($media) {
  @if $media == xs {
    @media screen and (max-device-width: $xs - 1) {
      @content;
    }
  }
  @else if $media == mm {
    @media screen and (max-device-width: $mm - 1) {
      @content;
    }
  }
  @else if $media == ml {
    @media screen and (max-device-width: $ml - 1) {
      @content;
    }
  }
  @else if $media == sm {
    @media screen and (max-device-width: $sm - 1) {
      @content;
    }
  }
  @else if $media == md {
    @media screen and (max-device-width: $md - 1) {
      @content;
    }
  }
  @else if $media == lg {
    @media screen and (max-device-width: $lg - 1) {
      @content;
    }
  }
  @else if $media == xl {
    @media screen and (max-device-width: $xl - 1) {
      @content;
    }
  }
  @else if $media == print {
    @media print {
      @content;
    }
  }
}