@include respond-to('ml') {
    .page-wholesalers{
        &__inner{
            @include container(100%);
        }
        &__contact{

            .terms-of-cooperation{
                
                li{
                    font-size: 15px;
                    &.font{
                        font-size: 16px;
                    }
                }
            }
        }
        &__header-mondigo{

            li{
                padding: 0 10% 20px 54px;
            }
        }
        &__information-dropdown{
            clear: both;
        }
        &__conditions{
            span{
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
                &.mobile-version{
                    display: inline-block;
                    font: 16px "FuturaPT-Medium";
                    color: #444444;
                    width: 35%;
                }
                &.big-text{
                    margin: 0 42px;
                }
            }
            ul{
                display: block;
                text-align: left;
                width: 100%;
                &:nth-of-type(1){
                    display: none;
                }
            }
            li{
                display: flex;
                align-items: center; 
                font-size: 14px;
                box-sizing: border-box;
                padding-left: 10px;
                &.font{
                    padding: 18.5px 0;
                    font-size: 16px;
                }
                &:nth-of-type(1){
                    width: 100%;
                    background: #f5f5f5;
                    padding: 19px 40px;
                }
                &:nth-of-type(2){
                    width: 100%;
                    padding: 19px 40px;
                }
                &:nth-of-type(3){
                    width: 100%;
                    padding: 19px 40px;
                }
            }
        }
        &__contact{

            .terms-of-cooperation{
                ul{
                    display: block;
                    text-align: left;
                    &:nth-of-type(1){
                        display: none;
                    }
                }
                span{
                    font-size: 15px;
                    &.big-text{
                        margin: 0 58px;
                    }
                    &.mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Medium";
                        color: #444444;
                        width: 35%;
                        margin: 0 0; 
                    }
                }
                li{
                    display: flex;
                    box-sizing: border-box;
                    padding-left: 10px;
                    &:nth-of-type(1){
                        width: 100%;
                        background: #f5f5f5;
                    }
                    &:nth-of-type(2){
                        width: 100%;
                    }
                    &:nth-of-type(3){
                        width: 100%;
                    }
                    &:nth-of-type(4){
                        width: 100%;
                    }
                    &:nth-of-type(5){
                        width: 100%;
                    }
                }
            }
            .prising-terms{
                span{
                    display: inline-block;
                    vertical-align: -webkit-baseline-middle;
                    &.mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Medium";
                        color: #444444;
                        width: 35%;
                        margin-right: 20px;
                    }
                }
                ul{
                    display: block;
                    text-align: left;
                    width: 100%;
                    &:nth-of-type(1){
                        display: none;
                    }
                }
                li{
                    font-size: 14px;
                    box-sizing: border-box;
                    padding-left: 10px;
                    &.font{
                        padding: 18.5px 0;
                        font-size: 16px;
                    }
                    &:nth-of-type(1){
                        width: 100%;
                        background: #f5f5f5;
                    }
                    &:nth-of-type(2){
                        width: 100%;
                    }
                    &:nth-of-type(3){
                        width: 100%;
                    }
                }
                .mobile-version-block{
                    text-align: center;
                    padding: 0 30px;
                }
            }
            .cooperation{
               
                li{
                    padding: 0 11% 21px 35px;
                }
                .mobile-version-block{
                    text-align: center;
                    a{
                        width: 323px;
                        &.size{
                            width: 364px;
                        }
                    }
                }
            }
        }
        &__canclude-contract{

            li{
                padding: 0 14% 21px 35px;
            }
        }
    }
}