@include respond-to('sm') {
    .page-wholesalers{
        &__inner{
            @include container(768px);
        }
        &__contact{

            .terms-of-cooperation{
                li{
                    font-size: 15px;
                    &.font{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}