.page-wholesalers{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        display: block;
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col{
        width: 100%;
    }
    &__header-mondigo{
        margin-top: 14px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
            &.logo{
                display: inline-block;
                text-transform: uppercase;
                color: #0d2f32;
                font: 18px "FuturaPT-Book";
            }
        }
        ul{
            margin-top: 20px;
        }
        li{
            position: relative;
            padding: 0 23% 20px 54px;
            font: 18px "FuturaPT-Light";
            color: #444444;
            &:before{
                content: "";
                position: absolute;
                top: 12px;
                left: 31px;
                width: 10px;
                height: 3px;
                background: #0d2f32;
            }
        }
    }
    &__information-dropdown{
        position: relative;
        background: #f5f5f5;
        padding: 12px 29px;
        span{
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
        }
        &:after{
            content: "";
            position: absolute;
            top: 21px;
            right: 26px;
            width: 12px;
            height: 8px;
            background: url("../images/header/arrow-prev.svg") center no-repeat;
        }
        &.active{
            &:after{
                background: url("../images/header/arrow-next.svg") center no-repeat;
            }
        }
    }
    &__wrapper-for-blocks-wholesalers{
        cursor: pointer;
        margin-bottom: 2px;
    }
    &__conditions{
        display: none;
        margin-top: 36px;
        margin-bottom: 36px;
        span{

            &.mobile-version{
                display: none;
            }
            &.big-text{
                padding: 0 0;
            }
        }
        ul{
            display: flex;
            text-align: center;
        }
        li{
            font: 16px "FuturaPT-Book";
            color: #444444;
            border: 1px solid #f5f5f5;
            padding: 19px 0px;
            &.font{
                font: 18px "FuturaPT-Medium";
                background: #f5f5f5;
            }
            &:nth-of-type(1){
                width: 33.33%;
                padding: 19px 50px;
            }
            &:nth-of-type(2){
                width: 33.33%;
                padding: 19px 41px;
            }
            &:nth-of-type(3){
                width: 33.33%;
            }
        }
    }
    &__contact{
        display: none;
        margin-top: 36px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
            margin-top: 10px;
            &.mobile-version{
                display: none;
            }
            &.title{
                font: 20px "FuturaPT-Book";
                color: #0d2f32;
                
            }
        }
        .terms-of-cooperation{
            margin-top: 20px;
            span{

                &.uppercase{
                    margin-top: 20px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
            }
            ul{
                display: flex;
                text-align: center;
            }
            li{
                font: 16px "FuturaPT-Book";
                color: #444444;
                border: 1px solid #f3f3f3;
                padding: 10px 0px;
                &.font{
                    font: 18px "FuturaPT-Medium";
                    background: #f5f5f5;
                }
                &:nth-of-type(1){
                    width: 8.15%;
                }
                &:nth-of-type(2){
                    width: 11.31%;
                    padding-top: 20px;
                }
                &:nth-of-type(3){
                    width: 34.21%;
                    padding-top: 20px;
                }
                &:nth-of-type(4){
                    width: 23.07%;
                }
                &:nth-of-type(5){
                    width: 22.89%;
                }
                &.margin{
                    padding-top: 20px;
                }

            }
        }
        .prising-terms{
            margin-top: 20px;
            span{

                &.uppercase{
                    margin-top: 20px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
            }
            ul{
                display: flex;
                text-align: center;
            }
            li{
                font: 16px "FuturaPT-Book";
                color: #444444;
                border: 1px solid #f5f5f5;
                padding: 19px 0px;
                &.font{
                    font: 18px "FuturaPT-Medium";
                    background: #f5f5f5;
                }
                &:nth-of-type(1){
                    width: 33.33%;
                }
                &:nth-of-type(2){
                    width: 33.33%;
                }
                &:nth-of-type(3){
                    width: 33.33%;
                }
            }
            a{
                display: inline-block;
                position: relative;
                text-align: center;
                width: 242px;
                padding: 21px 0;
                text-transform: uppercase;
                font: 15px "FuturaPT-Medium";
                margin-top: 47px;
                text-decoration: none;
                cursor: pointer;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
        .contactual-scheme{
            margin-top: 34px;
            span{
                &.title{
                    font: 20px "FuturaPT-Book";
                    color: #0d2f32; 
                }
            }
        }
        .importantly{
            text-align: center;
            background: #87141a;
            padding: 9px 0;
            margin-top: 27px;
            span{
                color: #fff;
                margin-top: 0;
            }
        }
        .cooperation{
            margin-bottom: 55px;
            span{

                &.uppercase{
                    margin-top: 20px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
            }
            ul{
                // margin-top: 20px;
            }
            li{
                position: relative;
                padding: 0 23% 21px 35px;
                font: 18px "FuturaPT-Light";
                color: #444444;
                &:before{
                    content: "";
                    position: absolute;
                    top: 12px;
                    left: 0px;
                    width: 17px;
                    height: 3px;
                    background: #0d2f32;
                }
            }
            a{
                display: inline-block;
                position: relative;
                text-align: center;
                width: 242px;
                padding: 21px 0;
                text-transform: uppercase;
                font: 15px "FuturaPT-Medium";
                margin-top: 24px;
                margin-right: 15px;
                text-decoration: none;
                cursor: pointer;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
                &.size{
                    width: 364px;
                }
            }
        }
    }
    &__canclude-contract{
        display: none;
        margin-top: 25px;
        margin-bottom: 30px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            &.color{
                font-family: "FuturaPT-Book";
                color: #0d2f32;
                display: inline-block;
            }
            &.color-number{
                margin: 22px 0;
                color: #0d2f32;
                font-family: "FuturaPT-Book";
            }
            &.text{
                // margin-bottom: 30px;
            }
        }
        ul{
            // margin-top: 30px;
            // margin-bottom: 30px;
        }
        li{
            position: relative;
            padding: 0 27% 21px 35px;
            font: 18px "FuturaPT-Light";
            color: #444444;
            &:before{
                content: "";
                position: absolute;
                top: 12px;
                left: 0px;
                width: 17px;
                height: 3px;
                background: #0d2f32;
            }
        }
    }
    &__receive-goods{

        span{
            display: block;
            margin-top: 10px;
            font: 18px "FuturaPT-Light";
            color: #444444;

            &.color{
                color: #0d2f32;
                font: 18px "FuturaPT-Book";
                padding-left: 35px;
            }
        }
        ul{
            // margin-top: 30px;
            // margin-bottom: 30px;
        }
        li{
            position: relative;
            padding: 0 0 17px 0px;
            color: #0d2f32;
            &:before{
                content: "";
                position: absolute;
                top: 12px;
                left: 0px;
                width: 17px;
                height: 3px;
                background: #0d2f32;
            }
        }
    }
}