@include respond-to('xs') {
    .page-wholesalers{
        &__inner{
            @include container(320px);
        }
        &__title{
            font-size: 24px;
        }
        &__header-mondigo{
            span{
                font-size: 16px;
                &.logo{
                    font-size: 16px;
                }
            }
            
            li{
                padding: 0px 10% 20px 20px;
                font-size: 16px;
                &:before{
                    left: 0;
                }
            }
        }
        &__information-dropdown{
            clear: both;
        }
        &__information-dropdown{
            padding: 12px 15px;
            span{
                font-size: 15px;

            }
            &:after{
                top: 18px;
                right: 15px;
            }
        }
        &__conditions{
            span{
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
                &.mobile-version{
                    display: inline-block;
                    font: 16px "FuturaPT-Medium";
                    color: #444444;
                    width: 30%;
                }
                &.big-text{
                    width: 50%;

                }
            }
            ul{
                display: block;
                text-align: left;
                width: 100%;
                &:nth-of-type(1){
                    display: none;
                }
            }
            li{
                font-size: 14px;
                box-sizing: border-box;
                padding-left: 10px;
                &.font{
                    padding: 18.5px 0;
                    font-size: 16px;
                }
                &:nth-of-type(1){
                    width: 100%;
                    background: #f5f5f5;
                    padding: 19px 0 19px 10px;
                }
                &:nth-of-type(2){
                    width: 100%;
                    padding: 19px 0 19px 10px;
                }
                &:nth-of-type(3){
                    width: 100%;
                    padding: 19px 0 19px 10px;
                }
            }
        }
        &__contact{

            span{
                font-size: 16px;
                &.title{
                    font-size: 17px;
                }
            }
            .terms-of-cooperation{
                ul{
                    display: block;
                    text-align: left;
                    &:nth-of-type(1){
                        display: none;
                    }
                }
                span{
                    font-size: 15px;
                    &.big-text{
                        margin: 0 57px;
                    }
                    &.mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Medium";
                        color: #444444;
                        width: 41%;
                        margin: 0 0; 
                    }
                }
                li{
                    font-size: 15px;
                    &.font{
                        font-size: 16px;
                    }
                    display: flex;
                    box-sizing: border-box;
                    padding-left: 10px;
                    &:nth-of-type(1){
                        width: 100%;
                        background: #f5f5f5;
                    }
                    &:nth-of-type(2){
                        width: 100%;
                    }
                    &:nth-of-type(3){
                        width: 100%;
                    }
                    &:nth-of-type(4){
                        width: 100%;
                    }
                    &:nth-of-type(5){
                        width: 100%;
                    }
                }
            }
            .prising-terms{
                span{
                    display: inline-block;
                    vertical-align: -webkit-baseline-middle;
                    &.mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Medium";
                        color: #444444;
                        width: 30%;
                        margin-right: 20px;
                    }
                    &.big-text{
                        margin: 8px 69px 0 9px; 
                    }
                }
                ul{
                    display: block;
                    text-align: left;
                    width: 100%;
                    &:nth-of-type(1){
                        display: none;
                    }
                }
                li{
                    align-items: center;
                    font-size: 14px;
                    box-sizing: border-box;
                    padding-left: 10px;
                    &.font{
                        padding: 18.5px 0;
                        font-size: 16px;
                    }
                    &:nth-of-type(1){
                        width: 100%;
                        background: #f5f5f5;
                    }
                    &:nth-of-type(2){
                        width: 100%;
                        display: flex;
                    }
                    &:nth-of-type(3){
                        width: 100%;
                    }
                }
                .mobile-version-block{
                    text-align: center;
                    padding: 0 0px;
                }
            }
            .cooperation{
               
                li{
                    padding: 0 8% 21px 35px;
                    font-size: 16px;
                }
                .mobile-version-block{
                    text-align: center;
                    a{
                        font-size: 15px;
                        width: 240px;
                        &.size{
                            width: 260px;
                            padding: 10px 30px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
            .contactual-scheme{

                span{
                    font-size: 16px;
                    &.title{
                        font-size: 16px;
                    }
                }
            }
            .importantly{
                padding: 10px 50px;
            }
        }
        &__canclude-contract{

            li{
                padding: 0 14% 21px 35px;
                font-size: 16px;
            }
        }
        &__wrapper-for-blocks-wholesalers{

            span{
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }
}