@include respond-to('md') {
    .page-order-registration{
        &__inner{
            @include container(980px);
            margin-top: 30px;
        }
        &__wrapper-right-col{

            .block-label{

                input{
                    width: 24%;
                }
            }
        }
    }
}