@include respond-to('ml') {
    .page-order-registration{
        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        .col-1{
            width: 100%;
        }
        .col-2{
            width: 100%;
        }
        .input{
            display: block;
        }
        &__wrapper-left-col{
            input{
                line-height: 46px;
                height: 46px;
            }
            span{
                
                &.text-center{
    
                    &:before{
                        width: 144px;
                    }
                    &:after{
                        width: 144px;
                    }
                }
            }
            .input{
                display: block;
                text-align: center;
                div{
                    text-align: left;
                }
                a{
                    &:nth-of-type(2){
                        @include underline(#fff, 0px, solid, true);
                    }
                }
                button{
                    margin-top: 10px;
                }
            }
            .social-network{

                a{
                    width: 110px;
                }
            }
        }
        &__wrapper-right-col{
            text-align: center;
            span{
                &.title{
                    text-align: left;
                }
                &.text-center{
    
                    &:before{
                        width: 144px;
                    }
                    &:after{
                        width: 144px;
                    }
                }
            }
            input{
                line-height: 46px;
                height: 46px;
            }
            .block-label{

                input{
                    width: 45%;
                }
                span{
                    margin-right: 20px;
                }
            }
            .content-to-provide-data{
                text-align: left;
                span{
                    margin-right: 0px;
                    &:before{
                        margin-bottom: 10px;
                    }
                }
            }
            .social-network{

                a{
                    width: 110px;
                }
            }
            
        }
        .order-registration{
            
            &__header-list{
                
                .registration-method__method-name{
                    span{
                        &.desktop-version{
                            display: none;
                        }
                        &.backgroung{

                            &:after{
                                right: -42px;
                                width: 37px;
                            }
                        }
                    }
                    &:nth-of-type(1){
                        margin-right: 48px;
                    }
                    &:nth-of-type(2){
                        margin-right: 46px;
                    }
                    &:nth-of-type(3){
                        margin-right: 48px;
                    }
                    &:nth-of-type(4){
                        margin-right: 0;
                    }
                }
            }
        }
        &__wrapper-for-personal-data{
            width: 100%;
            margin-right: 0px;
            .button{
                text-align: center;
            }
        }
        &__city{

            .text-city{
                
                &:after{
                    top: 22px;
                }
            }
        }
        &__block-city{

            .block-text-city{
                
                &:after{
                    top: 22px;
                }
            }
            
        }
        &__wrapper-list{
            
            ul{
                display: none;
            }
        }
        &__list-goods{
            display: block;
            
            span{
                padding-top: 0px;
                &.mobile-version{
                    display: inline-block;
                    width: 25.8%;
                }
                
            }
            .mobile-version{
                display: block;
                margin-bottom: 15px;
                span{
                    font: 18px "FUturaPT-Book";
                    color: #0d2f32;
                }
            }
            .goods{
                width: 80%;
                border-bottom: 1px solid #f5f5f5;
                padding-bottom: 15px;
                .left{
                    img{
                        width: 55px;
                        height: 65px;
                    }
                }
                .right{

                    a{
                        &.title{
                            font: 16px/16px "FUturaPT-Book";
                        }
                    }
                    span{

                        &.text{
                            margin-bottom: 0px;
                             &:nth-of-type(1){
                                margin-top: 4px;
                             }
                        }
                    }
                }
            }
            .price{
                display: flex;
                width: 100%;
                span{
                    padding-top: 10px;
                }
            }
            .quantity{
                display: flex;
                width: 100%;
                span{
                    padding-top: 10px;
                }
            }
            .discount{
                text-align: left;
                display: flex;
                width: 100%;
                span{
                    padding-top: 10px;
                }
            }
            .sum{
                text-align: left;
                display: flex;
                width: 100%;
                span{
                    padding-top: 10px;
                }
            }
            .like-and-close{
                width: 4%;
            }
        }
        &__wrapper-promo-code{
            display: block;
            .enter-promo-code{
                text-align: center;
                input{
                    width: 100%;
                    margin-right: 0px;
                }
                button{
                    margin-top: 30px;
                }
            }
            .block-sum{
                margin-top: 30px;
                width: 60%;
            }
        }
        &__wrapper-delivery-and-orber{
            display: block;
            .col-1{
                width: 100%;
                box-sizing: border-box;
                padding: 32px 14px 0 29px;
            }
            .col-2{
                width: 100%;
                box-sizing: border-box;
                padding: 32px 14px 0 29px;
            }
        }
        &__costomer-data{
            display: block;
            span{
                &.title{
                    margin-bottom: 15px;
                }
            }
            .data-costomer{
                width: 100%;
                box-sizing: border-box;
                padding: 20px 0 15px 29px;
            
            }
            .address-delivery{
                width: 100%;
                box-sizing: border-box;
                padding: 0 0 15px 29px;
            }
        }
        &__wrapper-general-payment{
            flex-direction: unset;
            .wrappper-bottom-block{
                width: 100%;
            }
            .button{
                text-align: center;
                button{
                    width: 80%;
                    display: inline-block;
                    margin-top: 10px;
                    &.confirm{
                        margin-top: 17px;
                    }
                }
            }
        }
        &__wrapper-confirmation {
            display: block;   
            .col-2{
                width: 100%;
                img{
                    width: 100%;
                    // height: 365px;
                }
            }
        }
    }
}