.page-order-registration{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
        display: block;
        text-align: center;
        margin-bottom: 22px;
    }
    &__text-under-title{
        display: block;
        font: 18px "FuturaPT-Light";
        color: #444444;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .order-registration{

        &__header-list{
            display: flex;
            justify-content: center;
            
            .registration-method__method-name{
                margin-right: 10px;
                text-align: center;
                span{
                    display: block;
                    font: 16px "FuturaPT-Book";
                    color: #0d2f32;
                    cursor: pointer;
                    &.backgroung{
                        position: relative;
                        display: inline-block;
                        margin-top: 15px;
                        font: 16px "FuturaPT-Medium";
                        color: #0d2f32;
                        background: #f3f3f3;
                        border-radius: 30px;
                        padding: 6px 12px;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 16px;
                            right: -119px;
                            width: 113px;
                            height: 1px;
                            background: #f3f3f3;
                        }
                    }
                }
                &:nth-of-type(1){
                    margin-right: 92px;
                }
                &:nth-of-type(2){
                    margin-right: 46px;
                }
                &:nth-of-type(3){
                    margin-right: 48px;
                }
                &:nth-of-type(4){
                    margin-right: 48px;
                    .backgroung{
                        &:after{
                            background: transparent;
                        }
                    }
                }
                &.active{
                    
                    .backgroung{
                        background: #0d2f32;
                        color: #fff;
                    }
                }
            }
        }
    }
    .input{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .col-1{
        margin-top: 20px;
        width: 42.98%;
        margin-right: 30px;
        
    }
    .col-2{
        width: 42.98%;
        margin-top: 20px;
    }
    &__wrapper-left-col{
        padding: 19px 29px 20px 29px;
        border: 1px solid #f3f3f3;
        span{

            &.title{
                font: 30px "FuturaPT-Medium";
                color: #0d2f32;
                margin-bottom: 12px;
                display: block;
            }
            &.text-center{
                position: relative;
                text-align: center;
                display: block;
                margin-top: 23px;
                font: 16px "FuturaPT-Book";
                color: #444444;
                display: block;
                &:before{
                    content: "";
                    position: absolute;
                    top: 12px;
                    left: 0;
                    width: 184px;
                    height: 1px;
                    background: #f3f3f3;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 0;
                    width: 184px;
                    height: 1px;
                    background: #f3f3f3;
                }
            }
        }
        input{
            border-bottom: 1px solid #f3f3f3;
            display: block;
            font: 15px "FuturaPT-Book";
            color: #444444;
            width: 100%;
            line-height: 36px;
            height: 36px;
        }
        .input{
            display: flex;
            justify-content: space-between;
            margin-top: 28px;
            a{
                display: block;
                font: 15px/24px "FuturaPT-Book";
                color: #c7b794;
                text-decoration: none;
                @include underline(#c7b794, 0px, solid, true);
                &:nth-of-type(1){
                    display: inline-block;
                }
            }
            button{
                display: inline-block;
                position: relative;
                width: 147px;
                line-height: 50px;
                height: 50px;
                background: transparent;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                cursor: pointer;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                background: transparent;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
        .social-network{
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
            margin-bottom: 21px;
            a{
                width: 133px;
                padding: 12px 0;
                font: 16px "FuturaPT-Book";
                text-decoration: none;
                text-align: center;
                color: #fff;
                background: #2c67a9;
                &:nth-of-type(2){
                    background: #00a3db;
                }
                &:nth-of-type(3){
                    background: #529fcf;
                }
            }
        }
    }
    &__wrapper-right-col{
        padding: 19px 29px 20px 29px;
        border: 1px solid #f3f3f3;
        span{

            &.title{
                font: 30px "FuturaPT-Medium";
                color: #0d2f32;
                margin-bottom: 12px;
                display: block;
            }
            &.text-center{
                position: relative;
                text-align: center;
                display: block;
                margin-top: 23px;
                font: 16px "FuturaPT-Book";
                color: #444444;
                display: block;
                &:before{
                    content: "";
                    position: absolute;
                    top: 12px;
                    left: 0;
                    width: 184px;
                    height: 1px;
                    background: #f3f3f3;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 0;
                    width: 184px;
                    height: 1px;
                    background: #f3f3f3;
                }
            }
        }
        input{
            border-bottom: 1px solid #f3f3f3;
            display: block;
            font: 15px "FuturaPT-Book";
            color: #444444;
            width: 100%;
            line-height: 36px;
            height: 36px;
        }
        .block-label{
            position: relative;
            display: flex;
            label{
                
            }
            input{
                position: absolute;
                border: none;
                cursor: pointer;
            }
            span{
                margin-top: 20px;
                margin-right: 49px;
                display: block;
                font: 16px "FuturaPT-Book";
                color: #444444;
                cursor: pointer;
                &:before{                               
                    content: "";
                    margin-right: 10px;
                    float: left;
                    display: inline-block;
                    margin-top: 3px;
                    width: 13px;
                    line-height: 13px;
                    height: 13px;
                    border: 1px solid #0d2f32;
                    font-family: 'Font Awesome\ 5 Free';
                    text-align: center;
                    font-weight: 600;
                    color: #0d2f32;
                    font-size: 10px;
                }
                &:nth-of-type(1){
                    margin-bottom: 10px;
                }
            }
            input:checked + span {

                &:before {
                    content: '\f00c';
                }
            }
        }
        .content-to-provide-data{
            position: relative;
            input{
                position: absolute;
                border: none;
                cursor: pointer;
            }
            span{
                margin-top: 20px;
                margin-right: 49px;
                display: block;
                font: 16px "FuturaPT-Book";
                color: #c7b794;
                cursor: pointer;
                &:before{                               
                    content: "";
                    margin-right: 10px;
                    float: left;
                    display: block;
                    margin-top: 3px;
                    width: 13px;
                    line-height: 13px;
                    height: 13px;
                    border: 1px solid #0d2f32;
                    font-family: 'Font Awesome\ 5 Free';
                    text-align: center;
                    font-weight: 600;
                    color: #0d2f32;
                    font-size: 10px;
                }
                &:nth-of-type(1){
                    margin-bottom: 10px;
                }
            }
            input:checked + span {

                &:before {
                    content: '\f00c';
                }
            }
        }
        button{
            display: inline-block;
            position: relative;
            width: 145px;
            line-height: 49px;
            height: 49px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 37px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            background: transparent;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
        .social-network{
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
            margin-bottom: 21px;
            a{
                width: 133px;
                padding: 12px 0;
                font: 16px "FuturaPT-Book";
                text-decoration: none;
                text-align: center;
                color: #fff;
                background: #2c67a9;
                &:nth-of-type(2){
                    background: #00a3db;
                }
                &:nth-of-type(3){
                    background: #529fcf;
                }
            }
        }
    }
    .personal-data{
        display: flex;
        justify-content: center;
    }
    &__wrapper-for-personal-data{
        width: 42.8%;
        padding: 19px 29px 20px 29px;
        border: 1px solid #f3f3f3;
        box-sizing: border-box;
        margin-right: 49px;
        margin-top: 23px;
        input{
            border-bottom: 1px solid #f3f3f3;
            display: block;
            font: 15px "FuturaPT-Book";
            color: #444444;
            width: 100%;
            line-height: 49px;
            height: 49px
        }
        .button{
            margin-top: 37px;
            button{
                display: inline-block;
                position: relative;
                width: 100px;
                line-height: 48px;
                height: 48px;
                background: transparent;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                margin-top: 17px;
                cursor: pointer;
                &.resume{
                    border: 1px solid #0d2f32;
                    color: #0d2f32;
                    background: transparent;
                    width: 145px;
                    line-height: 48px;
                    height: 48px;
                    &:hover{
                        background: #0d2f32;
                        color: #fff;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #0d2f32;
                    }
                }
            }
        }
    }
    &__tabs-title{
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__city{
        position: relative;
        font: 15px "FuturaPT-Book";
        color: #444444;
        span{
            display: block;
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
        .text-city{
            position: relative;
            border-bottom: 1px solid #f3f3f3;
            padding-bottom: 3px;
            padding: 15px 0;
            cursor: pointer;
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 16px;
                right: 12px;
                width: 12px;
                height: 8px;
                cursor: pointer;
                background: url(../images/header/arrow-prev.svg) center center no-repeat;
            }
            &.active{
                &:after{
                    background: url(../images/header/arrow-next.svg) center center no-repeat;
                }
            }
        }
        .internal-block-city{
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            background: #fff;
            border: 1px solid #f3f3f3;
            width: 100%;
            z-index: 2;
            span{
                padding-bottom: 5px;
                cursor: pointer;
                border-bottom: 1px solid #f3f3f3;
                padding: 10px 0;
                padding-left: 15px;
            }
        }
        
    }
    &__block-city{
        position: relative;
        font: 15px "FuturaPT-Book";
        color: #444444;
        span{
            display: block;
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
        .block-text-city{
            position: relative;
            border-bottom: 1px solid #f3f3f3;
            padding-bottom: 3px;
            padding: 15px 0;
            cursor: pointer;
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 16px;
                right: 12px;
                width: 12px;
                height: 8px;
                cursor: pointer;
                background: url(../images/header/arrow-prev.svg) center center no-repeat;
            }
            &.active{
                &:after{
                    background: url(../images/header/arrow-next.svg) center center no-repeat;
                }
            }
        }
        .internal-block{
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            background: #fff;
            border: 1px solid #f3f3f3;
            width: 100%;
            z-index: 2;
            span{
                padding-bottom: 5px;
                cursor: pointer;
                border-bottom: 1px solid #f3f3f3;
                padding: 10px 0;
                padding-left: 15px;
            }
        }
        
    }
    &__wrapper-for-tabs-number-three{
        margin-top: 50px;
    }
    &__wrapper-list{

        ul{
            display: flex;
            border-bottom: 1px solid #f3f3f3;
            padding-bottom: 15px;
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #444444;
            &:nth-of-type(1){
                width: 30.43%;
                text-align: center;
            }
            &:nth-of-type(2){
                width: 15.96%;
            }
            &:nth-of-type(3){
                width: 18.33%;
            }
            &:nth-of-type(4){
                width: 16.66%;
            }
        }

    }
    &__list-goods{
        display: flex;
        margin-top: 31px;
        border-bottom: 1px solid #f3f3f3;
        padding-bottom: 30px;
        .mobile-version{
            display: none;
        }
        .goods{
            width: 30.43%;
            display: flex;
            .left{
                margin-right: 20px;
            }
            .right{
                a{
                    &.title{
                        font: 16px/24px "FUturaPT-Book";
                        color: #0d2f32;
                        position: relative;
                        padding-bottom: 0px;
                        text-decoration: none;
                        @include underline(#0d2f32, 1px, solid, true);
                    }
                }
                span{
                    display: block;
                    font: 16px/24px "FUturaPT-Book";
                    color: #444444;
                    margin-bottom: 10px;
                    &.text{
                        display: inline-block;
                        &:nth-of-type(1){
                            margin-right: 17px;
                        }
                    }
                }
            }
        }
        .price{
            width: 17.38%;
            span{
                font: 18px "FuturaPT-Medium";
                color: #0d2f32;
                display: block;
                padding-top: 35px;
            }
        }
        .quantity{
            width: 8%;
            span{
                display: block;
                font: 16px "FuturaPT-Medium";
                color: #444444; 
                padding-top: 35px;
            }
        }
        .discount{
            width: 23%;
            text-align: center;
            span{
                font: 18px "FuturaPT-Medium";
                color: #87141a;
                display: block;
                padding-top: 35px;
            }
        }
        .sum{
            width: 10.6%;
            text-align: center;
            span{
                font: 18px "FuturaPT-Medium";
                color: #0d2f32;
                display: block;
                padding-top: 35px;
            }
        }
        .like-and-close{
            margin-top: 18px;
            width: 10.6%;
            display: flex;
            flex-direction: row-reverse;
            button{
                width: 15px;
                line-height: 15px;
                height: 15px;
                background: url(../images/main/icon-heart-hover-1.svg) center no-repeat;
                cursor: pointer;
                &:hover{
                    background: url(../images/main/icon-heart-hover-3.svg) center no-repeat;
                }
                &.active{
                    background: url(../images/main/icon-heart-hover.svg) center no-repeat;
                }
                
            }
            img{
                display: block;
                width: 13px;
                margin-bottom: 14px;
                height: 13px;
            }
        }
    }
    &__wrapper-promo-code{
        display: flex;
        justify-content: space-between;
        margin-top: 36px;
        span{
            display: block;
            font-family: "FuturaPT-Medium";
            padding-bottom: 12px;
            &.summ{
                color: #0d2f32;
                font-size: 20px;
                margin-right: 43px;
            }
            &.underline-sum{
                font: 20px "FuturaPT-Demi";
                color: #0d2f32;
                text-transform: uppercase;
            }
            &.color{
                color: #87141a;
                &:nth-of-type(1){
                    margin-right: 43px;
                }
            }
        }
        .block-sum{
            width: 22.89%;
            display: flex;
            justify-content: space-between;
            div{

                &:nth-of-type(1){
                    margin-top: 5px;
                }
            }
        }
        .enter-promo-code{

            input{
                width: 432px;
                line-height: 53px;
                height: 53px;
                background: #f8f8f9;
                padding-left: 24px;
                box-sizing: border-box;
                margin-right: 21px;
                font: 15px "FuturaPT-Book";
            }
            button{
                display: inline-block;
                position: relative;
                width: 145px;
                line-height: 48px;
                height: 48px;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                cursor: pointer;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
    &__wrapper-delivery-and-orber{
        display: flex;
        .col-1{
            width: 48.5%;
            margin-right: 3%;
            background: #f8f8f9;
            padding: 32px 0 0 29px;
        }
        .col-2{
            width: 48.5%;
            background: #f8f8f9;
            padding: 32px 0 0 29px;
        }
        .title{
            font: 16px "FuturaPT-Medium";
            color: #0d2f32;
            text-transform: uppercase;
        }
        .block-delivery{
            border-bottom: 1px solid #fff;
            padding-bottom: 26px;
            margin-top: 25px;
            input{
                position: absolute;
                cursor: pointer;
            }
            span{
                padding-left: 27px;
                position: relative;
                margin-top: 16px;
                display: block;
                font: 16px "FuturaPT-Book";
                color: #444444;
                cursor: pointer;
                &:before{         
                    position: absolute;
                    top: 1px;
                    left: 0;                      
                    content: "";
                    display: inline-block;
                    width: 13px;
                    line-height: 13px;
                    height: 13px;
                    border: 1px solid #0d2f32;
                    font-family: 'Font Awesome\ 5 Free';
                    text-align: center;
                    font-weight: 600;
                    color: #0d2f32;
                    font-size: 10px;
                }
            }
            input:checked + span {

                &:before {
                    content: '\f00c';
                }
            }
        }
        .buttom{
            padding: 25px 0;
            button{
                margin-left: 27px;
                position: relative;
                font: 16px "FuturaPT-Book";
                color: #0d2f32;
                cursor: pointer;
                @include underline(#0d2f32, 0px, solid, true);
                &:before{
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: -27px;
                    width: 17px;
                    height: 17px;
                    background: url(../images/order-registration/plus.svg) center no-repeat;
                }
            }
        }
    }
    &__orber{
        border-bottom: 1px solid #fff;
        padding-bottom: 26px;
        margin-top: 25px;
        input{
            position: absolute;
            cursor: pointer;
        }
        span{
            padding-left: 27px;
            position: relative;
            margin-top: 16px;
            display: block;
            font: 16px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            &:before{         
                position: absolute;
                top: 1px;
                left: 0;                      
                content: "";
                display: inline-block;
                width: 13px;
                line-height: 13px;
                height: 13px;
                border: 1px solid #0d2f32;
                font-family: 'Font Awesome\ 5 Free';
                text-align: center;
                font-weight: 600;
                color: #0d2f32;
                font-size: 10px;
            }
        }
        input:checked + span {

            &:before {
                content: '\f00c';
            }
        }
    }
    &__costomer-data{
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        background: #f8f8f9;
        span{
            display: block;
            font: 16px/30px "FuturaPT-Book";
            color: #444444; 
            &.title{
                font: 16px "FuturaPT-Medium";
                color: #0d2f32;
                text-transform: uppercase;
            }
        }
        button{
            position: relative;
            font: 15px "FuturaPT-Medium";
            color: #0d2f32;
            margin-bottom: 10px;
            cursor: pointer;
            margin-top: 9px;
            &:before{
                position: absolute;
                top: 5px;
                right: -29px;
                content: "";
                width: 14px;
                height: 14px;
                background: url(../images/order-registration/pencil.svg); 
            }
            &:hover{
                @include underline(#0d2f32, 0px, solid, false);
            }
        }
        .data-costomer{
            width: 52%;
            padding: 32px 0 23px 29px;
        }
        .address-delivery{
            width: 48%;
            padding: 32px 0 23px 29px;
        }
    }
    &__wrapper-general-payment{
        display: flex;
        flex-direction: row-reverse;
        .wrappper-bottom-block{
            width: 34.21%;
            margin-top: 27px;
        }
        .wrapper-sum{
            display: flex;
            span{
                display: block;
                font: 16px/30px "FuturaPT-Medium";
                color: #444444;
                &.sum-uppercase{
                    text-transform: uppercase;
                    font-family: "FuturaPT-Demi";
                    font-size: 20px;
                }
                &.sum{
                    color: #0d2f32;
                    font-size: 20px;
                }
                &.color{
                    color: #87141a;
                }
            }
            .left{
                margin-right: 65px;
            }
        }
        .text{
            background: #c7b794;
            text-align: center;
             width: 321px;
             height: 70px;
             line-height: 70px;
             margin-top: 22px;
            span{
                font: 20px "FuturaPT-Medium";
                color: #fff;
                &.demi{
                    font-family: "FuturaPT-Demi";
                    text-transform: uppercase;
                    margin-left: 10px;
                }
            }
        }
        .i-gree{

            input{
                position: absolute;
                cursor: pointer;
            }
            span{
                padding-left: 27px;
                position: relative;
                margin-top: 16px;
                display: block;
                font: 16px "FuturaPT-Book";
                color: #444444;
                cursor: pointer;
                &:before{         
                    position: absolute;
                    top: 3px;
                    left: 0;                      
                    content: "";
                    display: inline-block;
                    width: 13px;
                    line-height: 13px;
                    height: 13px;
                    border: 1px solid #0d2f32;
                    font-family: 'Font Awesome\ 5 Free';
                    text-align: center;
                    font-weight: 600;
                    color: #0d2f32;
                    font-size: 10px;
                }
            }
            a{
                text-decoration: none;
                font: 16px "FuturaPT-Book";
                color: #444444;
                @include underline(#444444, 0px, solid, false);
            }
            input:checked + span {
    
                &:before {
                    content: '\f00c';
                }
            }
        }
        .button{

            button{
                display: inline-block;
                position: relative;
                width: 180px;
                line-height: 60px;
                height: 60px;
                background: transparent;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                margin-top: 17px;
                cursor: pointer;
                &.confirm{
                    border: 1px solid #0d2f32;
                    color: #0d2f32;
                    margin-right: 10px;
                    background: transparent;
                    &:hover{
                        background: #0d2f32;
                        color: #fff;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #0d2f32;
                    }
                }
            }
        }
    }
    &__wrapper-confirmation{
        display: flex;
        margin-top: 24px;
        .title{
            font: 36px "FuturaPT-Medium";
            color: #0d2f32;
            display: block;
            margin-bottom: 12px;
        }
        .col-1{
            width: 50%;
        }
        .col-2{
            width: 50%;
        }
        .text-under-title{
            
            span{
                display: block;
                font: 16px "FuturaPT-Book";
                color: #0d2f32;
                &.size{
                    font-size: 20px;
                }
                &.color{
                    margin-top: 18px;
                    color: #444444;
                }
            }
            a{
                text-decoration: none;
                font: 16px "FuturaPT-Book";
                color: #444444;
                @include underline(#444444, 0px, solid, true);
            }
        }
        .button{
            a{
                display: inline-block;
                position: relative;
                width: 180px;
                padding: 20px 0;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                margin-top: 40px;
                cursor: pointer;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                margin-right: 10px;
                text-align: center;
                text-decoration: none;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
}