@include respond-to('sm') {
    .page-order-registration{
        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__wrapper-left-col{
            span{
                
                &.text-center{
    
                    &:before{
                        width: 110px;
                    }
                    &:after{
                        width: 110px;
                    }
                }
            }
            .input{
                display: block;
                a{
                    &:nth-of-type(2){
                        @include underline(#fff, 0px, solid, true);
                    }
                }
                button{
                    margin-top: 10px;
                }
            }
            .social-network{

                a{
                    width: 83px;
                }
            }
        }
        &__wrapper-right-col{
            span{
                
                &.text-center{
    
                    &:before{
                        width: 110px;
                    }
                    &:after{
                        width: 110px;
                    }
                }
            }
            .block-label{

                input{
                    width: 45%;
                }
                span{
                    margin-right: 20px;
                }
            }
            .content-to-provide-data{

                span{
                    margin-right: 0px;
                    &:before{
                        margin-bottom: 10px;
                    }
                }
            }
            .social-network{

                a{
                    width: 83px;
                }
            }
            
        }
        &__wrapper-general-payment{

            .text{
                width: 100%;
            }
        }
        &__wrapper-promo-code{

            .enter-promo-code{
                
                input{
                    width: 280px;
                }
            }
            .block-sum{
                width: 27.89%;
            }
        }
        &__wrapper-list{

            li{

                &:nth-of-type(1){
                    width: 39.43%;
                    box-sizing: border-box;
                    padding-right: 55px;
                }
                &:nth-of-type(2){
                    width: 12.96%;
                }
                &:nth-of-type(3){
                    width: 15.33%;
                }
                &:nth-of-type(3){
                    width: 14.66%;
                }
            }
        }
        &__list-goods{

            .goods{
                width: 45.43%;
            }
        }
    }
}