@include respond-to('xs') {
    .page-order-registration{
        &__inner{
            @include container(320px);
            margin-top: 30px;
        }
        &__title{
            font-size: 24px;
            margin-bottom: 0px;
        }
        .col-1{
            width: 100%;
        }
        .col-2{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .input{
            display: block;
        }
        &__wrapper-left-col{
            span{
                
                &.text-center{
    
                    &:before{
                        width: 95px;
                    }
                    &:after{
                        width: 95px;
                    }
                }
            }
            .input{
                display: block;
                text-align: center;
                div{
                    text-align: left;
                }
                a{
                    &:nth-of-type(2){
                        @include underline(#fff, 0px, solid, true);
                    }
                }
                button{
                    margin-top: 10px;
                }
            }
            .social-network{

                a{
                    width: 76px;
                }
            }
        }
        &__wrapper-right-col{
            text-align: center;
            span{
                &.title{
                    text-align: left;
                }
                &.text-center{
    
                    &:before{
                        width: 95px;
                    }
                    &:after{
                        width: 95px;
                    }
                }
            }
            .block-label{

                input{
                    width: 45%;
                }
                span{
                    margin-right: 20px;
                }
            }
            .content-to-provide-data{
                text-align: left;
                span{
                    margin-right: 0px;
                    &:before{
                        margin-bottom: 10px;
                    }
                }
            }
            .social-network{

                a{
                    width: 76px;
                    font-size: 14px;
                }
            }
            
        }
        .order-registration{
            
            &__header-list{
                justify-content: space-evenly;
                
                .registration-method__method-name{
                    span{
                        &.desktop-version{
                            display: none;
                        }
                        &.backgroung{

                            &:after{
                                right: -28px;
                                width: 24px;
                            }
                        }
                    }
                    &:nth-of-type(1){
                        margin-right: 0;
                    }
                    &:nth-of-type(2){
                        margin-right: 0;
                    }
                    &:nth-of-type(3){
                        margin-right: 0;
                    }
                    &:nth-of-type(4){
                        margin-right: 0;
                    }
                }
            }
        }
        &__wrapper-for-personal-data{
            
            .button{
                
                button{

                    &.resume{
                        width: 135px;
                    }
                }
            }
        }
        &__list-goods{
            display: block;
            
            span{
                padding-top: 0px;
                &.mobile-version{
                    display: inline-block;
                    width: 34.6%;
                }
            }
            .mobile-version{
                display: block;
                margin-bottom: 15px;
                span{
                    font: 18px "FUturaPT-Book";
                    color: #0d2f32;
                }
            }
            .goods{
                width: 100%;
            }
            .price{
                display: flex;
                width: 100%;
                span{
                    padding-top: 10px;
                }
            }
            .quantity{
                display: flex;
                width: 100%;
                span{
                    padding-top: 10px;
                }
            }
            .discount{
                text-align: left;
                display: flex;
                width: 100%;
                span{
                    padding-top: 10px;
                }
            }
            .sum{
                text-align: left;
                display: flex;
                width: 100%;
                span{
                    padding-top: 10px;
                }
            }
            .like-and-close{
                width: 4%;
            }
        }
        &__wrapper-promo-code{
            display: block;
            .enter-promo-code{
                text-align: center;
                input{
                    width: 100%;
                    box-sizing: border-box;
                    margin-right: 0px;
                }
                button{
                    margin-top: 30px;
                }
            }
            .block-sum{
                margin-top: 30px;
                width: 80%;
            }
        }
        &__wrapper-confirmation{
            display: block;
            span{

                &.title{
                    font-size: 18px;
                }
            }
            .col-2{
                width: 100%;
                img{
                    width: 100%;
                    // height: 365px;
                }
            }
            .text-under-title{
                
                span{
                    font-size: 14px;
                    &.size{
                        font-size: 16px;
                    }
                }
            }
            .button{

                a{
                    margin-top: 20px;
                }
            }
        }
        &__costomer-data{
            .data-costomer{
                box-sizing: border-box;
            }
            .address-delivery{
                box-sizing: border-box;
            }
        }
    }
}