@include respond-to('ml') {
    .page-personal-offers{
        &__inner{
            @include container(100%);
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
        }
        &__element-block{
            display: block;
            .wrapper-element{
                width: 100%;
                margin-left: 0px;
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
    }
}