.page-personal-offers{
    &__inner{
        @include container();
        margin-top: 42px;
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
        padding-bottom: 16px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 71.05%;
       
    }
    &__element-block{
        display: flex;
        flex-wrap: wrap;
        .wrapper-element{
            width: 48.1%;
            background: #f7f7f7;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 30px;
            margin-left: 3.8%;
            &:nth-of-type(2n + 1){
                margin-left: 0;
            }
            .first-element{
                margin-top: 21px;
                padding: 0 65px;
               span{
                font: 18px "FuturaPT-Light";
                color: #0d2f32;
               } 
            }
            .second-element{
                margin-top: 10px;
                span{
                    display: block;
                    font: 21px/40px "FuturaPT-Medium";
                    color: #0d2f32;
                    &.uppercase{
                        font: 30px "FuturaPT-Demi";
                    }
                }
            }
            .fourth-element{
                margin-top: 3px;
                margin-bottom: 11px;
                span{
                   display: block;
                    font: 15px/40px "FuturaPT-Light";
                    color: #0d2f32;
                }
                a{
                    display: inline-block;
                    width: 118px;
                    text-align: center;
                    background-color: #e2654c;
                    font: 15px/40px "FuturaPT-Book";
                    color: #fff;
                    text-decoration: none;
                    &.color-green{
                        background-color: #176e2d;
                    }
                    &.color-blue{
                        background-color: #00a3db;
                    }
                    &.color-DeepPink{
                        background-color: #d81c52;
                    }
                }
            }
        }
    }
} 