@include respond-to('xs') {
    .page-personal-offers{
        &__inner{
            @include container(320px);
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
        }
        &__element-block{
            display: block;
            .wrapper-element{
                width: 100%;
                margin-left: 0px;
                padding-top: 3px;
                padding-bottom: 3px;
                .first-element{
                    padding: 0 32px;
                }
            }
        }
    }
}