.page-my-dispatch{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__text-under-title{
        font: 18px "FuturaPT-Light";
        color: #444444;
        display: block;
        margin-top: 18px;
        span{
            font: 18px "FuturaPT-Book";
            cursor: pointer;
            @include underline(#444444, 0px, solid, true);
        }
    }
    &__button-mobile-version{
        display: none;
    }
    .my-dispatch{
        &__header-dispatch{
            border-bottom: 1px solid #f3f3f3;
            display: flex;
            margin-top: 16px;
            .dispatch-method__method-name {
                position: relative;
                display: inline-block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                text-transform: uppercase;
                font: 15px "FuturaPT-Book";
                color: #2d4b4d;
                cursor: pointer;
                &.active{
                    span{
                        border-bottom: 3px solid #0d2f32;
                        padding-bottom: 12px;
                    }
                }
                
            }
        }
    }
    &__checkbox-dispatch{
        margin-top: 17px;
        margin-bottom: 11px;
        input{
            position: absolute;
        }
        span{
            display: block;
            font: 16px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            &:before{                               
                content: "";
                margin-right: 10px;
                float: left;
                display: block;
                margin-top: 3px;
                width: 13px;
                line-height: 13px;
                height: 13px;
                border: 1px solid #0d2f32;
                font-family: 'Font Awesome\ 5 Free';
                text-align: center;
                font-weight: 600;
                color: #0d2f32;
                font-size: 10px;
            }
            &:nth-of-type(1){
                margin-bottom: 10px;
            }
        }
        input:checked + span {

            &:before {
                content: '\f00c';
            }
        }
    }
    &__button{
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            border: 1px solid #0d2f32;
            color: #0d2f32;
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
        }
    }
}