@include respond-to('xs') {
    .page-my-dispatch{
        &__inner{
            @include container(320px);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
        }
        &__text-under-title{
            display: block;
            text-align: center;
            padding: 0 10px;
        }
        &__button-mobile-version{
            position: relative;
            display: block;
            margin-top: 20px;
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 10px;
            button{
                font: 13px "FuturaPT-Book";
                color: #2d4b4d;
            }
            &:after{
                content: "";
                position: absolute;
                top: 4px;
                right: 0px;
                width: 12px;
                height: 8px;
                background: url(../images/header/arrow-prev.svg) center no-repeat;
            }
            &.active{
                
                &:after{
                    background: url(../images/header/arrow-next.svg) center no-repeat;
                }
            }
        }
        .my-dispatch{

            &__header-dispatch{
                display: none;
            }
        }
        &__button{
            text-align: center;
            margin-top: 20px;
        }
    }
}