.page-discount{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__text-under-title{
        display: block;
        font: 18px "FuturaPT-Light";
        color: #444444;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__my-discount{
        display: flex;
        background: #f5f5f5;
        .left{
            position: relative;
            width: 50.93%;
            text-align: center;
            padding: 66px 6px 47px 4px;
            span{
                display: block;
                font: 18px "FuturaPT-Medium";
                color: #0d2f32;
                &.color{
                    display: inline-block;
                    font: 46px "FuturaPT-Demi";
                    color: #87141a;
                }
                &.percent{
                    display: inline-block;
                    font: 30px "FuturaPT-Demi";
                    color: #87141a;
                    vertical-align: top;                   
                }
            }
            &:after{
                content: "";
                position: absolute;
                top: 28px;
                right: 0;
                width: 1px;
                height: 140px;
                background: #fff;
            }
        }
        .right-text{
            padding: 21px 30px 0 14px;
            span{
                font: 18px/24px "FuturaPT-Light";
                color: #444444;
            }
            button{
                display: block;
                font: 16px "FuturaPT-Book";
                color: #0d2f32;
                cursor: pointer;
                margin-top: 15px;
                @include underline(#0d2f32, 0px, solid, true);
            }
        }
    }
    &__actions-limits{
        padding: 28px 0;
        span{
            font: 16px "FuturaPT-Book";
            color: #444444;
            border-bottom: 1px dashed #444444;
            &:hover{
                border: none;
            }
        }
    }
    &__wrapper-for-bottom-block{
        display: flex;
        justify-content: space-between;
    }
    &__elenent-bottom-block{
        position: relative;
        overflow: hidden;
        width: 28.275%;
        background: #beac83;
        padding: 45px 0 62px 21px;
        span{
            display: block;
            &.uppercase{
                text-transform: uppercase;
                color: #fff;
                font: 18px "FuturaPT-Medium";
                margin-bottom: 21px;
            }
            &.uppercase-border{
                display: inline-block;
                text-transform: uppercase;
                color: #fff;
                font: 18px "FuturaPT-Medium";
                margin-bottom: 21px;
                cursor: pointer;
                @include underline(#fff, 0px, dashed, true);
            }
            &.uppercase-color{
                text-transform: uppercase;
                color: #0d2f32;
                font: 18px "FuturaPT-Medium";
                margin-bottom: 21px;
            }
            &.uppercase-color-border{
                display: inline-block;
                text-transform: uppercase;
                color: #0d2f32;
                font: 18px "FuturaPT-Medium";
                cursor: pointer;
                margin-bottom: 21px;
                @include underline(#0d2f32, 0px, dashed, true);
            }
        }
        button{
            color: #444444;
            font: 16px "FuturaPT-Medium";
            margin-bottom: 21px;
            @include underline(#444444, 0px, solid, true);
            cursor: pointer;
            &.button-percent-ransom{
                color: #fff;
                @include underline(#fff, 0px, solid, true);
            }
        }
        &:before{
            content: "";
            position: absolute;
            bottom: -4px;
            right: 13px;
            width: 85px;
            height: 92px;
            background: url(../images/discount/backet-bag-page-discount.svg) center no-repeat;
        }
        &.color-dark-blue{
            background: #0d2f32;
            &:before{
                content: "";
                position: absolute;
                bottom: -4px;
                right: 13px;
                width: 85px;
                height: 92px;
                background: url(../images/discount/percent-oage-discount.svg) center no-repeat;
            }
        }
        &.color-grey{
            background: #f5f5f5;
            &:before{
                content: "";
                position: absolute;
                bottom: -4px;
                right: 13px;
                width: 85px;
                height: 92px;
                background: url(../images/discount/box-page-discount.svg) center no-repeat;
            }
        }
    }
}
.modal-percent-ransom{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 5%;
        width: 1028px;
        min-height: 878px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        // padding: 31px 43px 38px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
        padding: 43px 0 39px 0;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__wrapper-for-calculation-table{
        display: flex;
        justify-content: center;
        background: #f5f5f5;
        padding: 17px 0px 18px 0px;
        span{
            font: 18px "FuturaPT-Book";
            color: #444444;               
        }
        .block-1{
            width: 27.7%;
            span{
                display: block;
                position: relative;
                text-align: center;
                &:nth-of-type(1){
                    padding-bottom: 11px;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 29px;
                        left: 109px;
                        width: 71px;
                        height: 1px;
                        background: #444444;
                    }
                }
            }
        }
        .block-2{
            width: 11.49%;
            span{
                margin-top: 14px;
                display: inline-block;
                &:nth-of-type(1){
                    margin-right: 8px;
                }
                &:nth-of-type(2){
                    margin-right: 15px;
                }
            }
        }
        .block-3{
            width: 17.47%;
            span{
                display: block;
                position: relative;
                text-align: center;
                &:nth-of-type(1){
                    padding-bottom: 11px;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 29px;
                        left: 53px;
                        width: 71px;
                        height: 1px;
                        background: #444444;
                    }
                }
            }
        }
        .block-4{
            width: 22.98%;
            span{
                margin-top: 14px;
                display: inline-block;
                &:nth-of-type(1){
                    margin-right: 8px;
                }
                &:nth-of-type(2){
                    margin-right: 15px;
                }
                &:nth-of-type(3){
                    margin-right: 15px;
                }
                &:nth-of-type(4){
                    font-family: "FuturaPT-Medium"; 
                    color: #87141a;
                }
            }
        }
    }
    &__blocks-calculation{
        display: flex;
        justify-content: space-between;
        padding: 25px 61px 0px 32px;
        .block-left{
            width: 34.59%;
            span{
                display: block;
                font: 16px/26px "FuturaPT-Book";
                color: #444444;
                &.color{
                    display: inline-block;
                    color: #87141a;
                }
                &.text{
                    display: inline-block;
                }
            }
        }
        .block-right{
            width: 34.59%;
            span{
                font: 16px/26px "FuturaPT-Book";
                color: #444444;
                &.color{
                    position: relative;
                    display: inline-block;
                    color: #87141a;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 2px;
                        right: -33px;
                        width: 19px;                        
                        height: 19px;
                        background: url(../images/discount/question-on-page-discount.svg) center no-repeat;
                    }
                }
                &.text{
                    display: inline-block;
                }
            }
            button{
                display: inline-block;
                font: 18px "FuturaPT-Book";
                color: #444444;
                cursor: pointer;
                @include underline(#444444, 0px, dashed, true);
            }
        }
    }
    &__calculation-of-interest{
        position: relative;
        button{
            display: inline-block;
            font: 18px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            @include underline(#444444, 0px, dashed, true);
        }
        .internal-calculator{
            position: absolute;
            display: none;
            top: 35px;
            left: 0;
            background: #fff;
            border: 1px solid #0d2f32;
            padding: 28px 26px;
            z-index: 11;
            text-align: center;
            span{
                font: 16px "FuturaPT-Book";
                color: #444444;
            }
            &__block-sum-return{
                text-align: left;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                span{

                }
                input{
                    display: block;
                    margin-top: 10px;
                    text-align: center;
                    width: 108px;
                    line-height: 48px;
                    font: 15px "FuturaPT-Book";
                    color: #444444;
                    height: 48px;
                    border: 1px solid #f3f3f3; 
                }
            }
            &__calculate{
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: left;
                button{
                    display: inline-block;
                    border: 1px solid #0d2f32;
                    width: 145px;
                    line-height: 48px;
                    height: 48px;
                    color: #0d2f32;
                    font: 15px "FuturaPT-Medium";
                    background: transparent;
                    text-transform: uppercase;
                    &:hover{
                        background: #0d2f32;
                        color: #fff;
                    }
                    &:after{
                        border: none;
                        background: transparent;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #0d2f32;
                    }
                }
                span{
                    display: inline-block;
                    font: 18px "FuturaPT-Medium";
                    color: #87141a;
                    margin-left: 15px;
                }
            }
            &:after{
                content: '';
                position: absolute;
                border: 7px solid transparent;
                border-bottom: 10px solid #0d2f32;
                top: -17px;
                right: 50%;
            }
        }
    }
    &__wrapper-product-list{
        padding: 25px 61px 0px 32px;
        ul{
            display: flex;
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 25px;
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            &:nth-of-type(1){
                width: 35.6%;
            }
            &:nth-of-type(2){
                width: 15.46%;
            }
            &:nth-of-type(3){
                width: 21.53%;
            }
        }
    }
    &__element-product-list{
        padding: 20px 0 4px 0;
        border-bottom: 1px solid #ebebeb; 
        display: flex;
        span{
            display: block;
            font: 16px "FuturaPT-Book";
            color: #444444;
        }
        .number-order{
            width: 9.04%;
            span{
                font-family: "FuturaPT-Medium";    
            }
        }
        .goods{
            width: 26.75%;
            span{
                margin-bottom: 15px;
                &.title{
                    display: inline-block;
                    color: #0d2f32;
                    font-family: "FuturaPT-Medium";
                    @include underline(#0d2f32, 0px, solid, false);
                }
                &.text{
                    display: inline-block;
                }
                &:nth-of-type(2){
                    margin-right: 20px;
                }
            }
        }
        .payment{
            width: 15.46%;
        }
        .returned{
            width: 21.4%;
            span{
                color: #87141a;
            }
        }
        .percent-ransom{

            span{

                &.mobile-version{
                    display: none;
                }
            }
        }
    }
    &__wrapper-for-sum{
        display: flex;
        width: 50%;
    }
    &__result{
        margin-top: 17px;
        display: flex;
        span{
            display: block;
            margin-bottom: 17px;
            font: 16px "FuturaPT-Medium";
            color: #0d2f32;
            &.mobile-version{
                display: none;
            }
        }
        .result{
            width: 35.79%;
        }
        .payment{
            width: 15.46%;
        }
        .returned{
            width: 21.4%;
        }
    }
}
.modal-total-number-goods{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 1%;
        width: 1008px;
        min-height: 947px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 43px 30px 38px 31px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__given-amount{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .left{
            width: 49.93%;
            box-sizing: border-box; 
            p{
                display: block;
              font: 18px "FuturaPT-Light";
              color: #444444;
              margin-bottom: 19px;
            }
            span{
                font: 18px "FuturaPT-Medium";
                color: #444444;  
            }
        }
        .right{
            width: 37%;
            position: relative;
            span{
                display: block;
                font: 18px "FuturaPT-Book";
                color: #444444;
                &.bottom{
                    margin-bottom: 58px;
                }
                &.size{
                    font: 24px "FuturaPT-Demi";
                    color: #87141a;
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 10px;
                left: -66px;
                width: 2px;
                height: 173px;
                background: #f5f5f5;
            }
        }
    }
    &__restriction{
        margin-top: 5px;
        span{
            display: block;
            font: 20px/32px "FuturaPT-Light";
            color: #000;
            &.color-red{
                color: #87141a;
            }          
        }
    }
    &__calculation-table{
        margin-top: 47px;
        display: block;
        // overflow-x: scroll;
        ul{
            display: flex;
            text-align: center;
        }
        li{
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
            width: 20.33%;
            &:nth-of-type(2){
                padding-bottom: 12px;
                border-bottom: 8px solid #cd7f32;
            }
            &:nth-of-type(3){
                padding-bottom: 12px;
                border-bottom: 8px solid #e8e8e8;
            }
            &:nth-of-type(4){
                padding-bottom: 12px;
                border-bottom: 8px solid #fcd147;
            }
            &:nth-of-type(5){
                padding-bottom: 12px;
                border-bottom: 8px solid #fd4e4e;
            }
        }
        .text{
            margin-top: 18px;
            span{
                display: inline-block;
                font: 16px "FuturaPT-Book";
                color: #444444;
                padding-left: 60px;
                &:nth-of-type(2){
                    padding-left: 131px;
                }
            }
        }
    }
    &__table{
        display: flex;
        text-align: center;
        margin-top: 17px;
        span{
            display: block;
            font: 16px/48px "FuturaPT-Medium";
            color: #363636;
        }
        .element-table{
            width: 20.33%;
        }
    }
}