@include respond-to('lg') {
    .page-discount{
        
        &__inner{
            @include container(1024px);
        }
        .col-1{
            display: none;
        }
        .col-2{
            width: 100%;
        }
    }
}