@include respond-to('mm') {
    .page-discount{
        
        &__inner{
            @include container(100%);
        }
        &__my-discount{
            display: block;
            text-align: center;
            box-sizing: border-box;
            padding-bottom: 15px;
            .left{
                width: 100%;
                padding: 20px 6px 0 4px;
            }
            .right-text{
                width: 100%;
                text-align: left;
                box-sizing: border-box;
                padding: 3px 30px 0 15px;
                span{
                    font-size: 16px;
                }
                button{
                    margin-top: 5px;
                }
            }
        }
        &__actions-limits{
            padding: 28px 66px 28px 0px;
            span{
                text-align: left;
            }
        }
        &__wrapper-for-bottom-block{
            display: block;
        }
        &__elenent-bottom-block{
            width: 100%;
            margin-top: 15px;
            box-sizing: border-box;
            padding: 45px 0 40px 21px;
            &.color-dark-blue{
                padding: 45px 0 13px 21px;
            }
            &.color-grey{
                padding: 45px 0 13px 21px;
            }
        }
    }    
    .modal-percent-ransom{

        &__inner{
            width: 100%;
            min-height: 1207px;

        }
        &__title{
            font-size: 16px;
            padding: 42px 0 23px 0;
        }
        &__wrapper-for-calculation-table{
                flex-wrap: wrap;
            span{
                font-size: 14px;
            }
            .block-1{
                width: 50%;
                span{
                    &:nth-of-type(1){
                        
                        &:after{
                            top: 24px;
                            left: 31%;
                        }
                    }
                }
            }
            .block-2{
                width: 28%;
            }
            .block-3{
                width: 50%;

                span{
                    &:nth-of-type(1){
                        
                        &:after{
                            top: 22px;
                            left: 31%;
                        }
                    }
                }
            }
            .block-4{
                width: 50%;
            }
        }
        &__element-product-list{
            padding: 20px 50px 4px 0;
        }
        &__blocks-calculation{
            display: block;
            padding: 10px 10px 0px 10px;
            .block-left{
                width: 100%;
                span{

                    font-size: 14px;
                }
            }
            .block-right{
                width: 100%;
                span{
                    font-size: 14px;
                }
                button{
                    font-size: 14px;
                }
            }
        }
        &__wrapper-product-list{

            ul{
                display: none;
            }
        }
        &__element-product-list{
            display: block;
            .number-order{
                width: 100%;
                span{
                    margin-bottom: 10px;
                }
            }
            .goods{
                width: 100%;
                span{
                    margin-bottom: 10px;
                }
            }
            .payment{
                width: 100%;
                span{
                        display: inline-block;
                    &.mobile-version{
                        display: inline-block;
                    }
                }
            }
            .returned{
                width: 100%;
                margin-top: 10px;
                span{
                    display: inline-block;

                    &.mobile-version{
                        display: inline-block;       
                    }
                }
            }
            .percent-ransom{
                
                span{

                    &.mobile-version{
                        display: inline-block;
                        margin-top: 10px;     
                        margin-bottom: 10px;
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                    }
                }
            }
        }
        &__wrapper-for-sum{
            display: block;
            width: 50%;
        }
        &__result{
            display: flex;
            span{
                display: inline-block;
                font-size: 14px;
                &.mobile-version{
                    display: inline-block;
                }
            }
            .result{
                width: 50%;
                span{
                    display: block;
                    &:nth-of-type(2){
                        margin-top: 39px;
                    }
                }
            }
            .payment{
                width: 100%;
                span{
                    margin-bottom: 5px;
                }
            }
            .returned{
                width: 100%;
                display: block;
                span{
                    margin-bottom: 5px;
                }
            }
        }
    }
    .modal-total-number-goods{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(142, 142, 142, 0.59);
        z-index: 100;
        overflow: auto;
        &__inner {
            @include box-shadow();
            width: 100%;
            min-height: 947px;
            overflow: hidden;
        }
        .col{
            padding: 28px 10px 38px 10px;
        }
        &__title{
            font-size: 16px;
        }
        &__calculation-table{
            .internal-wrapper{
                overflow-x: scroll;
                width: 1008px;
            }
        }
        &__given-amount{
            display: block;
            p{
                font-size: 16px;
            }
            span{
                font-size: 16px;
            }
            .left{
                width: 100%;
            }
            .right{
                width: 100%;
                display: flex;
                justify-content: space-between;
                span{
                    display: inline-block;
                    font-size: 14px;
                    &.size{
                        display: block;
                        font-size: 18px;
                    }
                    &.bottom{
                        margin-bottom: 20px;
                    }
                }
            }
        }
        &__restriction{

            span{
                display: block;
                margin-top: 15px;
                font: 16px "FuturaPT-Light";
                &:nth-of-type(1){
                    margin-top: 0px;
                }
            }
        }
    }
}