@include respond-to('sm') {
    .page-discount{
        
        &__inner{
            @include container(768px);
        }
        &__elenent-bottom-block{
            padding: 19px 0 18px 21px;
            span{

                &.uppercase{
                    font-size: 16px;
                }
                &.uppercase-color-border{
                    font-size: 15px;
                }
                &.uppercase-border{
                    font-size: 16px;
                }
            }
        }
    }
    .modal-percent-ransom{
        &__inner {
            width: 768px;
        }
        &__wrapper-product-list{

            li{
                font-size: 16px;
            }
        }
        &__element-product-list{

            span{
                font-size: 14px;
            }
            .number-order{
                width: 11.04%;
            }
            .goods{
                width: 24.75%;
            }
        }
        &__blocks-calculation{

            .block-left{
                width: 45.59%;
            }
            .block-right{
                width: 43.59%;
            }
        }
    }
    .modal-total-number-goods{

        &__inner {
            width: 768px;
        }
        &__calculation-table{

            .text{

                span{    
                    font-size: 14px;
                    padding-left: 41px;
                    &:nth-of-type(2){
                        padding-left: 37px;
                    }
                }
            }
        }
    }
}