.page-how-to-order{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    .col{
        width: 77.19%;
    }
    &__order-method{
        margin-top: 21px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
            &.number-title{
                display: block;
                font: 30px "FuturaPT-Medium";
                color: #0d2f32;
                margin-bottom: 11px;
            }
            &.bottom-text{
                margin-top: 21px;
            }
            &.text{
                margin-top: 54px;
            }
            &.text-right{
                margin-top: 54px;
                text-align: center;
            }
            &.align{
                margin-top: 20px;
                position: relative;
                display: block;
                text-align: center;
                &:before{
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: 109px;
                    width: 5px;
                    height: 1px;
                    background: #444444;
                }
            }
        }
        img{
            width: 100%;
            margin-top: 27px;
        }
        a{
            display: inline-block;
            text-decoration: none;
            font: 18px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            @include underline(#444444, 0px, solid, true); 
        }
    }
}