@include respond-to('ml') {
    .page-my-wardrobe{
        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
        }
        &__number-navigation{
            margin-top: 20px;
            li{
                width: 41px;
                line-height: 41px;
                height: 41px;
                &:before{
                    top: 16px;
                }
            }
        }
        &__top-text{
            display: block;
        }
        .wrapper-for-list-wardrobe{

            .item{

                &__block-actiont{
                    width: 15%;
                    span{

                        &.color{
                            right: 0;
                        }
                    }
                }
            }
        }
        &__element-list{

            li{

                &:nth-of-type(3){
                    width: 16.47%;
                }
            }
        }
        &__top-block-serch{
            display: block;
            text-align: center;
            margin-top: 15px;
            label{
                button{
                    margin-top: 0px;
                }
            }
            input{
                width: 85%;
            }
            button{
                width: 90%;
                margin-top: 20px;
            }
        }
        &__element-list{
            border: none;
            li{
                display: none;
                padding: 15px 0 0 0;
            }
            span{
                &.mobile-version{
                    display: inline-block;
                }
                &.desktop-version{
                    display: none;
                }
            }
            .ul-list{
                display: inline-block;
                .indicator{
                    margin-right: 8px;
                }
            }
        }
        .wrapper-for-list-wardrobe{

            .item{
                display: block;
                padding-top: 1px;
                span{

                    &.mobile-version{
                        display: inline-block;
                        width: 34%;
                    }
                    &.price{
                        padding-left: 1px;
                    }
                }
                &__checkbox-container{
                    width: 3.28%;
                    float: left;
                    i{
                        margin-right: 8px;
                    }
                }
                &__mobile-version{
                    display: block;
                    margin-bottom: 10px;
                    span{
                        font: 18px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-left: 12px;
                    }
                }
                &__image-container{
                    width: 70px;
                    img{
                        width: 55px;
                        height: 65px;
                    }
                }
                &__info-container{
                    width: 180px;
                    a{
                        font: 15px "FuturaPT-Book";
                        margin-bottom: 4px;
                    }
                    p{
                        font: 15px "FuturaPT-Book";
                        margin-top: 7px;
                        span{
                            font: 15px "FuturaPT-Book";
                            margin-top: 7px;
                        }
                    }
                }
                &__item-info{
                    width: 94%;
                    float: right;
                    border-bottom: 1px solid #f5f5f5;
                    padding-bottom: 10px;
                    margin-bottom: 15px;
                }
                &__number{
                    width: 100%;
                }
                &__price{
                    width: 100%;
                    margin-top: 20px;
                }
                &__wrapper{
                    width: 29%;
                    margin-left: 5px;
                }
                &__block-actiont{
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                }
                &__text-and-button{

                    span{
                        margin-top: 0px;
                    }
                    button{
                        margin-top: 0px;
                    }
                }
            }
        }
        &__bottom-navigation{
            display: block;
            text-align: center;
            margin-top: 10px;
            li{
                width: 41px;
                line-height: 41px;
                height: 41px;
                &:before{
                    top: 16px;
                }
            }
            button{
                margin-top: 5px;
                text-align: center;
                width: 90%;
            }
        }
        // &__item-list{

        //     input{
        //         position: absolute;
        //     }
        // }
    }
}