.page-my-wardrobe{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__top-text{

        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
        }
    }
    &__top-block-serch{
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
        label{

            button{
                position: relative;
                width: 45px;
                height: 45px;
                cursor: pointer;
                background: #f9f9f9;
                vertical-align: top;
                margin-left: -4px;
                border: none;
                &:after{
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: 14px;
                    width: 17px;
                    height: 17px;
                    background: url(../images/my-balance/search.svg) center no-repeat;
                    border: none;
                }
                &:hover{
                    background: #f9f9f9;
                }
            }
        }
        input{
            background: #f9f9f9;
            font: 15px "FuturaPT-Book";
            color: #444444;
            line-height: 45px;
            width: 227px;
            height: 45px;
            padding-left: 15px;
        }
        button{
            position: relative;
            font: 15px "FuturaPT-Medium";
            color: #0d2f32;
            width: 316px;
            line-height: 60px;
            height: 60px;
            border: 1px solid #0d2f32;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
        }
    }
    &__number-navigation{
        margin-top: 27px;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        ul{
            display: flex;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 64px;
            line-height: 64px;
            height: 64px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &::before{
                position: absolute;
                top: 28px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &::before{
                    background: transparent;
                }
            }
            &:nth-of-type(5){
                &::before{
                    background: transparent;
                }
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;
            &:hover{
                color: #beac83;
            }
        }
        img{
            width: 16px;
            height: 11px;
        }
    }
    &__element-list{
        border-bottom: 1px solid #f3f3f3;
        display: flex;
        width: 100%;
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            padding-left: 8px;
            padding: 16px 0;
            &:nth-of-type(1){
                width: 42.86%;
            }
            &:nth-of-type(2){
                width: 24.82%;
            }
            &:nth-of-type(3){
                width: 17.47%;
            }
        }
        span{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            &.mobile-version{
                display: none;
            }
        }
        .ul-list{
            cursor: pointer;
            .indicator {
                position: relative;
                display: inline-block;
                margin-right: 32px;
                border: 1px solid #0d2f32;
                width: 11px;
                height: 11px;
                cursor: pointer;
            }
            &.active {

                .indicator:before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 10px;
                    height: 11px;
                    background: url(../images/my-orber/list-checkbox.svg) center no-repeat;
                }
            }
        }
    }
    .wrapper-for-list-wardrobe{

        &__list{
            display: flex;
            position: relative;
            padding-left: 9px;
            padding-right: 16px;
    
            li{
                font: 18px "FuturaPT-Book";
                color: #0d2f32;
                &:nth-of-type(1){
                    width: 57.24%;
                }
                &:nth-of-type(2){
                    width: 24.71%;
                }
                &:nth-of-type(3){
                    
                }
            }
        }
        input:checked + label .item__checkbox-container {
            i:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 11px;
                height: 11px;
                background: url(../images/my-orber/list-checkbox.svg) center no-repeat;
            }
        }
        .item{
            border-bottom: 1px solid #f3f3f3;
            padding-bottom: 25px;
            padding-top: 24px;
            cursor: pointer;
            display: flex;
            padding-right: 16px;
            span{
                font: 16px "FuturaPT-Book";
                color: #444444;
                &.price{
                    font: 16px "FuturaPT-Medium";
                    color: #0d2f32;
                    padding-left: 10px;
                }
                &.initial-price{
                    padding-left: 0px;
                    font: 16px "FuturaPT-Medium";
                    color: #0d2f32;
                }
                &.mobile-version{
                    display: none;
                }
            }
            &__mobile-version{
                display: none;
            }
            &__checkbox-container{
                width: 5.28%;
                i{
                    position: relative;
                    display: inline-block;
                    margin-right: 32px;
                    border: 1px solid #0d2f32;
                    width: 11px;
                    height: 11px;
                    cursor: pointer;
                }
            }
            &__item-info{
                width: 40.2%;
                display: flex;
            }
            &__image-container{
                width: 96px;
                img{
                    width: 80px;
                    height: 95px;
                }
            }
            &__info-container{
                width: 200px;
                a{
                    font: 16px/30px "FuturaPT-Book";
                    color: #444444;
                    text-decoration: none;
                    &.color{
                        color: #0d2f32;
                        border-bottom: 1px solid #0d2f32;
                        &:hover{
                            border-bottom: none;
                        } 
                    }
                }
                span{
                    font: 16px/30px "FuturaPT-Book";
                    color: #444444;
                    &.color{
                        color: #0d2f32;
                        border-bottom: 1px solid #0d2f32;
                    }
                }
                p{
                    display: inline-block;
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                }
            }
            &__price{
                width: 16.20%;
                margin-top: 35px;
            }
            &__number{
                width: 24%;
                margin-top: 35px;
            }
            &__action-social{
                display: flex;
                img{
                    margin-right: 9px;
                    width: 22px;
                    height: 22px;
                }
            }
            &__text-and-button{
                position: relative;
                span{
                    display: inline-block;
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                    margin-bottom: 12px;
                    margin-top: 7px;
                    &.color{
                        position: absolute;
                        right: 35px;
                        top: 17px;
                        text-align: center;
                        background: #87141a;
                        color: #fff;
                        width: 19px;
                        height: 19px;
                        line-height: 19px;
                        border-radius: 30px;
                    }
                }
                button{
                    cursor: pointer;
                    display: block;
                    background: #beac83;
                    color: #fff;
                    font: 15px "FuturaPT-Medium";
                    width: 86px;
                    line-height: 31px;
                    height: 31px;
                    margin-top: 17px;
                    margin-bottom: 12px;
                }
            }
        }
    }
    &__bottom-navigation{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        ul{
            display: flex;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 64px;
            line-height: 64px;
            height: 64px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &::before{
                position: absolute;
                top: 28px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &::before{
                    background: transparent;
                }
            }
            &:nth-of-type(5){
                &::before{
                    background: transparent;
                }
            }
        }
        button{
            position: relative;
            font: 15px "FuturaPT-Medium";
            color: #0d2f32;
            width: 316px;
            line-height: 60px;
            height: 60px;
            border: 1px solid #0d2f32;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #0d2f32;
            }
            &:hover{
                background: #0d2f32;
                color: #fff;
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;
            &:hover{
                color: #beac83;
            }
        }
        img{
            width: 16px;
            height: 11px;
        }
    }
}


