@include respond-to('sm') {
    .page-my-wardrobe{
        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        .wrapper-for-list-wardrobe{

            .item{

                &__block-actiont{
                    width: 15%;
                    span{

                        &.color{
                            right: 0;
                        }
                    }
                }
            }
        }
        &__element-list{

            li{

                &:nth-of-type(3){
                    width: 16.47%;
                }
            }
        }
    }
}