.page-my-return{

    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__top-navigation{
        margin-top: 23px;
        display: block;
        border-top: 1px solid #f3f3f3;
        ul{
            display: block;
            cursor: context-menu;
            margin-left: 16px;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 32px;
            line-height: 32px;
            height: 32px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &:before{
                position: absolute;
                top: 11px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &:before{
                    background-color: transparent;
                }
            }
            &:nth-of-type(5){
                &:before{
                    background-color: transparent;
                }
            }
            img{
                width: 16px;
                height: 11px;
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;       
            &:hover{
                color: #beac83;
            }
        }
        .navigation-button{

            &after{
                content: "";
                background-image: url();
            }
        }
    }
    &__archive-list{
        
        .internal-blocks{

            &__top-list{
                background-color: #f5f5f5;
                ul{
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0;
                }
                li{
                    font: 18px "FuturaPT-Book";
                    color: #0d2f32;
                    padding: 0 4px;
                    text-align: center;
                    &:nth-of-type(1){
                        width: 11.9%;
                    }
                    &:nth-of-type(2){
                        width: 16.19%;  
                        text-align: center;
                    }
                    &:nth-of-type(3){
                        width: 19.5%;
                        text-align: center;
                    }
                    &:nth-of-type(4){
                        width: 22.57%;
                    }
                    &:nth-of-type(5){
                        width: 14.0%;
                    }
                    &:nth-of-type(6){
                        width: 7.5%;
                    }
                }
            }
            &__list-return{
                width: 100%;
                border-bottom: 1px solid #f5f5f5;
                cursor: pointer;
                padding-top: 8px;
                ul{
                    display: flex;
                    padding: 15px 0;
                    
                }
                li{
                    font: 16px "FuturaPT-Book";
                    color: #0d2f32;
                    text-align: center;
                    padding: 0 4px;
                    &:nth-of-type(1){
                        width: 11.7%;
                    }
                    &:nth-of-type(2){
                        width: 21.9%;  
                        text-align: center;
                    }
                    &:nth-of-type(3){
                        width: 16.77%;
                        text-align: center;
                    }
                    &:nth-of-type(4){
                        width: 27.9%;
                    }
                    &:nth-of-type(5){
                        width: 14.8%;
                    }
                    &:nth-of-type(6){
                        width: 7.5%;
                    }
                }
                span{

                    &.mobile-version{
                        display: none;
                    }
                }
                &.active{
                    background-color: #beac83;
                    li{
                        color: #fff;
                    }
                }
            }
            &__internal-block-list{
                background-color: #f5f5f5;
                padding-top: 15px;
                padding-left: 22px;
                display: none;
                .list{
                    margin-top: 14px;
                    ul{
                        display: flex;
                    }
                    li{
                        font: 18px "FuturaPT-Book";
                        color: #0d2f32;
                        padding: 0 4px;
                        text-align: left;
                        &:nth-of-type(1){
                            width: 44.58%;
                        }
                        &:nth-of-type(2){
                            width: 27.02%;
                            text-align: left;
                        }
                        &:nth-of-type(3){
                            text-align: left;
                            width: 28.5%;
                        }
                    }
                }
            }
            &__description-product{
                display: flex;
                margin-top: 26px;
                .description{
                    display: flex;
                    width: 45%;

                    img{

                    }

                    .text{
                        margin-left: 20px;
                        span{
                            font: 16px/20px "FuturaPT-Book";
                            color: #444444;
                            margin-right: 16px;
                            &.color-dark-blue{
                                display: block;
                                margin-bottom: 12px;
                                font: 16px/24px "FuturaPT-Book";
                                color: #0d2f32;
                            }
                            &.text-bottom{
                                display: block;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .price{
                    width: 33%;
                    font: 16px "FuturaPT-Demi";
                    color: #0d2f32;
                    span{

                        &.mobile-version{
                            display: none;
                        }
                    }
                }
                .reaon-for-return{
                    font: 16px "FuturaPT-Book";
                    color: #0d2f32;
                    span{

                        &.mobile-version{
                            display: none;
                        }
                    }
                }
            }
            &__botton-button{
                display: flex;
                justify-content: space-between; 
                padding-bottom: 25px;
                margin-top: 41px;
                a{
                    display: inline-block;
                    width: 134px;
                    text-decoration: none;
                    text-align: center;
                    text-transform: uppercase;
                    font: 13px/30px "FuturaPT-Medium";
                    background-color: #beac83;
                    color: #fff;
                }
                span{
                    font: 16px "FuturaPT-Demi";
                    color: #0d2f32;
                    padding-right: 13px;
                }
                button{
                    display: inline-block;
                    position: relative;
                    font: 16px "FuturaPT-Book";
                    background: transparent;
                    cursor: pointer;
                    color: #444444;
                    margin-right: 48px;
                    @include underline(#444444, 0px, dashed, true);
                    &:before{
                        content: "";
                        position: absolute;
                        top: 13px;
                        right: -27px;
                        width: 12px;
                        height: 8px;
                        background: url(../images/header/arrow-next.svg) center no-repeat;
                    }
                }
            }
        }
    }
    &__bottom-navigation{
        display: block;
        ul{
            display: block;
            cursor: context-menu;
            margin-left: 16px;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 32px;
            line-height: 32px;
            height: 32px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &:before{
                position: absolute;
                top: 11px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &:before{
                    background-color: transparent;
                }
            }
            &:nth-of-type(5){
                &:before{
                    background-color: transparent;
                }
            }
            img{
                width: 16px;
                height: 11px;
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;   
            &:hover{
                color: #beac83;
            }    
        }
        .navigation-button{

            &after{
                content: "";
                background-image: url();
            }
        }
    }
}