@include respond-to('xs') {
    .page-my-return{
        &__inner{
            @include container(320px);
            margin-top: 30px;
        }
        &__top-navigation{
            border-bottom: 1px solid #f3f3f3;
            margin-bottom: 15px;
            li{
                width: 41px;
                line-height: 41px;
                height: 41px;
                &:before{
                    top: 16px;
                }
            }
        }
        &__bottom-navigation{
            // margin-top: 15px;
            border-top: 1px solid #f3f3f3;
            li{
                width: 41px;
                line-height: 41px;
                height: 41px;
                &:before{
                    top: 16px;
                }
            }
        }
        &__archive-list{

            .internal-blocks{
                
                &__top-list{
                    display: none;
                }
                &__wrapper-for-accordion{
                    
                }
                &__list-return{
                    padding-top: 0px;
                    border: none;
                    padding-bottom: 15px;
                    ul{
                        display: block;
                        position: relative;
                        padding: 0 0;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 15px;
                            right: 4%;
                            width: 16px;
                            height: 12px;
                            background: url(../images/my-orber/page-order-arrow-left.svg) center no-repeat;
                        }
                    }
                    li{
                        display: flex;
                        width: 50%;
                        margin-top: 10px;
                        &:nth-of-type(1){
                            position: relative;
                            text-align: left;
                            width: 100%;
                            margin-top: 0px;
                            padding: 10px 0;
                            background: #f5f5f5;
                        }
                        &:nth-of-type(2){
                            text-align: left;
                            width: 100%;
                        }
                        &:nth-of-type(3){
                            text-align: left;
                            width: 100%;
                        }
                        &:nth-of-type(4){
                            text-align: left;
                            width: 100%;
                        }
                        &:nth-of-type(5){
                            text-align: left;
                            width: 100%;
                        }
                        &:nth-of-type(6){
                            text-align: left;
                            width: 100%;
                            font-family: "FuturaPT-Demi";
                        }
                    }
                    span{

                        &.mobile-version{
                            display: inline-block;
                            width: 50%;
                            font: 18px "FuturaPT-Book";
                            color: #0d2f32;
                        }
                    }
                    &.active{
                        ul{    
                            &:after{
                                background: url(../images/my-orber/page-order-arrow-white-next.svg) center no-repeat;
                                width: 14px;
                                height: 10px;
                            }
                        }
                        li{
                            span{
                                
                                &.mobile-version{
                                    color: #fff;
                                }
                            }
                            &:nth-of-type(1){
                                background: #beac83;
                            }
                        }
                    }
                }
                &__internal-block-list{

                    .list{
                        display: none;
                    }

                }
                &__description-product{
                    display: block;
                    .description{
                        width: 100%;
                        img{
                            width: 55px;
                            height: 65px;
                        }
                        .text{

                            span{
                                    font: 16px/12px "FuturaPT-Book";
                                &.color-dark-blue{
                                    font: 16px/12px "FuturaPT-Book";
                                }
                            }
                        }
                    }
                    .price{
                        width: 100%;
                        display: flex;
                        margin-top: 20px;
                        span{

                            &.mobile-version{
                                display: inline-block;
                                width: 47%;
                                font: 18px "FuturaPT-Book";
                                color: #0d2f32;
                            }
                        }
                    }
                    .reaon-for-return{
                        margin-top: 10px;
                        span{
                            vertical-align: top;
                            &.mobile-version{
                                display: inline-block;
                                width: 46%;
                                font: 18px "FuturaPT-Book";
                                color: #0d2f32;
                            }
                        }
                    }
                }
                &__botton-button{
                    justify-content: initial;
                    margin-top: 15px;
                    button{
                        display: none;
                    }
                    span{
                        margin-top: 4px;
                        margin-left: 17px;
                    }
                    a{
                        width: 115px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}