.page-instashop{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        display: block;
        margin-top: 2px;
        text-align: center;
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__text-under-title{
        display: block;
        margin-top: 8px;
        text-align: center;
        font: 18px "FuturaPT-Light";
        color: #0d2f32;
        padding: 0 22%;
    }
    &__mondigo-insta{
        display: block;
        text-align: center;
        font: 15px "FuturaPT-Book";
        color: #0d2f32;
        text-transform: uppercase;
        i{
            margin-bottom: 7px;
            margin-top: 10px;
            display: block;
            text-align: center;
            color: #0d2f32;
            font-size: 20px;
        }
    }
    &__wrapper-element-instashop{
        display: flex;
        flex-wrap: wrap;
    }
}