@include respond-to('lg') {
    .page-main{
        
        &__inner{
            @include container(1024px);
            margin-bottom: 50px;
        }
        &__wrapper-our-model{

            .blocks-one{
                width: 47.5%;
            }
            .blocks-two{
                width: 47.5%;
            }
            .blocks-three{
                width: 47.5%;
            }
            .blocks-four{
                width: 47.5%;
            }
        }
        &__bottom-our-model{
            button{
                font: 19px "FuturaPT-Book";
            }
        }
        &__new-collection{
            width: 100%;
            text-align: center;
        }
        &__flex-slider{
            justify-content: space-evenly;
        }
        &__subscribe{
            
            .internal-block{

                &__inner{
                    @include container(1024px);
                    padding: 0px 10px;
                    background-color: #fafafa;
                }

            }
        }
    }
}