@include respond-to('md') {
    .page-main{

        &__inner{
            @include container(980px);
        }
        &__subscribe{
            
            .internal-block{

                &__inner{
                    @include container(980px);
                    padding: 0px 10px;
                    background-color: #fafafa;
                }

            }
        }
    }
}