@include respond-to('sm') {
    .page-main{

        &__inner{
            @include container(768px);
        }
        &__wrapper-our-model{

            .blocks-one{
                width: 100%;
                text-align: center;
                margin-right: 0px;
            }
            .blocks-two{
                width: 100%;
            }
            .blocks-three{
                width: 100%;
                margin-right: 0px;
            }
            .blocks-four{
                width: 100%;
                text-align: center;
            }
        }
        &__bottom-our-model{
            width: 15%;
        }
        &__subscribe{
            
            .internal-block{

                &__inner{
                    @include container(768px);
                    padding: 0px 10px;
                    background-color: #fafafa;
                }

            }
        }
        &__opportunity-information{
            
            span{
                font-size: 14px;
            }
        }
        .fitting-images{

            &:after{
                left: 41.5%;
            }
        }
    }
}