@include respond-to('xs') {

    .page-main{
        
        &__inner{
            @include container(320px);
        }
        &__subscribe{
            
            .internal-block{

                &__inner{
                    @include container(320px);
                    padding: 0px 10px;
                    background-color: #fafafa;
                }
                &__subscribe-info{
                    padding-top: 30px;
                    span{
                        font-size: 20px;
                    }
                    input{
                        width: 288px;
                        margin-top: 5px;
                    }
                }
                &__images-social-networks{
                    margin-top: 25px;
                    margin-bottom: 35px;
                    i{
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
        &__background-images-top{
            background-image: url(../images/main/background-mobile-main-top.jpg);
            height: 168px;
        }
        &__background-internal{
            padding-top: 20px;
            &.internal-blocks{
                
                h1{
                    font-size: 31px;
                    margin-bottom: 10px;
                }
                span{
                    font-size: 12px;
                }
                a{
                    margin-top: 10px;
                }
            }
        }
        &__wrapper-our-model{

            .blocks-one{
                width: 100%;
                text-align: left;
                margin-right: 0px;
                &__title{
                    h2{
                        font-size: 24px;
                    }
                    span{
                        font-size: 16px;
                    }
                }
                &__background-image{
                    background: url(../images/main/background-mobile-model-1.jpg) center no-repeat;
                    height: 270px;
                    
                }
                &__internal-element{
                    padding-top: 25px;
                    span{
                        padding-top: 15px;
                        font-size: 60px;
                    }
                    a{
                        margin-top: 30px;
                    }
                }
                
            }
            .blocks-two{
                width: 100%;
                &__background-images{
                    background: url(../images/main/background-mobile-model-2.jpg) center no-repeat;
                    height: 343px;
                }
                &__link{
                    padding-top: 00px;
                    margin-bottom: 40px;
                }
            }
            .blocks-three{
                width: 100%;
                margin-right: 0px;
                &__background-images{
                    background: url(../images/main/background-mobile-model-3.jpg) center no-repeat;
                    height: 343px;
                }
                &__link{
                    padding-top: 100px;
                    span{
                        font-size: 50px;
                    }
                    a{

                    }
                }
            }
            .blocks-four{
                width: 100%;
                text-align: left;
                &__background-image{
                    background: url(../images/main/background-mobile-model-4.jpg) center no-repeat;
                    height: 270px;
                }
                &__title{
                    margin-top: 10px;
                }
                &__internal-element{

                    a{
                        margin-top: 0px;
                    }
                }
            }
        }
        &__bottom-our-model{
            width: 31%;
            margin-left: 33.3%;
            img{

            }
            button{
                font-size: 16px;
            }   
        }
        &__opportunity-information{
            display: block;
            
        }
        &__fitting-product{

            &.fitting-images{

                &:after{
                    left: 45%;
                }
            }
        }
        &__return-of-goods,
        &__fitting-product,
        &__methond-payment,
        &__delivery{
            width: auto;
            margin-top: 15px;

        }
        &__new-collection{
             text-align: left;
        }
    }
}