@include respond-to('mm') {
    .page-our-discount{
        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: block;
            font-size: 30px;
            text-align: center;
        }
        &__customer-discount{

            span{
               padding-right: 45px;

                &.title{
                    font: 24px/24px "FuturaPT-Medium";
                }
            }
        }
        &__promo-code{

            span{
                padding-right: 45px;
            }
        }
    }
}