.page-our-discount{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__customer-discount{
        border-bottom: 1px solid #f5f5f5;
        padding-bottom: 55px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
            margin-top: 20px;
            padding-right: 104px;
            &.title{
                display: inline-block;
                font: 24px/72px "FuturaPT-Medium";
                color: #0d2f32;
            }
            &.internal-title{
                font: 18px "FuturaPT-Medium";
                color: #0d2f32;
            }
        }
        img{
            width: 22px;
            height: 22px;
            margin-right: 10px;
            margin-top: 21px;
        }
        a{
            cursor: pointer;
            font: 18px "FuturaPT-Book";
            color: #0d2f32; 
            text-decoration: none;
            @include underline(#0d2f32, 0px, solid, true);
        }
        button{
            display: inline-block;
            cursor: pointer;
            font: 18px "FuturaPT-Book";
            color: #0d2f32; 
            @include underline(#0d2f32, 0px, solid, true);
            vertical-align: top;
            margin-top: 19px;
        }
    }
    &__promo-code{
        padding-bottom: 55px;
        margin-top: 17px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
            margin-top: 20px;
            padding-right: 92px;
            &.title{
                display: inline-block;
                font: 24px/72px "FuturaPT-Medium";
                color: #0d2f32;
                vertical-align: super;
            }
            &.internal-title{
                font: 18px "FuturaPT-Medium";
                color: #0d2f32;
            }
        }
        img{
            width: 22px;
            height: 22px;
            margin-right: 10px;
            margin-top: 21px;
            &.size{
                width: 33px;
                height: 25px;
            }
        }
        a{
            cursor: pointer;
            font: 18px "FuturaPT-Book";
            color: #0d2f32; 
            text-decoration: none;
            @include underline(#0d2f32, 0px, solid, true);
        }
        button{
            display: inline-block;
            cursor: pointer;
            font: 18px "FuturaPT-Book";
            color: #0d2f32; 
            @include underline(#0d2f32, 0px, solid, true);
            vertical-align: top;
            margin-top: 19px;
        }
    }
}
.modal-total-number-goods{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 1%;
        width: 1008px;
        min-height: 947px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 43px 30px 38px 31px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__given-amount{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .left{
            width: 49.93%;
            box-sizing: border-box; 
            p{
                display: block;
              font: 18px "FuturaPT-Light";
              color: #444444;
              margin-bottom: 19px;
            }
            span{
                font: 18px "FuturaPT-Medium";
                color: #444444;  
            }
        }
        .right{
            width: 37%;
            position: relative;
            span{
                display: block;
                font: 18px "FuturaPT-Book";
                color: #444444;
                &.bottom{
                    margin-bottom: 58px;
                }
                &.size{
                    font: 24px "FuturaPT-Demi";
                    color: #87141a;
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 10px;
                left: -66px;
                width: 2px;
                height: 173px;
                background: #f5f5f5;
            }
        }
    }
    &__restriction{
        margin-top: 5px;
        span{
            display: block;
            font: 20px/32px "FuturaPT-Light";
            color: #000;
            &.color-red{
                color: #87141a;
            }          
        }
    }
    &__calculation-table{
        margin-top: 47px;
        display: block;
        // overflow-x: scroll;
        ul{
            display: flex;
            text-align: center;
        }
        li{
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
            width: 20.33%;
            &:nth-of-type(2){
                padding-bottom: 12px;
                border-bottom: 8px solid #cd7f32;
            }
            &:nth-of-type(3){
                padding-bottom: 12px;
                border-bottom: 8px solid #e8e8e8;
            }
            &:nth-of-type(4){
                padding-bottom: 12px;
                border-bottom: 8px solid #fcd147;
            }
            &:nth-of-type(5){
                padding-bottom: 12px;
                border-bottom: 8px solid #fd4e4e;
            }
        }
        .text{
            margin-top: 18px;
            span{
                display: inline-block;
                font: 16px "FuturaPT-Book";
                color: #444444;
                padding-left: 60px;
                &:nth-of-type(2){
                    padding-left: 131px;
                }
            }
        }
    }
    &__table{
        display: flex;
        text-align: center;
        margin-top: 17px;
        span{
            display: block;
            font: 16px/48px "FuturaPT-Medium";
            color: #363636;
        }
        .element-table{
            width: 20.33%;
        }
    }
}