@include respond-to('sx') {
    .page-our-discount{
        &__inner{
            @include container(320px);
            margin-top: 30px;
        }
        &__title{
            display: block;
            font-size: 24px;
            text-align: center;
        }
        &__customer-discount{
            padding-bottom: 35px;
            span{
                font-size: 16px;
                padding-right: 45px;
                &.title{
                    font: 16px/24px "FuturaPT-Medium";
                }
                &.internal-title{
                    font-size: 16px;
                }
            }
            a{
                font-size: 16px;
            }
        }
        &__promo-code{
            margin-top: 10px;
            img{

                &.size{
                    width: 22px;
                    height: 24px;
                }
            }
            a{
                font-size: 16px;
            }
            span{
                padding-right: 45px;
                font-size: 16px;
                &.internal-title{
                    font-size: 16px;
                } 
                &.title{
                    font: 16px/24px "FuturaPT-Medium";
                }
            }
        }
    }
}