@include respond-to('lg') {
    .page-my-balance{
        &__inner{
            @include container(1024px);
            margin-top: 30px;
        }
        .col-1{
            display: none;
        }
        .col-2{
            width: 100%;
        }
        &__gift-certificate{

            &:after{
                left: 44%;
            }
        }
    }
    .modal-gift-vouchers{

        &__inner {
            width: 1024px;
        }
    }
}