@include respond-to('md') {

    .page-my-balance{

        &__inner{
            @include container(980px);
            margin-top: 30px;
        }
    }
    .modal-gift-vouchers{

        &__inner {
            width: 980px;
        }
    }
}