@include respond-to('mm') {

    .page-my-balance{
        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 24px;
        }
        &__block-information{

            .internal-block{

                &:nth-of-type(3){
                    width: 29%;
                }
            }
        }
        &__top-block{
            display: block;

            button{
                margin-top: 20px;
            }
        }
        &__blocks-actions{
            display: block;
        }
        &__balance{
            width: 100%;
            padding: 0 4px;
            box-sizing: border-box;
        }
        &__available-balance{
            margin-top: 20px;
            width: 100%;
            padding: 0 4px;
            box-sizing: border-box;
        }
        &__locked{
            margin-top: 20px;
            width: 100%;
        }
        &__get-the-opportunity{

            .header-text{
                display: block;

                button{
                    margin-top: 15px;
                }
            }
            .button{
                text-align: center;
                margin-bottom: 30px;
                button{

                }
            }
        }
        &__block-information{
            display: block;
            padding-bottom: 10px;
            .internal-block{
                margin-top: 20px;
                img{
                    width: 26px;
                    height: 26px;
                }
                button{
                    font-size: 16px;
                    padding-top: 0px;
                    margin-left: 10px;
                }
                &:nth-of-type(1){
                    width: 100%;
                }
                &:nth-of-type(2){
                    width: 100%;
                }
                &:nth-of-type(3){
                    width: 100%;
                }
                &:nth-of-type(4){
                    width: 100%;
                    margin-top: 20px;
                }

            }
        }
        &__gift-certificate{
            margin-top: 50px;
            border-radius: 0px;
            padding: 45px 15px 10px 15px;
            button{
                margin-left: 25.5%;
            }
            span{

                &.text{
                    font-size: 16px;
                }
            }
            &::after{
                top: -29px;
                left: 39.5%;
                width: 72px;
                height: 62px;
            }
        }
        &__replenish-balance{

            span{

                &.title{
                    font-size: 20px;
                }
            }
            .sum{
                span{
                    margin-left: 0px;
                    &.text-uppercase{
                        margin-right: 11px;
                    }
                }
                input{
                    width: 219px;
                    margin-bottom: 15px;
                }
            }
        }
        &__refund-money{

            span{

                &.title{
                    font-size: 20px;
                }
            }
            .sum-in-refund{
                
                input{
                    width: 175px;
                    margin-bottom: 15px;
                }
                span{
                    font-size: 16px;
                    margin-right: 60px;
                    margin-left: 0px;
                    &.text-mobile-version{
                        display: block;
                        font: 16px "FuturaPT-Light";
                        color: #444444;
                    }
                }
            }
            .button-in-refund{
                display: block;
                text-align: center;
                margin-top: 0px;
                span{
                    margin-top: 20px;
                    margin-left: 30px;
                }
            }
        }
        &__internal{
            top: 120px;
            height: 1300px;
            z-index: 12;
            .internal-blocks{

                &__text{
                    font-size: 16px;
                }
                &__history-operation{
                    display: block;
                    text-align: center;
                    button{
                        margin-left: 0%;
                    }
                    input{
                        width: 268px;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    label{

                        &:before{
                            top: 20px;
                        }
                    }
                    span{
                        margin-bottom: 5px;
                        &.text{
                            display: block;
                            // margin-bottom: 20px;
                            margin-left: 0px;
                            margin-top: 3px;
                        }
                    }
                }
                &__text-date-history-operation{
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }   
                &__header-list{
                    
                    ul{
                        display: block;
                        &.top-list{
                            display: none;
                        }
                    }
                    li{
                        width: auto;
                        border-bottom: 1px solid #ebebeb;
                        text-align: left;
                        padding: 12px 15px;
                        span{
                            width: 49%;
                            display: inline-block;
                            text-align: left;
                            &.mobile-version{
                                display: inline-block;
                                font: 18px "FuturaPT-Book";
                                color: #0d2f32;
                            }
                        }
                        &:nth-of-type(1){
                            background: #f8f8f9;
                        }
                    }
                    &.addition{
                        border: none;
                    }
                }
                &__export{
                    text-align: center;
                }
            }
        }
        &__in-this-sectionn-you-can{
            display: block;
        }
        .col-2-1{
            width: 100%;
            span{

                &.header-title{
                    font-size: 20px;
                }
            }
        }
        .col-2-2{
            width: 100%;
        }
        &__payment-for-goods{
            padding: 0 33px 0 42px;
            span{
                font-size: 16px;
                &.title{
                    font-size: 16px;
                }
            }
            &:after{
                width: 30px;
                height: 20px;
            }
            &.return-partial{
                padding: 0 15px 0 56px;
                &:after{
                    left: 10px;
                }                
            }
            &.pay-attention{
                padding: 0 15px 0 56px;
                &:after{
                    left: 18px;
                }              
            }
        }
        &__tracking-your{
            padding: 0 18px 0 42px;
            span{
                font-size: 16px;
                &.title{
                    font-size: 16px;
                }
                &.medium{
                    font-size: 16px;
                }
            }
            &:after{
                width: 30px;
                height: 17px;
            }
        }
    }
    .modal-gift-vouchers{

        &__inner {
            width: 100%;
        }
        .gift-vouchers{

            &__header-list{

                input{
                    width: 255px;
                }
            }
        }
        &__block-list{
            
            span{
                font-size: 14px;
            }
        }
    }
}