.page-my-balance{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__text-under-title{
        display: block;
        margin-top: 24px;
        font: 16px "FuturaPT-Light";
        color: #444444;
    }
    &__top-block{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        span{
            font: 16px "FuturaPT-Light";
            color: #444444
        }
    }
    &__button-for-open{  

        button{
            display: inline-block;
            font: 16px "FuturaPT-Medium";
            color: #0d2f32;
            text-transform: uppercase;
            cursor: pointer;
            border-bottom: 1px solid #0d2f32;
            &:hover{
                border-bottom: none;
            }
        }
    }
    &__internal{
        position: absolute;
        display: none;
        top: 60px;
        left: 0;
        width: 100%;
        height: 460px;
        background: #fff;
        z-index: 11;
        .internal-blocks{

            &__text{

                span{
                    font: 18px "FuturaPT-Light";
                    color: #444444;
                }
            }
            &__history-operation{
                display: flex;
                margin-top: 17px;
                img{
                    width: 17px;
                    height: 17px;
                    margin-top: 15px;
                }
                span{
                    display: inline-block;
                    margin-top: 10px;
                    margin-left: 12px;
                    font: 18px "FuturaPT-Light";
                    color: #444444;
                }
                input{
                    width: 181px;
                    height: 45px; 
                    border: 1px solid #ececec;
                    border-radius: 30px; 
                    padding-left: 15px;
                    font: 15px "FuturaPT-Light";
                    color: #444444;
                    margin-left: 12px;
                    padding-right: 50px;
                    box-sizing: border-box;
                }
                label{
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        right: 21px;
                        top: 11px;
                        width: 22px;
                        height: 22px;
                        background: url(../images/my-balance/calendar.svg) center no-repeat;
                    }
                }
                button{
                    display: inline-block;
                    position: relative;
                    width: 147px;
                    line-height: 50px;
                    height: 50px;
                    text-transform: uppercase;
                    font: 14px "FuturaPT-Medium";
                    // margin-top: 17px;
                    cursor: pointer;
                    border: 1px solid #0d2f32;
                    color: #0d2f32;
                    margin-left: 14%;
                    &:hover{
                        background: #0d2f32;
                        color: #fff;    
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #0d2f32;
                    }
                }
            }    
            &__text-date-history-operation{
                margin-top: 25px;
                margin-bottom: 31px;
                span{
                    font: 18px "FuturaPT-Light";
                    color: #0d2f32;
                }
            }  
            &__header-list{
                ul{
                    display: flex;
                }
                li{
                    background: #f8f8f9;
                    width: 100%;
                    padding: 10px 15px;
                    span{
                        font: 16px "FuturaPT-Book";
                        color: #444444;
                        &.mobile-version{
                            display: none;        
                        }
                    }
                }
                &.addition{
                    border-bottom: 1px solid #ebebeb;
                    li{
                        background: transparent;
                    }
                    
                }
            }
            &__export{
                margin-top: 20px;
                display: block;
                text-align: right;  
            }
        }
    }
    &__blocks-actions{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__available-balance,
    &__locked,
    &__balance{
        text-align: center;
        width: 33.56%;
        img{
            width: 50px;
            height: 38px; 
        }
        span{
            display: block;
            &.balance{
                font: 16px "FuturaPT-Demi";
                color: #0d2f32;
                text-transform: uppercase;
                margin-top: 22px;
            }
            &.title{
                font: 18px "FuturaPT-Medium";
                color: #beac83;
                text-transform: uppercase;
                margin-top: 8px;
            }
            &.text{
                font: 18px "FuturaPT-Light";
                color: #444444;
                margin-top: 12px;
                padding: 0 26px;
            }
        }
    }
    &__block-information{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 24px;
        .internal-block{

            img{
                width: 40px;
                height: 42px;
            }
            button{
                display: inline-block;
                vertical-align: top;
                padding-top: 15px;
                font: 18px "FuturaPT-Light";
                color: #444444;
                cursor: pointer;
                @include underline(#444444, 1px, dashed, true);
            }
            &:nth-of-type(1){
                width: 26.32%;
            }
            &:nth-of-type(2){
                width: 44.22%;
            }
            &:nth-of-type(3){
                width: 25%;
            }
            &:nth-of-type(4){
             margin-top: 5px;
            }
        }
    }
    &__get-the-opportunity{
        
        .header-text{
            display: flex;
            justify-content: space-between;
            margin-top: 26px;
            span{
                color: #beac83;
                font: 18px "FuturaPT-Medium";
                text-transform: uppercase;
            }
            button{
                color: #0d2f32;
                cursor: pointer;
                font: 18px "FuturaPT-Medium";
                text-transform: uppercase;
                @include underline(#0d2f32, 0px, solid, true);
            }
        }
        .text{
            margin-top: 32px;

            span{
                display: block;
                color: #444444;
                font: 18px/24px "FuturaPT-Light";
                &.color-red{
                    color: #87141a;
                }
            }
        }
        .button{
            margin-top: 25px;

            button{
                display: inline-block;
                position: relative;
                width: 181px;
                line-height: 61px;
                height: 61px;
                text-transform: uppercase;
                font: 15px "FuturaPT-Medium";
                // margin-top: 17px;
                cursor: pointer;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                &:hover{
                    background: #0d2f32;
                    color: #fff;    
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
    &__gift-certificate{
        margin-top: 33px;
        border-radius: 15px;
        position: relative;
        text-align: center;
        background: #0d2f32;
        padding: 98px 95px 36px 95px;
        span{
            display: block;
            &.title{
                text-transform: uppercase;
                font: 18px "FuturaPT-Medium";
                color: #fff;
            }
            &.text{
                margin-top: 37px;
                font: 18px "FuturaPT-Light";
                color: #fff;
            }
            &.your-certificate{
                display: inline-block;
                margin-bottom: 20px;
                cursor: pointer;
                margin-top: 19px;
                font: 16px "FuturaPT-Book";
                color: #fff;
                @include underline(#fff, 0px, dashed, true);
            }
        }
        input{
            margin-top: 19px;
            text-align: center;
            background: #0d2f32;
            border-bottom: 1px solid white;
            font: 15px "FuturaPT-Book";
            color: #fff;
            width: 218px;
            height: 30px;
        }
        button{
            margin-top: 19px;
            display: block;
            position: relative;
            width: 181px;
            line-height: 61px;
            height: 61px;
            background: #0d2f32;        
            text-transform: uppercase;
            font: 15px "FuturaPT-Medium";
            // margin-top: 17px;
            cursor: pointer;
            border: 1px solid #fff;
            color: #fff;
            margin-left: 37%;
            // &:hover{
            //     background: #fff;
            //     color: #000;    
            // }
            &:after{
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
            }
        }
        &:after{
            content: "";
            position: absolute;
            top: -49px;
            left: 376px;
            width: 125px;
            height: 108px;
            background: url(../images/my-balance/bantik.svg) center no-repeat;
        }
    }
    &__replenish-balance{
        margin-top: 20px;
        span{
            display: block;
            font: 18px "futuraPT-Light";
            color: #444444;
            &.title{
                font: 30px "futuraPT-Medium";
                color: #0d2f32;
                margin-bottom: 20px;
            }
        }
        .sum{
            margin-top: 18px;
            span{
                display: inline-block;
                margin-left: 17px;
                &.text-uppercase{
                    font: 18px "futuraPT-Medium";
                    color: #0d2f32;
                    text-transform: uppercase; 
                    margin-right: 11px;
                    margin-left: 0;
                }
            }
            input{
                display: inline-block;
                font: 16px "FuturaPT-Light";
                color: #444444;
                text-align: center;
                border: 1px solid #ebebeb;
                width: 109px;
                height: 44px;
            }
        }
        .chosen-method{
            margin-top: 40px;
            p{
                display: block;
                font: 18px "futuraPT-Medium";
                color: #0d2f32;
                text-transform: uppercase;
            }
            input{
                display: none;
                position: absolute;
            }
            span{
                margin-top: 17px;
                font: 16px "FuturaPT-Book";
                color: #444444;
                cursor: pointer;
                &:before{
                    content: "";
                    margin-right: 10px;
                    float: left;
                    display: block;
                    margin-top: 3px;
                    width: 13px;
                    line-height: 13px;
                    height: 13px;
                    border: 1px solid #0d2f32;
                    font-family: 'Font Awesome\ 5 Free';
                    text-align: center;
                    font-weight: 600;
                    color: #0d2f32;
                    font-size: 10px;
                }
                // &:nth-of-type(1){
                //     margin-bottom: 10px;
                // }
            }
            input:checked + span {
    
                &:before {
                    content: '\f00c';
                }
            }
        }
    }
    &__refund-money{
        margin-top: 38px;
        span{
            display: block;
            &.title{
                font: 30px "futuraPT-Medium";
                color: #0d2f32;
                margin-bottom: 20px;
            }
            &.text-under-title{
                font: 18px "futuraPT-Light";
                color: #444444;
            }
        }
        .sum-in-refund{
            margin-top: 40px;
            span{
                display: inline-block;
                margin-left: 17px;
                font: 15px "FuturaPT-Light";
                color: #87141a;
                &.text-mobile-version{
                    display: none;
                }
                &.text-uppercase{
                    font: 18px "FuturaPT-Medium";
                    color: #0d2f32;
                    text-transform: uppercase; 
                    margin-right: 11px;
                    margin-left: 0;
                }
            }
            input{
                display: inline-block;
                font: 16px "FuturaPT-Light";
                color: #444444;
                text-align: center;
                border: 1px solid #ebebeb;
                width: 109px;
                height: 44px;
            }
        }
        .chosen-method-in-refund{
            margin-top: 40px;
            p{
                display: block;
                font: 18px "futuraPT-Medium";
                color: #0d2f32;
                text-transform: uppercase;
                &.text{
                    font: 18px "futuraPT-Light";
                    color: #444444;
                    text-transform: none;
                    margin-top: 25px;
                }
            }
            input{
                display: none;
                position: absolute;
            }
            span{
                margin-top: 17px;
                font: 16px "FuturaPT-Book";
                color: #444444;
                cursor: pointer;
                &:before{
                    content: "";
                    margin-right: 10px;
                    float: left;
                    display: block;
                    margin-top: 3px;
                    width: 13px;
                    line-height: 13px;
                    height: 13px;
                    border: 1px solid #0d2f32;
                    font-family: 'Font Awesome\ 5 Free';
                    text-align: center;
                    font-weight: 600;
                    color: #0d2f32;
                    font-size: 10px;
                }
                // &:nth-of-type(1){
                //     margin-bottom: 10px;
                // }
            }
            input:checked + span {
    
                &:before {
                    content: '\f00c';
                }
            }
        }
        .exclamations{
            position: relative;
            margin-top: 20px;
            padding-left: 35px;
            span{
                font: 18px "FuturaPT-Light";
                color: #87141a;
                &:nth-of-type(2){
                    margin-top: 25px;
                }
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 19px;
                height: 19px;
                background: url(../images/my-balance/exclamations.svg) center no-repeat;
            }
        }
        .button-in-refund{
            margin-top: 20px;
            span{
                position: relative;
                display: inline-block;
                font: 18px "FuturaPT-Light";
                color: #444444;
                margin-left: 70px;
                &:after{
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: -34px;
                    width: 26px;
                    height: 19px;
                    background: url(../images/my-balance/arrow-for-text.svg) center no-repeat;
                }
            }

            button{
                display: inline-block;
                position: relative;
                width: 181px;
                line-height: 61px;
                height: 61px;
                text-transform: uppercase;
                font: 14px "FuturaPT-Medium";
                color: #0d2f32;                
                // margin-top: 17px;
                cursor: pointer;
                &.issue-refund{
                    border: 1px solid #0d2f32;
                    color: #0d2f32;
                    &:hover{
                        background: #0d2f32;
                        color: #fff;    
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #0d2f32;
                    }
                }
            }
        }
    }
    &__in-this-sectionn-you-can{
        display: flex;
        margin-top: 35px;
        span{

            &.header-title{
                font: 30px "futuraPT-Medium";
                color: #0d2f32;
                margin-bottom: 20px;
            }
        }
    }
    .col-2-1{
        width: 48%;
        margin-left: 4%;
    }
    .col-2-2{
        width: 48%;
    }
    &__payment-for-goods{
        position: relative;
        margin-top: 20px;
        padding: 0 50px 0 59px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
            &.title{
                font: 18px "FuturaPT-Medium";
                color: #0d2f32;
                margin-bottom: 20px;
            }
            &.color-red{
                color: #87141a;
            }
        }
        &:after{
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 48px;
            height: 31px;
            background: url(../images/my-balance/money-in-payment.svg) center no-repeat;
        }
        &.return-partial{
            margin-top: 59px;
            padding: 0 43px 0 59px;
            &:after{
                background: url(../images/my-balance/hand-with-money-in-return.svg) center no-repeat;
            }
        }
        &.pay-attention{
            margin-top: 79px;
            padding: 0 39px 0 59px;
            &:after{
                background: url(../images/my-balance/exclamations.svg) center no-repeat;
            }
        }
    }
    &__tracking-your{
        position: relative;
        margin-top: 55px;
        padding: 0 50px 0 59px;
        span{
            display: block;
            font: 18px "FuturaPT-Light";
            color: #444444;
            &.title{
                font: 18px "FuturaPT-Medium";
                color: #0d2f32;
                margin-bottom: 3px;
            }
            .medium{
                display: inline-block;
                font: 18px "FuturaPT-Medium";
                color: #444444;
                margin-top: 21px;
            }
        }
        &:after{
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 48px;
            height: 31px;
            background: url(../images/my-balance/optics.svg) center no-repeat;
        }
    }
}
.modal-gift-vouchers{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 17%;
        width: 1170px;
        min-height: 356px;
        margin: auto;
        background-color: #f9f9f9;
    }
    .col {
        padding: 22px 51px 38px 31px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        // text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    .gift-vouchers{
        &__header-list{ 
            display: flex;
            .vouchers-method__method-name {
                position: relative;
                display: inline-block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                text-transform: uppercase;
                font: 15px "FuturaPT-Book";
                color: #0d2f32;
                cursor: pointer;
                &.active{
                    span{
                        border-bottom: 3px solid #0d2f32;
                        padding-bottom: 12px;
                    }
                }
            }
            label{
                position: relative;
                margin-left: 66px;
                &:after{
                    content: "";
                    position: absolute;
                    cursor: pointer;
                    top: 15px;
                    right: 15px;
                    width: 18px;
                    height: 18px;
                    background-image: url(../images/my-balance/search.svg);
                    background-repeat: no-repeat;
                }
            }
            input{
                font: 13px "FuturaPT-Book";
                color: #444444;
                width: 421px;
                height: 45px;
                padding-left: 20px;
            }
        }
    }
    &__block-list{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        span{
            font: 16px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            @include underline(#444444, 0px, dashed, false);
        }
    }
}