@include respond-to('md') {

    .page-my-balance{

        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__block-information{

            .internal-block{

                &:nth-of-type(3){
                    width: 29%;
                }
            }
        }
        &__gift-certificate{

            button{
                margin-left: 34%;
            }
        }
        &__internal{

            .internal-blocks{
                
                
                
                &__history-operation{
    
                    button{
                        margin-left: 7%;
                    }
                    input{
                        width: 155px;
                    }
                }

            }
        }
    }
    .modal-gift-vouchers{

        &__inner {
            width: 768px;
        }
        .gift-vouchers{

            &__header-list{

                input{
                    width: 255px;
                }
            }
        }
        &__block-list{
            
            span{
                font-size: 14px;
            }
        }
    }
}