@include respond-to('md') {
    .page-my-orber{
        &__inner{
            @include container(980px);
            margin-top: 30px;
        }
        .col-1{
            display: none;
        }
        .col-2{
            width: 100%;
        }
    }
}