@include respond-to('ml') {
    .page-my-orber{
        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__titles-list{
            display: none;
        }
        &__element-list{
            position: relative;
            ul{
                display: block;
            }
            li{
                padding-left: 10px;
                &:nth-of-type(1){
                    width: auto;
                    background: #ebebeb;
                    padding-left: 10px;
                }
                &:nth-of-type(2){
                    width: auto;
                }
                &:nth-of-type(3){
                    width: auto;
                }
                &:nth-of-type(4){
                    width: auto;
                }
                &:nth-of-type(5){
                    display: inline-block;
                    width: 45%
                }
                &:nth-of-type(6){
                    display: inline-block;
                    width: 18.33%;
                }
                &:nth-of-type(7){
                    display: inline-block;
                    width: 18.33%;
                }
            }
            span{

                &.mobile-version{
                    display: inline-block;
                    width: 49.5%;
                }
                
            }
            &:after{
                content: "";
                position: absolute;
                top: 21px;
                right: 17px;
                width: 16px;
                height: 12px;
                background: url(../images/my-orber/page-order-arrow-left.svg) center no-repeat;
            }
            &.active{
                
                li{
                    &:nth-of-type(1){
                        background: #beac83;
                    }
                    &.mobile-hidden-list{
                        &:nth-of-type(2){
                            display: none;
                        }
                        &:nth-of-type(3){
                            display: none;
                        }
                        &:nth-of-type(4){
                            display: none;
                        }
                        &:nth-of-type(5){
                            display: none;
                        }
                        &:nth-of-type(6){
                            display: none;
                        }
                        &:nth-of-type(7){
                            display: none;
                        }
                    }
                }
                &:after{
                    background: url(../images/my-orber/page-order-arrow-white-next.svg) center no-repeat;   
                    width: 14px;
                    height: 10px;                 
                }
            }
        }
        &__internal-list{

            ul{
                display: none;
            }
        }
        .my-orbers{

            .my-orbers__header-list{
                display: none;
            }
        }
        &__orber{
            display: block;
            .internal-blocks{

                &__mobile-version{
                    display: block;
                    margin-bottom: 10px;
                    span{
                        display: block;
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                    }
                }
                &__product{
                    width: 78%;
                    margin-left: 32px;
                    .text{
                        padding-top: 38px;
                    }
                }
                &__number{
                    display: inline-block;
                    width: 4%;
                    float: left;
                    padding-top: 40px;
                    .mobile-version{
                        display: inline-block;
                    }
                }
                &__status{
                    text-align: left;
                    width: 100%;

                    .mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-right: 40px;
                    }
                }
                &__amount{
                    width: 100%;
                    text-align: left;
                    margin-top: 15px;
                    .mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        background: #f8f8f9;
                        margin-right: 10px;
                    }
                    .block{
                        text-align: center;
                    }
                }
                &__price{
                    width: 100%;
                    margin-top: 15px;
                    .mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-right: 25px;
                    }
                }
                &__summ{
                    width: 100%;
                    margin-top: 15px;
                    .mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-right: 16px;
                    }
                }
                &__payment-method{
                    width: 100%;
                    margin-top: 15px;
                    .mobile-version{
                        display: inline-block;
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        margin-right: 25px;
                    }
                }
            }
        }
        &__delivery-title-list{
            display: none;
        }
        &__wrapper-for-elment-list-delivery{

            .internal-blocks{
                
                &__elment-list-delivery{
                    position: relative;
                    display: block;
                    padding-bottom: 20px;
                    span{
                        margin-top: 0px;
                        padding-left: 0px;
                        &.initial{
                            display: block;
                            padding-left: 0px;
                            &:nth-of-type(2){
                                margin-top: 20px;
                                width: 50%;
                            }
                        }
                        &.initial-term{
                            display: none;
                        }
                        &.mobile-version{
                            display: block;
                            width: 36%;
                            float: left;
                        }
                    }
                    p{
                      &.initial-top{
                        margin-top: 0px;
                      }
                      &.initial{
                        padding-left: 0px;   
                      }
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 17px;
                        right: 17px;
                        width: 16px;
                        height: 12px;
                        background: url(../images/my-orber/page-order-arrow-left.svg) center no-repeat;
                    }
                    .delivery{
                        width: auto;
                        padding-left: 15px;
                        background: #f8f8f9;
                        padding-top: 0px;
                        span{
                            margin-top: 0px;
                            padding: 12px 0;
                        }
                    }
                    .date-and-time{
                        margin-top: 15px;
                        width: auto;
                        padding-left: 15px;
                        div{
                            display: inline-block;
                        }
                    }
                    .address{
                        margin-top: 15px;
                        width: auto;
                        padding-left: 15px;
                        div{
                            display: inline-block;
                        }
                    }
                    .status{
                        width: auto;
                        padding-left: 15px;
                        margin-top: 10px;
                        div{
                            display: inline-block;
                        }
                    }
                    .initial{
                        width: auto;
                        padding-left: 15px;
                        div{
                            display: inline-block;
                        }
                    }
                    .amount{
                        margin-top: 10px;
                        width: auto;
                        padding-left: 15px;
                        button{
                            display: inline-block;
                            margin-left: 15px;
                        }
                        div{
                            display: inline-block;
                            span{
                                display: inline-block;
                                
                            }
                        }
                    }
                    .amount-delivery{
                        width: auto;
                        margin-top: 10px;
                        padding-left: 15px;
                        div{
                            display: inline-block;
                        }
                    }
                    &.active{
                        p{
                            margin-top: 0px;
                        }
                        .delivery{
                            background: #beac83;
                        }
                        &:after{
                            background: url(../images/my-orber/page-order-arrow-white-next.svg) center no-repeat;   
                            width: 14px;
                            height: 10px;                 
                        }
                    }
                }
                &__you-can-change-date{
                    width: auto;
                    float: unset;
                    margin-bottom: 0px;
                    width: 60%;
                }
                &__convenient-way{
                    width: auto;
                    float: unset;
                    padding-bottom: 0px;
                    span{
                        margin-bottom: 20px;
                    }
                    .datepicker__label{

                        &:nth-of-type(1){
                            margin-right: 50px;
                        }
                        &:before{
                            right: -20px;
                        }
                    }
                    input{
                        width: 180px;
                    }
                }
                &__button-in-bottom{

                    button{
                        margin-left: 40px;
                    }
                }
                &__wrapper{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    button{
                        
                        &.delete-of-delivery{
                            order: 1;
                            margin-bottom: 20px;
                            margin-left: 40px;
                        }
                    }
                }
                &__button-in-bottom{
                    order: 2;
                    width: 100%;
                    padding-bottom: 20px;
                    margin-top: 0px;
                }

            }
            .wrapper-for-product{

                &__list{

                    li{
                        display: none;
                    }
                    .ul-list{
                        display: block;
                        span{
                            &.desktop-version{
                                display: none;
                            }
                            &.mobile-version{
                                display: inline-block;
                            }
                        }
                    }
                }
                &__item-list{
                    padding-bottom: 10px;
                }
                .item{
                    display: block;
                    span{
                        &.mobile-version{
                            display: inline-block;
                            font: 18px "FuturaPT-Book";
                            color: #0d2f32;
                            margin-right: 20px;
                        }
                    }
                    &__mobile-version{
                        display: block;
                        margin-bottom: 20px;
                        margin-left: 15px;
                    }
                    &__image-container{
                        width: 70px;
                        img{
                            width: 55px;
                            height: 65px;
                        }
                    }
                    &__checkbox-container{
                        float: left;
                        margin-left: 0px;
                    }
                    &__item-info{

                        width: 86%;
                        margin-left: 25px;
                    }
                    &__price{
                        width: auto;
                        margin-left: 20px;
                        span{
                            
                            &.mobile-version{
                                margin-right: 87px;
                            }
                        }
                    }
                    
                    .column{
                        &:nth-of-type(3){
                            margin-top: 10px;
                            margin-left: 15px;
                        }
                        &:nth-of-type(4){
                            margin-top: 20px;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
        &__mobile-accordion{
            position: relative;
            display: block;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f3f3f3; 
            span{
                font: 13px "FuturaPT-Book";
                color: #0d2f32;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 12px;
                height: 8px;
                background: url(../images/header/arrow-prev.svg) center no-repeat;
            }
            &.active{
                &:after{
                    background: url(../images/header/arrow-next.svg) center no-repeat;
                }
            }
        }
        &__rate-service-list{
            display: none;
        }
        &__top-button{
            border: none;
            justify-content: unset;
            width: 80%;
            flex-wrap: wrap;
            button{
                margin-right: 15px;
                &:nth-of-type(3){
                    margin-top: 10px;
                } 
            }
        }
        &__top-navigation{
            padding-bottom: 20px;
            ul{
                border-top: 1px solid #f3f3f3;
                padding-left: 16px;
                margin-left: 0px;
                border-bottom: 1px solid #f3f3f3;
            }
            li{
                width: 42px;
                line-height: 42px;
                height: 42px;
                &:before{
                    top: 16px;
                    left: -3px;
                }
            }
            &.mobile-hidden{
                display: none;
            }
        }
        &__internal-rate-service-list{
            ul{
                display: block;
                padding: 12px 0px 16px 0;
            }
            li{
                display: flex;
                padding-left: 15px;
                &:nth-of-type(1){
                    width: auto;
                    padding: 10px 0 10px 15px; 
                    background: #ebebeb;
                }
                &:nth-of-type(2){
                    width: auto;
                    margin-top: 15px;
                }
                
                &:nth-of-type(3){
                    width: auto;
                    margin-top: 15px;
                }
                
                &:nth-of-type(4){
                    width: auto;
                    margin-top: 15px;
                }
                
                &:nth-of-type(5){
                    width: auto;
                    margin-top: 15px;
                }
            }
            span{

                &.mobile-version{
                    display: inline-block;
                    width: 39%;
                    text-align: left;
                }
            }
        }
    }
    .modal-courier-service{
        display: none;
        overflow-y: scroll;
        &__inner{
            width: 407px;
        }
        .col{
            padding: 44px 15px 40px 15px;
        }
        .btn-modal-close {
            position: absolute;
            top: 14px;
            right: 14px;
            width: 26px;
            height: 26px;
            font-size: 0;
            line-height: 0;
            background-color: transparent;
            cursor: pointer;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 13px;
                display: block;
                width: 2px;
                height: 25px;
                background-color: black;
            }
            &::before {
                transform: rotate(-45deg);
            }
            &::after {
                transform: rotate(45deg);
            }
        }
        &__your-comment-and-wishes{

            textarea{
                width: 356px;
            }
        }
        &__your-comment{

            span{
                padding: 12px 0;
                &:nth-of-type(1){
                    margin-bottom: 0px;
                }
                &:before{
                    margin-bottom: 4px;
                }
            }
        }
    }
}