.page-my-orber{
    &__inner{
        @include container();
        margin-top: 20px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    .my-orbers{
        &__header-list{
            border-bottom: 1px solid #f3f3f3;
            display: flex;
            justify-content: space-between;
            .delivery-method__method-name {
                position: relative;
                display: inline-block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 300px;
                height: 47px;
                padding-top: 14px;
                text-transform: uppercase;
                font: 15px "FuturaPT-Book";
                color: #0d2f32;
                cursor: pointer;
                &.active{
                    span{
                        border-bottom: 3px solid #0d2f32;
                        padding-bottom: 12px;
                    }
                }
                
            }
        }
    }
    &__top-button{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        border-bottom: 1px solid #f3f3f3;
        padding-bottom: 21px;
        button{
            font: 16px "FuturaPT-Book";
            color: #444444;
            background: transparent;
            cursor: pointer;
            @include underline(#444444, 0px, solid, true);
        }
    }
    &__top-navigation{
        display: block;
        ul{
            display: block;
            cursor: context-menu;
            margin-left: 16px;
        }
        li{
            position: relative;
            display: inline-block;
            text-align: center;
            width: 64px;
            line-height: 64px;
            height: 64px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &:before{
                position: absolute;
                top: 28px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &:before{
                    background-color: transparent;
                }
            }
            &:nth-of-type(5){
                &:before{
                    background-color: transparent;
                }
            }
            img{
                width: 16px;
                height: 11px;
            }
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;       
            &:hover{
                color: #beac83;
            }
        }
        .navigation-button{

            &after{
                content: "";
                background-image: url();
            }
        }
    }
    &__titles-list{
        background: #f5f5f5;
        ul{
            display: flex;
            text-align: left;
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            height: 49px;
            line-height: 49px;
            &:nth-of-type(1){
                width: 24.25%;
                padding-left: 12px; 
            }
            &:nth-of-type(2){
                width: 25.51%;
            }
            &:nth-of-type(3){
                width: 18.7%;
            }
            &:nth-of-type(4){
                width: 12.52%;
            }
        }
    }
    &__element-list{
        cursor: pointer;
        border-bottom: 1px solid #f3f3f3;
        ul{
            display: flex;
            text-align: left;
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            height: 49px;
            line-height: 49px;
            &:nth-of-type(1){
                width: 24.25%;
                padding-left: 12px; 
            }
            &:nth-of-type(2){
                width: 25.51%;
            }
            &:nth-of-type(3){
                width: 18.7%;
            }
            &:nth-of-type(4){
                width: 12.52%;
            }
            &:nth-of-type(5){
                display: none;
            }
            &:nth-of-type(6){
                width: 9.11%;
            }
            &:nth-of-type(7){
                width: 7.85%;
            }
        }
        a{
            text-decoration: none;
            color: #444444;
            font: 16px "FuturaPT-Book";
            @include underline(#444444, 0px, dashed, true);
        }
        &.active{
            background: #beac83;
            a{
                color: #fff;
                @include underline(#fff, 0px, dashed, true);
            }
            span{
                color: #fff;
            }
        }
        span{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            &.mobile-version{
                display: none;
            }
        }
    }
    &__mobile-accordion{
        display: none;
    }
    &__internal-block-element-list{
        display: none;
        background: #f8f8f9;
        padding: 13px 29px 33px 11px;
        .title{
            font: 16px "FuturaPT-Medium";
            color: #444444;
        }
    }
    &__internal-list{
        margin-top: 10px;
        ul{
            display: flex;
            text-align: left;
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            height: 49px;
            line-height: 49px;
            &:nth-of-type(1){
                width: 3.21%; 
            }
            &:nth-of-type(2){
                width: 33.21%;
            }
            &:nth-of-type(3){
                width: 15.28%;
            }
            &:nth-of-type(4){
                width: 12.64%;
            }
            &:nth-of-type(5){
                width: 10%;
            }
            &:nth-of-type(6){
                width: 9.77%;;
            }
        }
    }
    &__orber{
        display: flex;
        margin-top: 11px;
         .internal-blocks{
            
            &__mobile-version{
                display: none;
            }
            &__number{
                width: 3.21%;
                padding-left: 4px;
                .mobile-version{
                    display: none;
                }
            }
            &__product{
                width: 31.03%;
                display: flex;
                justify-content: space-between;
                .mobile-version{
                    display: none;
                }
                .text{
                    margin-left: 20px;
                    a{
                        color: #0d2f32;
                        font: 16px "FuturaPT-Book";
                        margin-right: 11px;
                        margin-top: 8px;
                        text-decoration: none;
                        border-bottom: 1px solid #0d2f32;
                        &:hover{
                            border-bottom: none;
                        } 
                    }
                }
            }
            &__status{
                width: 9.71%;
                text-align: center;
                span{
                    color: #444444;
                    font: 16px "FuturaPT-Book";
                }
                .mobile-version{
                    display: none;
                }
            }
            &__amount{
                width: 19.81%;
                text-align: center;
                .mobile-version{
                    display: none;
                }
                .block{
                    display: inline-block;
                    background: #fff;
                    width: 91px;
                    line-height: 45px;
                    height: 45px;
                    margin-left: 12px;
                    input[type="number"]{
                        -webkit-appearance: textfield;
                        -webkit-appearance: none;
                        text-align: center;
                        font: 15px "FUturaPT-Light";
                        width: 17px;
                        height: 12px;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }   
                    }
                    button{
                        background: transparent;
                        cursor: pointer;
                    }
                }
                
            }
            &__price{
                width: 10.8%;
                .mobile-version{
                    display: none;
                }
                span{
                    color: #0d2f32;
                    font: 16px "FuturaPT-Demi";
                }
            }
            &__summ{
                width: 12.08%;
                .mobile-version{
                    display: none;
                }
                span{
                    color: #0d2f32;
                    font: 16px "FuturaPT-Demi";
                }
            }
            &__payment-method{
                .mobile-version{
                    display: none;
                }
            }
         }
    }
    &__wrapper-delivery-list{
    }
    &__delivery-title-list{
        background: #f5f5f5;
        ul{
            display: flex;
            text-align: left;
        }
        li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            padding: 9px 0px;
            margin-top: 10px;
            &:nth-of-type(1){
                width: 19.77%;
                padding-left: 30px;
            }
            &:nth-of-type(2){
                width: 22.41%;
            }
            &:nth-of-type(3){
                width: 23.33%;
            }
            &:nth-of-type(4){
                width: 12.52%;
            }
            &:nth-of-type(5){
                width: 12.06%;
            }
            &:nth-of-type(6){
                width: 7.35%;
                margin-top: 0;
                padding-right: 30px;
            }
        }
    }
    &__wrapper-for-elment-list-delivery{
        cursor: pointer;
        .internal-blocks{

            &__title{
                font: 16px "FuturaPT-Book";
                color: #0d2f32;
                padding-left: 11px;
            }
            &__internal-blocks-element-list{
                background: #f8f8f9;
                padding-top: 10px;
            }
            &__elment-list-delivery{
                display: flex;
                p{
                    color: #444444;
                    font: 16px "FuturaPT-Book"; 
                    &.initial-top{
                        display: block;
                        margin-top: 13px;
                    }
                }
                span{
                    display: block;
                    margin-top: 13px;
                    color: #444444;
                    font: 16px "FuturaPT-Book";
                    &.hidden{
                        display: none;
                    }
                    &.mobile-version{
                        display: none;
                    }
                }
                .delivery{
                    width: 18.65%;
                    padding-left: 30px;
                }
                .date-and-time{
                    width: 21.64%;
                    i{
                        margin-right: 9px;
                        font-size: 13px;
                        color: #0d2f32;
                    }
                    button{
                        display: none;
                        background: transparent;
                        margin-top: 10px;
                        color: #fff;
                        font: 16px "FuturaPT-Book";
                        margin-bottom: 4px;
                        @include underline(#fff, 0px, dashed, true);
                    }
                }
                .address{
                    width: 22.1%
                }
                .status{
                    width: 12.64%;
                }
                .amount{
                    width: 10.95%;
                    button{
                        background: transparent;
                        cursor: pointer;
                        display: block;
                        font: 16px "FuturaPT-Book";
                        color: #0d2f32;
                        @include underline(#0d2f32, 0px, solid, true);
                    }
                }
                .amount-delivery{
                    width: 10.35%;
                }
                &.active{
                    background: #beac83;
                    padding-bottom: 18px;
                    .date-and-time{

                        i{
                            color: #fff;
                        }
                    }
                    p{
                        color: #fff;
                        margin-top: 13px;
                        &.initial{
                            display: none;
                        }
                        i{
                            color: #fff;
                        }
                        &.initial-top{
                            display: none;
                        }
                    }
                    span{
                        color: #fff;
                        &.hidden{
                            display: block;
                        }
                        &.initial{
                            display: none;
                        }
                    }
                    button{
                        color: #fff;
                        display: block;
                        cursor: pointer;
                    }
                    .amount{
                        button{
                            @include underline(#fff, 0px, solid, true);
                        }
                    }
                }
            }
            &__you-can-change-date{
                display: flex;
                width: 66%;
                float: left;
                justify-content: space-between;
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 11px;
                padding-right: 16px;
                span{
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                }
                button{
                    display: block;
                    position: relative;
                    font: 14px "FuturaPT-Medium";
                    color: #0d2f32;
                    text-transform: uppercase;
                    background: transparent;
                    cursor: pointer;
                    @include underline(#0d2f32, 0px, solid, true);
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: -24px;
                        width: 13px;
                        height: 13px;
                        background: url(../images/my-orber/close.svg) center no-repeat;
                    }
                }
            }
            &__convenient-way{
                display: block;
                width: 65.1%;
                float: left;
                padding-bottom: 20px;
                margin-top: 20px;
                padding-left: 11px;
                padding-right: 16px;
                .datepicker__label{
                    position: relative;
                    display: inline-block;
                    width: 150px;
                    &:before{
                        content: "";
                        position: absolute;
                        right: 10px;
                        top: 11px;
                        width: 22px;
                        height: 22px;
                        background: url(../images/my-balance/calendar.svg) center no-repeat;
                    }
                }
                label{

                    &:nth-of-type(1){
                        margin-right: 15px;
                    }
                }
                span{
                    display: inline-block;
                    margin-right: 20px;
                    font: 16px "FuturaPT-Light";
                    color: #444444;
                }
                input{
                    width: 150px;
                    height: 45px;
                    font: 15px "FuturaPT-Book";
                    color: #444444;
                    padding-left: 15px;
                    border-radius: 0;
                    padding-right: 15px;
                    box-sizing: border-box;
                }
            }
            &__button-in-bottom{
                display: block;
                width: 31%;
                float: left;
                margin-top: 30px;
            }
            &__wrapper{
                @include clearfix();
                button{
                    display: inline-block;
                    text-transform: uppercase;
                    background: transparent;
                    margin-left: 59px;
                    font: 14px "FuturaPT-Medium";
                    color: #0d2f32;
                    cursor: pointer;
                    @include underline(#0d2f32, 0px, solid, true);
                    &.icons-save{
                        @include underline(#0d2f32, 0px, solid, true);
                        &:before{
                            background: url(../images/my-orber/icon-save.svg) center no-repeat;
                        }
                    }
                    &.delete-of-delivery{
                        margin-top: 20px;
                    }
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 4px;
                        left: -24px;
                        width: 13px;
                        height: 13px;
                        background: url(../images/my-orber/close.svg) center no-repeat;
                    }
                    
                }
            }
        }
        .wrapper-for-product{
                
            &__list{
                display: flex;
                position: relative;
                padding-left: 9px;
                padding-right: 16px;

                li{
                    font: 18px "FuturaPT-Book";
                    color: #0d2f32;
                    &:nth-of-type(1){
                        width: 57.24%;
                    }
                    &:nth-of-type(2){
                        width: 24.71%;
                    }
                    &:nth-of-type(3){
                        
                    }
                }
                .ul-list{
                    span{

                        &.mobile-version{
                            display: none;
                        }
                    }
                    .indicator {
                        position: relative;
                        display: inline-block;
                        margin-right: 32px;
                        border: 1px solid #0d2f32;
                        width: 11px;
                        height: 11px;
                        cursor: pointer;
                    }
                    &.active {

                        .indicator:before {
                            content: "";
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 10px;
                            height: 11px;
                            background: url(../images/my-orber/list-checkbox.svg) center no-repeat;
                        }
                    }
                }
            }
            &__item-list{

            }
            input:checked + label .item__checkbox-container {
                i:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 11px;
                    height: 11px;
                    background: url(../images/my-orber/list-checkbox.svg) center no-repeat;
                }
            }
            .item{
                border-top: 1px solid   #ebebeb;
                padding-top: 24px;
                cursor: pointer;
                display: flex;
                padding-left: 9px;
                padding-right: 16px;
                span{
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                }
                &__mobile-version{
                    display: none;
                }
                &__checkbox-container{
                    width: 5.28%;
                    i{
                        position: relative;
                        display: inline-block;
                        margin-right: 32px;
                        border: 1px solid #0d2f32;
                        width: 11px;
                        height: 11px;
                        cursor: pointer;
                    }
                }
                &__item-info{
                    width: 52%;
                    display: flex;
                }
                &__image-container{
                    width: 96px;
                    img{
                        width: 80px;
                        height: 95px;
                    }
                }
                &__info-container{
                    width: 200px;
                    span{
                        font: 16px/24px "FuturaPT-Book";
                        color: #444444;
                        &.color{
                            color: #0d2f32;
                            border-bottom: 1px solid #0d2f32;
                        }
                    }
                    a{
                        font: 16px/24px "FuturaPT-Book";
                        color: #444444;
                        text-decoration: none;
                        &.color{
                            color: #0d2f32;
                            @include underline(#0d2f32, 0px, solid, true);
                        }
                    }
                    p{
                        display: inline-block;
                        font: 16px "FuturaPT-Book";
                        color: #444444;
                    }
                }
                &__price{
                    width: 24.48%;
                    span{
                        color: #0d2f32;
                        font: 16px "FuturaPT-Demi";
                    }
                }
            }
        }
    }
    &__rate-service-list{
        background: #f5f5f5;
         ul{
            display: flex;
            padding: 11px 14px 8px 14px;
         }
         li{
            font: 18px "FuturaPT-Book";
            color: #0d2f32;
            margin-top: 10px;
            &:nth-of-type(1){
                width: 16.7%;
            }
            &:nth-of-type(2){
                width: 22.94%;
                margin-top: 0;
            }
            &:nth-of-type(3){
                width: 23.88%;
            }
            &:nth-of-type(4){
                width: 19.52%;
            }
            &:nth-of-type(5){
                margin-top: 0;                
            }
         }
    }
    &__internal-rate-service-list{
        border-bottom: 1px solid #ebebeb;
        ul{
            display: flex;
            padding: 12px 14px 16px 14px;
         }
         span{

            &.mobile-version{
                display: none;
            }
         }
         li{
            font: 16px "FuturaPT-Book";
            color: #0d2f32;
            &:nth-of-type(1){
                width: 15.7%;
            }
            &:nth-of-type(2){
                width: 22.5%;
            }
            &:nth-of-type(3){
                width: 23.88%;
            }
            &:nth-of-type(4){
                width: 10.52%;
                text-align: center;
            }
            &:nth-of-type(5){
                width: 25.52%;
                text-align: right;
            }
         }
         button{
             cursor: pointer;
             @include underline(#444444, 0px, dashed, true);

         }
    }
}
.modal-courier-service{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 10%;
        width: 615px;
        min-height: 791px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 44px 78px 40px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__interanal-wrapper{
        margin-top: 26px;
        span{
            font: 16px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__assessnent-work-courier{
        margin-top: 14px;
        span{
            display: block;
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
        }
        img{
            cursor: pointer;
            margin-top: 11px;
        }
    }
    &__your-comment{
        margin-top: 9px;
        margin-bottom: 13px;
        .title{
            display: block;
            margin-bottom: 10px;
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
        }
        input{
            position: absolute;
        }
        span{
            display: block;
            font: 16px "FuturaPT-Book";
            color: #444444;
            cursor: pointer;
            &:before{                               
                content: "";
                margin-right: 10px;
                float: left;
                display: block;
                margin-top: 3px;
                width: 13px;
                line-height: 13px;
                height: 13px;
                border: 1px solid #0d2f32;
                font-family: 'Font Awesome\ 5 Free';
                text-align: center;
                font-weight: 600;
                color: #0d2f32;
                font-size: 10px;
            }
            &:nth-of-type(1){
                margin-bottom: 10px;
            }
        }
        input:checked + span {

            &:before {
                content: '\f00c';
            }
        }
    }
    &__your-comment-and-wishes{

        span{
            display: block;
            margin-bottom: 21px;
            font: 18px "FuturaPT-Medium";
            color: #0d2f32;
        }
        textarea{
            width: 100%;
            height: 153px;
            outline: none;
            padding: 5px 10px;
            font: 16px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__button{
        margin-top: 6px;
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            &.send{
                border: 1px solid #0d2f32;
                color: #0d2f32;
                background: transparent;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
}