@include respond-to('sm') {
    .page-my-orber{
        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        .col-1{
            display: none;
        }
        .col-2{
            width: 100%;
        }
        &__element-list{

            li{

                &:nth-of-type(4){
                    width: 10.52%;
                }
            }
        }
        &__orber{

            .internal-blocks{

                &__product{

                    .text{
                        margin-left: 0px;
                    }
                }
            }
        }
        &__elment-list-delivery{

            .date-and-time{
                width: 20.64%;
            }
        }
        &__wrapper-for-elment-list-delivery{

            .internal-blocks{

                &__convenient-way{

                    .datepicker__label{
                        width: 112px;
                        &:before{
                            right: -2px;
                        }
                    }
                    input{
                        width: 120px;
                    }
                }
                &__button-in-bottom{

                    button{
                        margin-left: 35px;
                    }
                }
            }
        }
    }
}