.page-links {
    @include container();
    margin-top: 50px;
    a {
        display: block;
        line-height: 50px;
        font-size: 24px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: #000;
        font-family: sans-serif, "FuturaPT-Book";
    }
}