@include respond-to('lg') {
    .footer{
        
        &__inner{
            @include container(1024px);
            margin-bottom: 50px;
        }
        .col-1{
            width: 28%;
        }
        &__internal{
            margin-top: 50px;
        }
        &__bottom-block{
            padding: 0px 0;
            margin-top: 34px;
        }
        &__bottom-inner{
            @include container(1024px);
            padding: 19px 10px;
            background-color: #fafafa;
            &:after{
                content: none;
                display: table;
                clear: both;
            }
        }
    }

}