@include respond-to('md') {
    .footer{

        &__inner{
            @include container(980px);
        }
        &__bottom-inner{
            @include container(980px);
            padding: 19px 10px;
            background-color: #fafafa;
            &:after{
                content: none;
                display: table;
                clear: both;
            }
        }
    }   
}