@include respond-to('ml') {
    
    .footer{
        
        &__inner{
            @include container(100%);
        }
        &__bottom-inner{
            @include container(100%);
            padding: 9px 10px;
            background-color: #fafafa;
            &:after{
                content: none;
                display: table;
                clear: both;
            }
            span{
                font: 12px "FuturaPT-Book";
                color: #282828;
            }
            img{
                width: 71px;
                height: 10px;
            }
        }
        .col-1{
            width: 100%;
        }
        &__internal{
            display: block;
    
            .internal-blocks{
                &__address{
                    margin-top: 10px;
                    display: flex;
                    span{
                        margin-left: 11px;
                        color: #282828;
                        font: 15px "FuturaPT-Book"; 
                    }
                    i{
                        margin-top: 5px;
                    }
                }
                &__means-of-payment{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    img{
                        width: 46px;
                        height: 32px;
                    }
                }
                &__client-service,
                &__etc-block,
                &__about-company{
                    margin-top: 10px;
                    margin-bottom: 5px;
                    a{
                        display: block;
                        font: 15px/36px "FuturaPT-Book";
                        color: #282828;
                        text-decoration: none;
                        &:hover{
                            color: #cabc9a;
                        }
                    }
                }
                &__number-phone{
                     i{
                         margin-top: 0px;
                     }
                }
            }
        }
    }
}