@include respond-to('sm') {
    .footer{

        &__inner{
            @include container(768px);
        }
        &__bottom-inner{
            @include container(768px);
            padding: 19px 10px;
            background-color: #fafafa;
            &:after{
                content: none;
                display: table;
                clear: both;
            }
        }
    }
}