.page-catalog{
    &__inner{
        @include container();
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__filter{

        .internal-filter{

            &__wrapper-for-filter{
                position: relative;
                display: flex;
                margin-top: 25px;
                span{
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                    &.active{
                        color: #beac83;
                    }
                }
            }
            &__found{
                width: 39.2%; 
            }
            &__block-filter{
                width: 13.7%;            
                button{
                    text-transform: uppercase;
                    color: #0d2f32;
                    font-size: 15px;
                    font: 15px "FuturaPT-Book";
                    cursor: pointer;
                    background: #fff;
                }
                .block-filter-text{
                    position: relative;
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 6px;
                        left: 68px;
                        width: 12px;
                        height: 8px;
                        background: url(../images/catalog/arrow-for-filter.svg) center no-repeat;
                        cursor: pointer;
                    }
                    &.active{
                        
                        &:after{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 6px;
                            left: 68px;
                            width: 12px;
                            height: 8px;
                            background: url(../images/header/arrow-next.svg) center no-repeat;
                            cursor: pointer;
                        }   
                    }
                }
            }
            &__wrapper-block-filter{
                display: none;
                position: absolute;
                top: 32px;
                left: 0;
                width: 100%;
                background: #fff;
                z-index: 1;
                border-top: 1px solid #cdcdcd;
            }
            &__indernal-wrapper-filter{
                display: flex;
                padding-top: 15px;
                z-index: 1;
                span{
                    display: block;
                    font: 16px/30px "FuturaPT-Book";
                    color: #444444;
                    &.active{
                        color: #beac83;
                    }
                    &.title{
                        font: 16px "FuturaPT-Medium";
                        color: #0d2f32;
                        text-transform: uppercase;
                    }
                }
                a{
                    display: block;
                    font: 16px/30px "FuturaPT-Book";
                    color: #444444;
                    text-decoration: none;
                    &:hover{
                        color: #beac83;
                    }
                    &.active{
                        color: #beac83;
                    }
                    &.title{
                        font: 16px "FuturaPT-Medium";
                        color: #0d2f32;
                        text-transform: uppercase;
                    }
                }
                .col-1{
                    width: 25.7%;
                    .category-text{
                        margin-top: 9px;
                        width: 64.8%; 
                        height: 402px;
                        overflow-y: scroll;
                        &::-webkit-scrollbar { width: 7px; height: 4px;}
                        &::-webkit-scrollbar-button {  display: none; }
                        &::-webkit-scrollbar-track {  background-color: #999;}
                        &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
                        &::-webkit-scrollbar-thumb { height: 50px; background-color: #cdcdcd; border-radius: 3px;}
                        &:-webkit-scrollbar-corner { background-color: #999;}}
                        &:-webkit-resizer { background-color: #666;
                    }
                }
                .col-2{
                    width: 31.5%;
                    .floor{
                        margin-top: 9px;
                        margin-bottom: 34px;
                        input{
                            position: absolute;
                        }
                        span{
                            font: 16px "FuturaPT-Book";
                            color: #444444;
                            cursor: pointer;
                            width: 24%;
                            &:before{                               
                                content: "";
                                margin-right: 10px;
                                float: left;
                                display: block;
                                margin-top: 3px;
                                width: 13px;
                                line-height: 13px;
                                height: 13px;
                                border: 1px solid #0d2f32;
                                font-family: 'Font Awesome\ 5 Free';
                                text-align: center;
                                font-weight: 600;
                                color: #0d2f32;
                                font-size: 10px;
                            }
                            &:nth-of-type(1){
                                margin-bottom: 10px;
                            }
                        }
                        input:checked + span {

                            &:before {
                                content: '\f00c';
                            }
                        }
                    }
                    .size{
                        width: 74.4%;
                        margin-bottom: 22px;
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                           
                        }
                        span{
                            width: 35px;
                            line-height: 35px;
                            width: 35px;
                            border: 1px solid #0d2f32;
                            margin-right: 16px;
                            text-align: center;
                            cursor: pointer;
                        }
                        .item-size-input:checked {
                            color: #0d2f32;
                            + span {
                                color: #fff;
                                background-color: #0d2f32;
                            }
                        }
                        // label:hover + .modal-delivery-details {
                        //     display: inline-block;
                        // }
                        // &:hover {
                        //     color: #0d2f32;
                        // }
                    }
                }
                .col-3{
                    width: 19.7%;
                    .season{
                        margin-top: 9px;
                        margin-bottom: 43px;
                        input{
                            position: absolute;
                        }
                        span{
                            font: 16px "FuturaPT-Book";
                            color: #444444;
                            cursor: pointer;
                            width: 51%;
                            &:before{                               
                                content: "";
                                margin-right: 10px;
                                float: left;
                                display: block;
                                margin-top: 3px;
                                width: 13px;
                                line-height: 13px;
                                height: 13px;
                                border: 1px solid #0d2f32;
                                font-family: 'Font Awesome\ 5 Free';
                                text-align: center;
                                font-weight: 600;
                                color: #0d2f32;
                                font-size: 10px;
                            }
                            &:nth-of-type(1){
                                margin-bottom: 10px;
                            }
                        }
                        input:checked + span {

                            &:before {
                                content: '\f00c';
                            }
                        }
                    }
                    .composition{
                        margin-top: 9px;
                        input{
                            position: absolute;
                        }
                        span{
                            font: 16px "FuturaPT-Book";
                            color: #444444;
                            cursor: pointer;
                            width: 42%;
                            &:before{                               
                                content: "";
                                margin-right: 10px;
                                float: left;
                                display: block;
                                margin-top: 3px;
                                width: 13px;
                                line-height: 13px;
                                height: 13px;
                                border: 1px solid #0d2f32;
                                font-family: 'Font Awesome\ 5 Free';
                                text-align: center;
                                font-weight: 600;
                                color: #0d2f32;
                                font-size: 10px;
                            }
                            &:nth-of-type(1){
                                margin-bottom: 10px;
                            }
                        }
                        input:checked + span {

                            &:before {
                                content: '\f00c';
                            }
                        }
                    }
                }
                .col-4{
                    width: 23.1%;
                    .color{
                        margin-top: 9px;
                        height: 402px;
                        overflow-y: scroll;
                        &::-webkit-scrollbar { width: 7px; height: 4px;}
                        &::-webkit-scrollbar-button {  display: none; }
                        &::-webkit-scrollbar-track {  background-color: #999;}
                        &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
                        &::-webkit-scrollbar-thumb { height: 50px; background-color: #cdcdcd; border-radius: 3px;}
                        &:-webkit-scrollbar-corner { background-color: #999;}
                        &:-webkit-resizer { background-color: #666;}

                        input{
                            position: absolute;
                        }
                        
                        span{
                            font: 16px/30px "FuturaPT-Book";
                            color: #444444;
                            cursor: pointer;
                            &:before{                               
                                content: "";
                                margin-right: 10px;
                                float: left; 
                                display: block;
                                margin-top: 3px;
                                width: 13px;
                                line-height: 13px;
                                height: 13px;
                                border: 1px solid #0d2f32;
                                font-family: 'Font Awesome\ 5 Free';
                                text-align: center;
                                font-weight: 600;
                                color: #0d2f32;
                                font-size: 10px;
                            }
                        }
                        input:checked + span {

                            &:before {
                                content: '\f00c';
                            }
                        }
                    }
                }
            }
            &__price-in-filter{
                span{
                    display: initial;
                }

                .internal-price{
                   
                    &__wrapper-slider{
                        width: 74.4%;
                        height: 2px;
                        border: none;
                        background-color: #0d2f32;
                        margin-top: 23px;
                        span{
                            background-color: #0d2f32;
                            border-radius: 25px;
                            width: 14px;
                            height: 14px; 
                            border: none;
                            margin-top: -1px;
                            cursor: pointer;
                        }
                        .ui-slider-range{
                            background-color: #0d2f32;    
                        }
                    }
                    &__min-value{
                        width: 12%;
                        text-align: left;
                        font: 16px "FuturaPT-Book";
                        color: #444444;
                    }
                    &__max-value{
                        width: 47%;
                        text-align: right;
                        font: 16px "FuturaPT-Book";
                        color: #444444;
                    }
                }
            }
            &__sort{
                width: 29.3%;         
                button{
                    text-transform: uppercase;
                    color: #0d2f32;
                    font-size: 15px;
                    cursor: pointer;
                    font: 15px "FuturaPT-Book";
                    background: #fff;
                }
                .sort-text{
                    position: relative;
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 6px;
                        left: 105px;
                        width: 12px;
                        height: 8px;
                        background: url(../images/catalog/arrow-for-filter.svg) center no-repeat;
                        cursor: pointer;
                    }
                    &.active{
                        
                        &:after{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 6px;
                            left: 105px;
                            width: 12px;
                            height: 8px;
                            background: url(../images/header/arrow-next.svg) center no-repeat;
                            cursor: pointer;
                        }   
                    }
                }
              
            }
            &__wrapper-sort{
                display: none;
                position: absolute;
                top: 32px;
                left: 0;
                width: 100%;
                background: #fff;
                z-index: 1;
                border-top: 1px solid #cdcdcd;
            }
            &__dropdown-view-sort{
                position: relative;
                display: flex;
                width: 100%;
                .internal-block{
                    display: block;
                    margin: 0 auto;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    a{
                        display: block;
                        color: #0d2f32;
                        font: 16px/30px "FuturaPT-Book";
                        text-transform: none;
                        cursor: pointer;
                        text-decoration: none;
                        &:hover{
                            color: #beac83;
                        }
                        &.active{
                            color: #beac83;
                        }
                    }
                }
                .buttom-close{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 33px;
                    height: 33px;
                    background-color: #0d2f32;
                    cursor: pointer;
                    &:after{
                        content: "";
                        display: block;
                        width: 13px;
                        height: 13px;
                        margin: auto;
                        padding-top: 20px;
                        background: url(../images/catalog/close-sort.svg) center no-repeat;
                        background-position: center center;
                    }
                }
                
            }
            &__sort-by-number{
                width: 13.5%;
                a{
                    font: 16px "FuturaPT-Book";
                    color: #444444;
                    text-decoration: none;
                    margin-left: 5px;
                    &:nth-of-type(1){
                        margin-left: 0;
                    }
                    &:hover{
                        color: #beac83;
                    }
                    &.active{
                        color: #beac83;
                    }
                }
            }
            &__view-catalog{
                display: flex;
                justify-content: space-between;
                width: 4.3%;
                .view-four{
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    background: url(../images/catalog/view-catalog-not-active.svg) center no-repeat;
                    &.active{
                        background: url(../images/catalog/view-catalog.svg) center no-repeat;                        
                    }
                }
                .view-two{
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    background: url(../images/catalog/view-catalog-1.png) center no-repeat;
                    &.active{
                        background: url(../images/catalog/view-catalog-active.png) center no-repeat;                        
                    }
                }
                
            }
            &__button-in-mobile{
                display: none;
                justify-content: space-between;
                padding-bottom: 25px;
                button{
                    display: inline-block;
                    text-align: center;
                    background: #f3f3f3;
                    width: 129px;
                    line-height: 42px;
                    height: 42px;
                    font: 14px "FuturaPT-Medium";
                    color: #0d2f32;
                    &.apply{
                        color: #f3f3f3;
                        background: #0d2f32;
                    }
                }
            }
        }
    }
    &__product-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        .page-main-item-slider{
            position: relative;
            margin-left: 28px;
    
            &:nth-of-type(4n + 1) {
                margin-left: 0;
            }
        }
    }
    &__slider-new-collection{
        margin-left: 21px;
        position: relative;

        &:nth-of-type(4n + 1) {
            margin-left: 0;
        }
    }
    &__big-preview{
        position: relative;
        display: inline-block;
        vertical-align: top;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 264px;
        max-height: 323px;
        text-align: center;
        margin-bottom: 39px;
        cursor: pointer;
        &:hover {
            // .page-catalog__wrapper-for-hover {
            //     display: block;
            // }
            // & > .page-catalog__btn-prev{
            //     display: block !important;
            // }
            // & > .page-catalog__btn-next{
            //     display: block !important;
            // }
        }
    }
    &__info-bottom-slider{
        text-align: center;
        margin-bottom: 22px;
        span{
            display: block;
            font: 16px/24px "FuturaPT-Book";
            text-transform: uppercase;
            color: #0d2f32;
            &.line-through{
                text-decoration: line-through;
                font: 16px/30px "FuturaPT-Demi";
            }
            &.line{
                font: 16px/30px "FuturaPT-Demi";
            }
            &.color-red{
                text-transform: inherit;
                font: 14px/10px "FuturaPT-Demi";
                color: #87141a;
            }
            &.title{
                display: inline-block;
                cursor: pointer;
                &:hover{
                    @include underline(#0d2f32, 0px, solid, false);
                }
            }
        }
    }
    &__slider-images{
        position: relative;    
        overflow: hidden;
        &.image-slider-hover {
            display: block;
            img{
                &.active{
                    display: none;
                }
            }
        }  
    }
    &__icon-heart{ 
        display: block;
        &:before{
            content: "";
            position: absolute;
            top: 16px;
            right: 15px;
            width: 19px;
            height: 16px;
            background-image: url(../images/main/icon-heart-hover-1.svg);
            background-repeat: no-repeat;
            z-index: 100;
        }
        &.active{

            &:before{
                background-image: url(../images/main/icon-heart-hover.svg);
                background-repeat: no-repeat;
            }
        }
    }
    &__btn-prev{
        display: none !important;
        position: absolute;
        top: 46.7%;
        left: 13px;
        width: 9px;
        height: 15px;
        background: url("../images/main/arrow-next-hover.svg") center no-repeat;
        cursor: pointer;
        z-index: 1;
        &:hover{
            background: url("../images/main/arrow-prev.svg") center no-repeat;
        }
        &.active{
            display: block !important;
        }
    }
    &__btn-next{
        display: none !important;
        position: absolute;
        top: 46.7%;
        right: 13px;
        width: 9px;
        height: 15px;
        background: url("../images/main/arrow-prev-hover.svg") center no-repeat;
        cursor: pointer;
        z-index: 1;
        &:hover{
            background: url("../images/main/arrow-next.svg") center no-repeat;
        }
        &.active{
            display: block !important;
        }
    }
    &__wrapper-for-hover{
        display: none;
        &.active{
            display: block;
        }
        &:hover {
            display: block;
            
        }
    }
    &__add-to-cart{
        display: block;
        position: absolute;
        bottom: 85px;
        left: 0;
        cursor: pointer;
        .in-cart{
            text-align: center;
            width: 264px;
            line-height: 47px;
            height: 47px;
            background: rgba(255, 255, 255, .8);
            z-index: 10;
            span{
                font: 16px "FuturaPT-Book";
                color: #0d2f32;
                text-transform: uppercase;
            }
            &.active{
                // display: inline;
            }
        }
        .choice-of-size{
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 264px;
            // line-height: 47px;
            height: 85px;
            background: rgba(255, 255, 255, .8);
            z-index: 10;
            span{
                font: 16px/30px "FuturaPT-Book";
                color: #0d2f32;
            }
            ul{
                text-align: center;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
            li{
                font: 16px "FuturaPT-Book";
                color: #0d2f32;
                text-decoration: none;
                &:hover{
                    border-bottom: 1px solid #0d2f32;
                }
                a{
                    font: 16px "FuturaPT-Book";
                    color: #0d2f32;
                    text-decoration: none;
                    &:hover{
                        border-bottom: 1px solid #0d2f32;
                    }
                }
            }
        }
        &.second-size{
            bottom: 106px;
        }
    }
    &__slider-new-collection.active {
        margin-left: 28px;
        &:nth-of-type(0) {
            margin-left: 0;
        }
        .page-catalog__big-preview{
            max-width: 528px;
            max-height: 650px;
        }
        .page-catalog__add-to-cart{
            width: 100%;
            bottom: 101px;
            .in-cart{
                width: 100%;
            }
            .choice-of-size{
                width: 100%;
            }
        }
        .page-catalog__choice-of-size{
            width: 100%;
        }
        .page-catalog__slider-images{
            position: relative;
            img{
                width: 528px;
                height: 650px;
            }   
            &.image-slider-hover {
                display: block;
                img{
                    
                    &.active{
                        display: none;
                    }
                }
            }  
        }
    }
    &__button-chain-navigation{
        display: block;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;        
        text-align: center;
        ul{
            display: block;
            cursor: context-menu;
        }
        li{
            position: relative;
            display: inline-block;
            width: 32px;
            line-height: 32px;
            height: 32px;
            cursor: pointer;
            &.active{
                a{
                    color: #beac83;
                }
            }
            &:before{
                position: absolute;
                top: 11px;
                left: 0;
                background-color: #5f5f5f;
                content: "";
                width: 1px;
                height: 10px;
            }
            &:nth-of-type(1){
                &:before{
                    background-color: transparent;
                }
            }
            &:nth-of-type(5){
                &:before{
                    background-color: transparent;
                }
            }
            img{
                width: 16px;
                height: 11px;
                margin-left: 14px;
            }
            
        }
        a{
            text-decoration: none;
            font: 16px "FuturaPT-Book";
            color: #5f5f5f;   
            &:hover{
                color: #beac83;
            }    
        }
        .navigation-button{

            &after{
                content: "";
                background-image: url();
            }
        }
    }
}