@include respond-to('lg') {
    .page-catalog{
    
        &__inner{
            @include container(1024px);
        }
        &__product-wrapper{
            justify-content: space-between;
        }
        &__filter{

            .internal-filter{
                
                &__indernal-wrapper-filter{

                    .col-2{
                        width: 31.5%;

                        .floor{

                            span{
                                width: 28%;
                            }
                        }
                        .size{
                            width: 84.4%;
                        }
                    }
                    .col-3{
                        .season{

                            span{
                                width: 58%;
                            }
                        }
                        .composition{

                            span{
                                width: 55%;
                            }
                        }
                    }
                }
            }
        }
        &__slider-new-collection{
            text-align: center;
            margin-left: 15px;

            &:nth-of-type(3n + 1) {
                margin-left: 0px;
            }
        }
        &__slider-new-collection.active {
            margin-left: 25%;
            &:nth-of-type(3n + 1){
                margin-left: 25%;
            }
        }
    }
}