@include respond-to('md') {

    .page-catalog{
    
        &__inner{
            @include container(980px);
        }
        &__product-wrapper{
            justify-content: space-between;
        }
        &__filter{

            .internal-filter{
                
                &__indernal-wrapper-filter{

                    .col-2{
                        width: 31.5%;

                        .floor{

                            span{
                                width: 31%;
                            }
                        }
                        .size{
                            width: 88.4%;
                        }
                    }
                    .col-3{
                        .season{

                            span{
                                width: 61%;
                            }
                        }
                        .composition{

                            span{
                                width: 55%;
                            }
                        }
                    }
                }
            }
        }
        &__slider-new-collection{
            margin-left: 21px;
    
            &:nth-of-type(1n + 1) {
                margin-left: 0;
            }
        }
        &__slider-new-collection.active {
            margin-left: 25%;
            &:nth-of-type(2n + 1){
                margin-left: 25%;
            }
        }
    }
}