@include respond-to('mm') {
    .page-catalog{
        
        &__inner{
            @include container(100%);
        }
        &__product-wrapper{
            justify-content: space-evenly;
        }
        &__filter{

            .internal-filter{

                &__price-in-filter{
                    &.internal-price{
                        width: 100%;
                        text-align: left;
                    }
                }
                &__found{
                    display: none;
                }
                &__sort-by-number{
                    display: none;
                }
                &__indernal-wrapper-filter{
                    display: block;
                    padding: 25px 0;
                    a{
                        padding: 8px 0;
                    }
                    .col-1{
                        text-align: left;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #f5f5f5;
                        position: relative;
                        width: auto;
                        .title-block{

                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 6px;
                                right: 10px;
                                width: 12px;
                                height: 8px;
                                background: url(../images/header/arrow-prev.svg) center no-repeat;
                                cursor: pointer;
                            }
                            &.active{
                                &:after{
                                    background: url(../images/header/arrow-next.svg) center no-repeat;
                                }
                            }
                        }
                        .category-text{
                            width: 98.44%;
                        }
                    }
                    .col-2{
                        text-align: left;
                        width: 100%;
                        margin-top: 10px;
                        .floor{

                            span{
                                width: 100%;
                                padding: 12px 0;
                                &:nth-of-type(1){
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        .size{
                            width: 88.4%;
                            padding-bottom: 30px; 
                            li{
                                height: 50px;
                            }
                        }
                        .col-size{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }
                        .col-floor{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }
                        .col-price-in-filter{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }

                    }
                    .col-3{
                        width: 100%;
                        text-align: left;
                        .season{

                            span{
                                width: 100%;
                                padding: 12px 0; 
                                &:nth-of-type(1){
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        .col-season{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }
                        .composition{

                            span{
                                width: 100%;
                                padding: 12px 0; 
                                &:nth-of-type(1){
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        .col-composition{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }
                    }
                    .col-4{
                        text-align: left;
                        margin-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #f5f5f5;
                        position: relative;
                        width: 100%;
                        .title-block{

                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 6px;
                                right: 10px;
                                width: 12px;
                                height: 8px;
                                background: url(../images/header/arrow-prev.svg) center no-repeat;
                                cursor: pointer;
                            }
                            &.active{
                                &:after{
                                    background: url(../images/header/arrow-next.svg) center no-repeat;
                                }
                            }
                        }
                        .color{
                            width: 98.44%;
                            
                            span{
                                width: 100%;
                                padding: 12px 0;
                                &:nth-of-type(1){
                                    margin-bottom: 0px;
                                }
                                &:before{
                                    margin-top: 7px;
                                }
                            }
                        }
                    }
                }
                &__wrapper-for-filter{
                    border-top: 1px solid #f3f3f3;
                    border-bottom: 1px solid #f3f3f3;
                }
                &__view-catalog{
                    display: none;
                }
                &__block-filter{
                    width: 50%;
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    .block-filter-text{

                        &:after{
                            left: auto;
                            right: 20px;
                            top: 20px;
                        }
                        &.active{

                            &:after{
                                left: auto;
                                right: 20px;
                                top: 20px;
                            }
                        }
                    }
                }
                &__sort{
                    width: 50%;
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    .sort-text{
                        &:before{
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: 0;
                            height: 40px;
                            width: 1px;
                            background: #f3f3f3;
                        }

                        &:after{
                            left: auto;
                            right: 5px;
                            top: 20px;
                        }
                        &.active{

                            &:after{
                                left: auto;
                                right: 5px;
                                top: 20px;
                            }   
                        }
                    }
                
                }
                &__wrapper-block-filter {
                    top: 50px;
                }
                &__wrapper-sort{
                    top: 50px;
                    text-align: left;
                }
                &__button-in-mobile{
                    display: flex;
                }
            }
        }
        &__big-preview{
            max-width: 136px;
            max-height: 168px;
            margin-bottom: 10px;
        }
        &__slider-images{

            img{
                width: 136px;
                height: 168px;
            }
        }
        &__slider-new-collection{
            text-align: center;
            margin-left: 15px;

            &:nth-of-type(1n + 1) {
                margin-left: 0px;
            }
        }
        &__info-bottom-slider{

            span{
                font: 16px "FuturaPT-Book";
                &.title{
                    font-size: 14px;
                }
                &.line-through{
                    font-size: 14px;
                }
                &.color-red{
                    font-size: 12px;
                }
            }
        }
        &__add-to-cart{
            
            .in-cart{
                width: 136px;
                line-height: 35px;
                height: 35px;
                span{
                    font-size: 12px;
                }
            }
            .choice-of-size{
                height: 75px;
                width: 136px;
                
                span{
                    font-size: 12px;
                }
                ul{
                   justify-content: unset; 
                }
                li{

                    a{
                        font-size: 12px;
                        margin-left: 10px;
                    }
                }
            }
        }
        &__btn-next{
            width: 7px;
            height: 13px;
        }
        &__btn-prev{
            width: 7px;
            height: 13px;
        }
        &__icon-heart{

            &:before{
                width: 15px;
                height: 13px;
                top: 7px;
                right: 8px;
            }
        }
    }
}