@include respond-to('sm') {
    .page-catalog{
    
        &__inner{
            @include container(768px);
        }
        &__product-wrapper{
            justify-content: unset;
        }
        &__filter{

            .internal-filter{

                &__price-in-filter{

                    &.internal-price{
                        width: 50%;
                        margin-left: 12px;
                    }
                }
                
                &__indernal-wrapper-filter{
                    display: block;
                    padding: 25px 0;
                    .col-1{
                        padding-bottom: 10px;
                        border-bottom: 1px solid #f5f5f5;
                        position: relative;
                        width: auto;
                        .title-block{

                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 6px;
                                right: 10px;
                                width: 12px;
                                height: 8px;
                                background: url(../images/header/arrow-prev.svg) center no-repeat;
                                cursor: pointer;
                            }
                            &.active{
                                &:after{
                                    background: url(../images/header/arrow-next.svg) center no-repeat;
                                }
                            }
                        }
                        .category-text{
                            width: 98.44%;
                        }
                    }
                    .col-2{
                        width: 100%;
                        margin-top: 10px;
                        .floor{

                            span{
                                width: 31%;
                            }
                        }
                        .size{
                            width: 88.4%;
                        }
                        .col-size{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }
                        .col-floor{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }
                        .col-price-in-filter{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }

                    }
                    .col-3{
                        width: 100%;
                        .season{

                            span{
                                width: 61%;
                            }
                        }
                        .col-season{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }
                        .composition{

                            span{
                                width: 55%;
                            }
                        }
                        .col-composition{
                            margin-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #f5f5f5;
                            position: relative;
                            .title-block{

                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                    right: 10px;
                                    width: 12px;
                                    height: 8px;
                                    background: url(../images/header/arrow-prev.svg) center no-repeat;
                                    cursor: pointer;
                                }
                                &.active{
                                    &:after{
                                        background: url(../images/header/arrow-next.svg) center no-repeat;
                                    }
                                }
                            }
                        }
                    }
                    .col-4{
                        margin-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #f5f5f5;
                        position: relative;
                        width: 100%;
                        .title-block{

                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 6px;
                                right: 10px;
                                width: 12px;
                                height: 8px;
                                background: url(../images/header/arrow-prev.svg) center no-repeat;
                                cursor: pointer;
                            }
                            &.active{
                                &:after{
                                    background: url(../images/header/arrow-next.svg) center no-repeat;
                                }
                            }
                        }
                        .color{
                            width: 98.44%;
                        }
                    }
                }
                &__view-catalog{
                    display: none;
                }
            }
        }
        &__slider-new-collection{
            text-align: center;
            margin-left: 51px;
    
            &:nth-of-type(1n + 1) {
                margin-left: 74px;
            }
        }
    }
}