@include respond-to('ml') {
    .page-my-data{
        &__inner{
            @include container(100%);
            margin-top: 30px;
        }
        &__title{
            display: none;
        }
        &__internal-blocks-second-col{
            display: block;
        }
        .col-2-1{
            width: 100%;
            margin-left: 0px;
        }
        .col-2-2{
            width: 100%;
        }
        &__personal-data{
            padding: 24px 8px 0 14px;
            span{

                &.email{
                    margin-top: 50px;
                }
            }
            .left{
                width: 55%;
            }
            .right{
                width: 35%;
            }
        }
        &__button-chenge{
            
            button{
                margin-top: 5px;
            }
        }
        &__parameters-figure{
            padding: 24px 0 30px 15px;
        }
        &__parameters{
            .right{

                span{
                    margin-right: 35px; 
                }
            }
        }
        &__distribution{
            padding: 24px 10px 0 15px;

            b{

                &.span-text{
                    margin-left: 0px;
                }
            }
        }
        &__delite-personal-account{
            padding: 14px 10px 30px 15px;
        }
        &__social-network{
            padding: 14px 10px 30px 15px;
            .block-icons{
                justify-content: space-evenly;
            }
        }
        &__number-phone{
            padding: 14px 10px 30px 15px;
            span{

                &.tel{
                    margin-top: 10px;
                }
            }
        }
        &__adres-email{
            padding: 14px 10px 30px 15px;
        }
        &__password{
            padding: 14px 10px 30px 15px;
        }
        &__additional-protection{
            padding: 14px 10px 30px 15px;            
        }
        &__delivery-address{
            padding: 14px 10px 30px 15px;    
            
            .text{
                
                button{

                    &.edditing{
                        top: 5px;
                        right: 0px;
                        left: auto;
                    }
                    &.close{
                        top: 5px;
                        right: 25px;
                        left: auto;
                        
                    }
                }
            }
        }
        &__requisites{
            padding: 14px 10px 30px 15px;                                    
        }
    }
    .modal-personal-data{
        display: none;
        &__inner{
            width: 418px;
            height: 777px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 18px;
        }
        .col{
            padding: 30px 10px 30px 10px;
        }
        &__internal{

            &.internal-blocks{

                .text{
                    margin-top: 0px;
                    span{
                        margin-top: 10px;
                        &:nth-of-type(2){
                            font-size: 14px;
                        }
                    }
                }
                .internal-block-list{
                    position: relative;
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 8px;
                        right: 4%;
                        width: 12px;
                        height: 8px;
                        cursor: pointer;
                        z-index: 2;
                        background: url(../images/header/arrow-prev.svg) center no-repeat;
                    }
                    &.active{

                        &:after{
                            background: url(../images/header/arrow-next.svg) center no-repeat;
                        }
                    }
                }
                .data-of-dirth{
                    position: relative;
                    button{
                        position: absolute;
                        right: 2.9%;
                        top: 2px;
                        width: 20px;
                        height: 20px;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 6px;
                            left: 7px;
                            width: 7px;
                            height: 7px;
                            background: url(../images/my-data/close-mobile-version.svg) center no-repeat;
                        }
                    }
                }
                .modal-button{
                    display: flex;
                    justify-content: center;
                    text-align: left;
                    button{
                        display: inline-block;
                        width: 156px;
                        line-height: 60px;
                        height: 60px;
                        &.button{
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .modal-change-parametrs{
        display: none;
        &__inner{
            width: 100%;
            min-height: 860px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 18px;
        }
        .col{

        }
        &__parametrs-block{
            width: 64.97%;
            margin-top: 10px;
            span{
                font-size: 15px;
            }
        }
        &__values-block{
            margin-top: 10px;
        }
        &__images-block{
            display: none;
        }
    }
    .modal-change-number-phone{
        display: none;
        &__inner{
            width: 393px;
        }
        .col{
            padding: 31px 15px 38px 15px;
            text-align: left;
        }
        .btn-modal-close {
            top: -30px;
            right: 0px;        
        }
        &__title{
            font-size: 18px;
        }
        &__point-number{
            text-align: center;
        }
    }
    .modal-change-email{
        display: none;

        &__inner{
            width: 393px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 18px;
        }
        .col{
            padding: 31px 0px 38px 10px;
        }
        &__enter-your-mail{
            margin-top: 0px;
        }
        &__text{
            margin-top: 15px;
            span{

                &:nth-of-type(1){
                    margin-top: 0px;
                }
            }
        }
        .btn-modal-close {
            top: -30px;
            right: 0px;        
        }
        &__modal-button{
                text-align: center;
            button{
                width: 262px;
                line-height: 45px;
                height: 45px;
                margin-top: 0px;
                &.button{
                    width: 262px;
                    line-height: 63px;
                    height: 63px;                   
                }
            }
        }
    }
    .modal-change-password{
        display: none;
        &__inner{
            width: 393px;
            min-height: 333px;
        }
        .btn-modal-close {
            top: -30px;
            right: 0px;        
        }
        .col{
            padding: 31px 10px 38px 10px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 18px;
        }
        &__change-password{
            margin-top: 10px;
        }
        &__button{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            button{
                width: 80px;

                &.button{
                    width: 180px;
                }
            }
        }
    }
    .modal-addition-protection{
        display: none;
        &__inner{
            width: 393px;
            min-height: 380px;
        }
        &__title{
            display: block;
            text-align: center;
            font-size: 18px;
            padding: 0 50px;
        }
        .btn-modal-close {
            top: -30px;
            right: 0px;        
        }
        .col{
            padding: 31px 10px 38px 10px;
        }
        &__text{
            padding: 0 10px;
            margin-top: 15px;
        }
        &__protection-your-account{
            margin-top: 10px;
            .internal-block{
                margin-top: 20px;
            }
        }
        &__button{
            margin-top: 0px;
            display: flex;
            justify-content: center;
            button{
                width: 100px;
                &.button{
                    width: 160px;
                }
            }
        }
    }
}