.page-my-data{
    &__inner{
        @include container();
        margin-top: 30px;
    }
    &__chain-navigation{
        display: block;
        text-align: center;
        position: relative;
        margin-top: 42px;
        a{
            font: 15px "FuturaPT-Book";
            color: #444444;
            text-decoration: none;
            margin-right: 8px;
            &:after{
                display: inline-block;
                content: "\f105";
                font-size: 10px;
                font-family: "Font Awesome\ 5 Free";
                margin-left: 11px;
                font-weight: 600;
            }
        }
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__title{
        font: 36px "FuturaPT-Medium";
        color: #0d2f32;
    }
    &__wrapper-for-col{
        display: flex;
        margin-top: 20px;
    }
    .col-1{
        width: 23%;
    }
    .col-2{
        width: 77%;
    }
    &__internal-blocks-second-col{
        display: flex;
    }
    .col-2-1{
        width: 48.57%;
        margin-right: 25px;
    }
    .col-2-2{
        width: 48.57%;
    }
    &__personal-data{
        background-color: #f5f5f5 ;
        padding: 24px 40px 0 26px;
        border-radius: 15px;
        margin-top: 25px;
    }
    &__internal-title{
        font: 18px/24px "FuturaPT-Medium";
        color: #0d2f32;
        text-transform: uppercase;
    }
    &__personal-info{
        
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        span{
            display: block;
            font: 16px/26px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__button-chenge{
        
        button{
            display: inline-block;
            margin-top: 22px;
            cursor: pointer;
            background: transparent;
            font: 16px "FuturaPT-Book";
            color: #444444;
            @include underline(#444444, 0px, dashed, true);
        }
    }
    &__button-internal-block{
        
        button{
            display: inline-block;
            margin-top: 10px;
            cursor: pointer;
            background: transparent;
            font: 16px "FuturaPT-Book";
            color: #444444;
            @include underline(#444444, 0px, dashed, true);
        }
    }
    &__button-confirm{
        display: inline-block;
        position: relative;
        width: 117px;
        line-height: 45px;
        height: 45px;
        text-transform: uppercase;
        font: 14px "FuturaPT-Medium";
        background: transparent;
        border: 1px solid #0d2f32;
        color: #0d2f32;
        margin-top: 17px;
        margin-bottom: 33px;
        cursor: pointer;
        &:hover{
            background: #0d2f32;
            color: #fff;
        }
        &:after{
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 100%;
            height: 100%;
            border: 1px solid #0d2f32;
        }
    }
    &__parameters-figure{
        background-color: #f5f5f5 ;
        padding: 24px 40px 30px 26px;
        border-radius: 15px;
        margin-top: 25px;
    }
    &__parameters{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        span{
            display: block;
            font: 16px/24px "FuturaPT-Book";
            color: #444444;
        }
        .right{
            display: flex;
            span{
                margin-right: 50px;
            }
        }
    }
    &__distribution{
        background-color: #f5f5f5 ;
        padding: 24px 40px 0 26px;
        border-radius: 15px;
        margin-top: 25px;
    }
    &__newsletter{

        .text{

            p{
                font: 16px "FuturaPT-Book";
                color: #444444;
                display: block;
                margin-top: 10px;
            }
            span{
                @include underline(#444444, 0px, solid, true);
            }
        }
        .special-offer{
            margin-top: 9px;
            label {
                display: block;
            }
            input{
                position: absolute;
            }
            b{
                margin-left: 25px;
            }
            p{
                font: 16px/24px "FuturaPT-Book";
                color: #444444;  
            }
            span{
                font: 16px "FuturaPT-Book";
                color: #444444;
                cursor: pointer;
                display: block;
                margin-top: 12px;
                &:before{                
                    content: "";
                    margin-right: 10px;
                    float: left;
                    display: block;
                    margin-top: 3px;
                    width: 13px;
                    line-height: 13px;
                    height: 13px;
                    border: 1px solid #0d2f32;
                    font-family: 'Font Awesome\ 5 Free';
                    text-align: center;
                    font-weight: 600;
                    color: #0d2f32;
                    font-size: 10px;
                }
            }
            input:checked + span {

                &:before {
                    content: '\f00c';
                }
            }
        }
        .botton-block{
            margin-top: 9px;
            label {
                display: block;
            }
            input{
                position: absolute;
            }
            b{
                margin-left: 25px;
            }
            p{
                font: 16px/24px "FuturaPT-Book";
                color: #444444;  
            }
            span{
                font: 16px "FuturaPT-Book";
                color: #444444;
                cursor: pointer;
                display: block;
                margin-top: 12px;
                &:before{                
                    content: "";
                    margin-right: 10px;
                    float: left;
                    display: block;
                    margin-top: 3px;
                    width: 13px;
                    line-height: 13px;
                    height: 13px;
                    border: 1px solid #0d2f32;
                    font-family: 'Font Awesome\ 5 Free';
                    text-align: center;
                    font-weight: 600;
                    color: #0d2f32;
                    font-size: 10px;
                }
            }
            input:checked + span {

                &:before {
                    content: '\f00c';
                }
            }
        }
    }
    &__delite-personal-account{
        background-color: #f5f5f5 ;
        padding: 14px 40px 30px 26px;
        border-radius: 15px;
        margin-top: 25px;
        span{
            display: block;
            font: 16px "FuturaPT-Book";
            color: #444444;
            margin-top: 10px;
        }
    }
    &__social-network{
        background-color: #f5f5f5 ;
        padding: 14px 40px 30px 26px;
        border-radius: 15px;
        margin-top: 25px;
        span{
            display: block;
            font: 16px "FuturaPT-Book";
            color: #444444;
            margin-top: 10px;
        }
        .block-icons{
            margin-top: 37px;
            text-align: center;
            a{
                display: inline-block;
                text-align: center;
                width: 40px;
                line-height: 40px;
                height: 40px;
                color: #444444;
                border-radius: 22px;
                &:hover{
                    background-color: #0d2f32;
                    color: white;
                }
            }
            

        }
    }
    &__additional-protection,
    &__password,
    &__adres-email,
    &__number-phone{
        background-color: #f5f5f5 ;
        padding: 24px 40px 30px 26px;
        border-radius: 15px;
        margin-top: 25px;
        .text{
            margin-top: 11px;
            span{
                display: block;
                font: 16px/24px "FuturaPT-Book";
                color: #444444;
            }
        }
    }
    &__delivery-address{
        background-color: #f5f5f5 ;
        padding: 24px 40px 30px 26px;
        border-radius: 15px;
        margin-top: 25px;
        .text{
            position: relative;
            margin-top: 11px;
            span{
                display: block;
                font: 16px/24px "FuturaPT-Book";
                color: #444444;
            }
            button{
                display: block;
                &.edditing{
                    position: absolute; 
                    top: 5px;
                    right: 3px;
                    width: 13px;
                    height: 13px;
                    background: url(../images/my-data/pencil.svg) center no-repeat;
                    cursor: pointer;
                }
                &.close{
                    position: absolute;
                    top: 5px;
                    right: -25px;
                    width: 13px;
                    height: 13px;
                    background: url(../images/my-data/close.svg) center no-repeat;
                    cursor: pointer;
                }
            }
        }
    }
    &__requisites{
        background-color: #f5f5f5 ;
        padding: 24px 40px 30px 26px;
        border-radius: 15px;
        margin-top: 25px;
    }
    &__internal-requisites{ 
        display: flex;
        margin-top: 11px; 
        margin-bottom: 8px;
        .images{

            img{
                width: 19px;
                height: 19px;
            }
        }
        .text{
            margin-left: 15px;
            span{
                font: 16px "FuturaPT-Book";
                color: #87141a;
            }
        }
    }
}
.modal-personal-data{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 17%;
        width: 615px;
        min-height: 696px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 43px 93px 38px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal{

        &.internal-blocks{

            .text{
                margin-top: 26px;
                span{
                    display: block;
                    margin-top: 17px;
                    color: #444444;
                    font: 16px "FuturaPT-Book";
                    &:nth-of-type(2){
                        margin-right: 50px;
                    }
                }
            }
            .private-data{
                margin-top: 23px;
                input{
                    position: relative;
                    display: block;
                    padding-bottom: 9px;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #f3f3f3;
                    background: transparent;
                    font: 15px "FuturaPT-Book";
                    color: #444444;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: url() center no-repeat;
                    }
                }
                select{
                    position: relative;
                    display: block;
                    padding-bottom: 9px;
                    width: 100%;
                    margin-top: 28px;
                    -webkit-appearance: none;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #f3f3f3;
                    background: transparent;
                    font: 15px "FuturaPT-Book";
                    color: #444444;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 12px;
                        height: 8px;
                        background: url(../images/catalog/arrow-for-filter.svg) center no-repeat;
                    }
                }
            }
            .caution{
                display: flex;
                margin-top: 25px;

                .left{
                    margin-right: 16px;
                    img{
                        width: 19px;
                        height: 19px;
                    }
                }
                .right{
                    
                    span{
                        font: 16px "FuturaPT-Book";
                        color: #87141a;
                    }
                }
            }
            .modal-button{
                text-align: center;
                margin-top: 22px;
                button{
                    display: inline-block;
                    position: relative;
                    width: 182px;
                    line-height: 62px;
                    height: 62px;
                    background: transparent;
                    text-transform: uppercase;
                    font: 14px "FuturaPT-Medium";
                    margin-top: 17px;
                    cursor: pointer;
                    &.button{
                        border: 1px solid #0d2f32;
                        color: #0d2f32;
                        background: transparent;
                        &:hover{
                            background: #0d2f32;
                            color: #fff;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            width: 100%;
                            height: 100%;
                            border: 1px solid #0d2f32;
                        }
                    }
                }
            }
        }
    }
}
.modal-change-parametrs{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    overflow: auto;
    &__inner {
        @include box-shadow();
        position: relative;
        top: 1%;
        width: 975px;
        min-height: 945px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 34px 27px 38px;
        // text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: black;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__internal-wrapper{
        display: flex;
    }
    &__parametrs-block{
        width: 38.97%;
        margin-top: 43px;
        span{
            display: block;
            font: 16px/65px "FuturaPT-Book";
            color: #444444;
        }
    }
    &__values-block{
        margin-top: 43px;
        width: 26.25%;
        input{
            display: block;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
            font: 16px "FuturaPT-Book";
            color: #444444;
            width: 77px;
            line-height: 43px;
            height: 43px;
            border: 1px solid #ebebeb;
        }
    }
    &__images-block{
        display: flex;
        .image{
            display: block;
            margin: auto;
        }
    }
}
.modal-change-number-phone{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 17%;
        width: 555px;
        min-height: 359px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 31px 64px 38px;
        text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__point-number{
        margin-top: 23px;
        span{
            display: block;
            font: 16px "FuturaPT-Book";
            color: #444444;
        }
        input{
            text-align: left;
            display: block;
            width: 100%;
            font: 16px "FuturaPT-Book";
            color: #444444;
            margin-top: 25px;
            border: none;
            border-bottom: 1px solid #f3f3f3;
            padding-bottom: 10px;
        }
    }
    &__text{
        margin-top: 29px;
        span{
            font: 16px "FuturaPT-Book";
            color: #444444;
        }
    }
}
.modal-change-email{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 17%;
        width: 578px;
        min-height: 426px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 31px 74px 38px;
        text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__enter-your-mail{
        text-align: left;
        margin-top: 49px;
        input{
            text-align: left;
            display: block;
            width: 100%;
            font: 15px "FuturaPT-Book";
            color: #444444;
            margin-top: 25px;
            border: none;
            border-bottom: 1px solid #f3f3f3;
            padding-bottom: 10px;
        }
    }
    &__text{
        margin-top: 30px;
        text-align: left;
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
            display: block;
            margin-top: 15px;
        }
    }
    &__modal-button{
        text-align: center;
        margin-top: 5px;
        button{
            display: inline-block;
            position: relative;
            width: 111px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            &.button{
                width: 315px;
                line-height: 62px;
                height: 62px;
                border: 1px solid #0d2f32;
                color: #0d2f32;
                background: transparent;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
}
.modal-change-password{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 17%;
        width: 516px;
        min-height: 394px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 31px 43px 38px;
        text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__change-password{
        text-align: left;
        margin-top: 49px;
        input{
            text-align: left;
            display: block;
            width: 100%;
            font: 15px "FuturaPT-Book";
            color: #444444;
            margin-top: 18px;
            border: none;
            border-bottom: 1px solid #f3f3f3;
            padding-bottom: 10px;
        }
    }
    &__button{
        text-align: center;
        margin-top: 23px;
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            &.button{
                border: 1px solid #0d2f32;
                color: #0d2f32;
                background: transparent;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
}
.modal-addition-protection{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 142, 142, 0.59);
    z-index: 100;
    &__inner {
        @include box-shadow();
        position: relative;
        // top: 17%;
        width: 602px;
        min-height: 468px;
        margin: auto;
        background-color: #ffffff;
    }
    .col {
        padding: 31px 43px 38px;
        text-align: center;
    }
    &__title{
        display: block;
        font: 30px "FuturaPT-Medium";
        color: #0d2f32;
        text-align: center;
    }
    .btn-modal-close {
        position: absolute;
        top: -31px;
        right: -37px;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 13px;
            display: block;
            width: 2px;
            height: 25px;
            background-color: white;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
    &__text{
        margin-top: 47px;
        text-align: center;
        padding: 0 56px;
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
            display: block;
            margin-top: 15px;
        }
    }
    &__protection-your-account{
        margin-top: 40px;
        text-align: center;
        span{
            font: 15px "FuturaPT-Book";
            color: #444444;
            margin-top: 15px;
        }
        .internal-block{
            margin-top: 36px;
            display: inline-block;
            text-align: center;
            label{
                font: 16px "FuturaPT-Book";
                color: black;
                padding-left: 5px;
                padding-right: 14px;
                float: left;
                cursor: pointer;
            }
            span{
                
                &.title{
                    font: 15px "FuturaPT-Book";
                    color: #444444;
                    display: block;
                    margin-top: 15px;  
                    &:before{
                        content: '';
                        display: block;
                        width: 0;
                        line-height: 0;
                        height: 0;
                        border: none;
                    }
                }
                &:before{
                    float: left;
                    content: '';
                    display: block;
                    width: 17px;
                    line-height: 17px;
                    height: 17px;
                    border: 1px solid #ebebeb;
                    border-radius: 20px;
                    font-family: 'Font Awesome\ 5 Free';
                    font-weight: 900;
                    text-align: center;
                    font-size: 12px;
                    background-color: white;
                }
            }
            input:checked + span{
    
                &:before{
                    content: '\f111';
                }
            }
        }
       
    }
    &__button{
        text-align: center;
        margin-top: 16px;
        button{
            display: inline-block;
            position: relative;
            width: 182px;
            line-height: 62px;
            height: 62px;
            background: transparent;
            text-transform: uppercase;
            font: 14px "FuturaPT-Medium";
            margin-top: 17px;
            cursor: pointer;
            &.button{
                border: 1px solid #0d2f32;
                color: #0d2f32;
                background: transparent;
                &:hover{
                    background: #0d2f32;
                    color: #fff;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #0d2f32;
                }
            }
        }
    }
}