@include respond-to('sm') {
    .page-my-data{
        &__inner{
            @include container(768px);
            margin-top: 30px;
        }
        &__personal-info{

            span{

                &.email{
                    margin-top: 25px;
                }
            }
        }
        &__delivery-address{
            padding: 24px 70px 30px 26px;

            .text{
                
                button{
                    &.edditing{
                        top: 28px;
                        left: 124px;
                        right: auto;
                    }
                    &.close{
                        top: 28px;
                        left: 93px;
                        right: auto;
                    }
                }
            }
        }
        &__social-network{

            .block-icons{
                display: flex;
                justify-content: space-evenly;
                a{
                    width: 25px;
                    line-height: 25px;
                    height: 25px;
                }
            }
        }
    }
}